<div class="apop-page apop-landing-page apop-resource-page">
    <div class="apop-page-content">
        <h2 class="apop-page-title">Competitive Landscape</h2>


        <div class="apop-toggle-accordion-button-container">
            <button class="button apop-dark-button apop-toggle-accordion-button" ng-click="category_accordion.expandAll(); scrollMainResize()" ng-if="!category_accordion.hasExpandedPane()">Show All Resources</button>
            <button class="button apop-dark-button apop-toggle-accordion-button" ng-click="category_accordion.collapseAll(); scrollMainResize()" ng-if="category_accordion.hasExpandedPane()">Hide All Resources</button>
        </div>

        <div class="apop-submessages-container">
            <v-accordion class="vAccordion--default" multiple control="category_accordion">
                <div class="accordion-panel-parent">
                    <v-pane expanded="false">
                        <v-pane-header ng-click="scrollMainResize()">
                            <p class="accordion-toggle-title">Competitor Overview Slide Decks</p>
                        </v-pane-header>
                        <v-pane-content>
                            <div class="accordion-content">
                                <div class="accordion-content-body">
                                    <div class="apop-page-references">
                                            <div ng-if="document.id === 9 || document.id === 15 || document.id === 17 || document.id === 18 || document.id === 20" ng-repeat="document in documents | orderBy: 'Title'">
                                                <button ng-click="promptDisclaimer(document.id);" class="button button-block apop-button apop-pageref-button apop-evidence-button">
                                                    {{document.Title}}
                                                    <sup ng-if="isLatestDocument(documents, document.id)" style="color: #944e2e;"><strong><em>*new</em></strong></sup>
                                                </button>
                                            </div>                                              
                                    </div>
                                </div>
                            </div>
                        </v-pane-content>
                    </v-pane>
                </div>
                <div class="accordion-panel-parent">
                    <v-pane expanded="false">
                        <v-pane-header ng-click="scrollMainResize()">
                            <p class="accordion-toggle-title">Manuscript Summaries</p>
                        </v-pane-header>
                        <v-pane-content>
                            <div class="accordion-content">
                                <div class="accordion-content-body">
                                    <div class="apop-page-references">
                                            <div ng-if="document.id === 11" ng-repeat="document in documents | orderBy: 'Title'">
                                                <button ng-click="promptDisclaimer(document.id);" class="button button-block apop-button apop-pageref-button apop-evidence-button">
                                                    {{document.Title}}
                                                    <sup ng-if="isLatestDocument(documents, document.id)" style="color: #944e2e;"><strong><em>*new</em></strong></sup>
                                                </button>
                                            </div>                                              
                                    </div>
                                </div>
                            </div>
                        </v-pane-content>
                    </v-pane>
                </div>
                <div class="accordion-panel-parent">
                    <v-pane expanded="false">
                        <v-pane-header ng-click="scrollMainResize()">
                            <p class="accordion-toggle-title">Other Materials</p>
                        </v-pane-header>
                        <v-pane-content>
                            <div class="accordion-content">
                                <div class="accordion-content-body">
                                    <div class="apop-page-references">
                                            <div ng-if="document.id === 12" ng-repeat="document in documents | orderBy: 'Title'">
                                                <button ng-click="promptDisclaimer(document.id);" class="button button-block apop-button apop-pageref-button apop-evidence-button">
                                                    {{document.Title}}
                                                    <sup ng-if="isLatestDocument(documents, document.id)" style="color: #944e2e;"><strong><em>*new</em></strong></sup>
                                                </button>
                                            </div>                                              
                                    </div>
                                </div>
                            </div>
                        </v-pane-content>
                    </v-pane>
                </div>
            </v-accordion>
        </div>
        
    </div>
</div>