<div class="apop-page apop-congress-page">

	<!-- Count upcoming congresses for ng-if right below -->
	<div ng-repeat="activity in congresses.activities | orderBy:'end_date'| isFuture:'end_date' | filter:{'image':true} as congressesFiltered"></div>

	<h2 class="apop-page-title" ng-if="congressesFiltered.length > 0">Upcoming Congress Activity</h2>

	<div class="apop-congress-container" ng-if="congressesFiltered.length > 0">

		<ul class="apop-congress-grid">

			<li ng-repeat="activity in congresses.activities | orderBy:'end_date'| isFuture:'end_date' | filter:{'image':true}" ng-class="{'apop-congress-double-item': $first}" class="apop-congress-item">
				<a href="#/congress-activities/congress/{{activity.id}}">
				<div class="apop-congress-card">
					<p ng-show="$index === 0" class="apop-congress-featured-caption" bind-html-compile="congresses.featured_title"></p>
					<img class="apop-congress-card-image" ng-src="../images/congress-grid/congress-grid-image-{{ activity.image_id }}.png" />
					<div class="apop-congress-card-content">
						<p class="apop-congress-card-title" bind-html-compile="activity.event"></p>
						<p class="apop-congress-card-location" bind-html-compile="activity.location"></p>
						<p class="apop-congress-card-date" bind-html-compile="activity.dates"></p>
					</div>
				</div>
				</a>
			</li>
			
		</ul>
	</div>

	<!-- Count upcoming congresses for ng-if right below -->
	<div ng-repeat="activity in congresses.activities | orderBy:'-end_date'| isPast:'end_date' | filter:{'image':true} as congressesPast"></div>

	<h2 class="apop-page-title" ng-if="congressesPast.length > 0">Past Congress Activity</h2>

	<div class="apop-congress-container" ng-if="congressesPast.length > 0">

		<ul class="apop-congress-grid">

			<li ng-repeat="activity in congresses.activities | orderBy:'-end_date'| isPast:'end_date' | filter:{'image':true}" class="apop-congress-item">
				<a href="#/congress-activities/congress/{{activity.id}}">
				<div class="apop-congress-card" style="background-image: url('../images/congress-grid/congress-grid-image-{{activity.image_id}}.jpg');">
					<div class="apop-congress-card-content">
						<p class="apop-congress-card-title" bind-html-compile="activity.event"></p>
						<p class="apop-congress-card-location" bind-html-compile="activity.location"></p>
						<p class="apop-congress-card-date" bind-html-compile="activity.dates"></p>
					</div>
				</div>
				</a>
			</li>
			
		</ul>
	</div>

	<!-- Count upcoming congresses for ng-if right below -->
	<div ng-repeat="activity in congresses.activities | orderBy:'end_date'| isPast:'end_date' | filter:{'image':false} as congressesOther"></div>

	<h2 class="apop-page-title" ng-if="congressesOther.length > 0">Other Psychiatric Related Congress Activity</h2>

	<!-- PAGE REFERENCES -->
	<div class="apop-page-references apop-other-events" ng-if="congressesOther.length > 0">
		<ul class="apop-page-reference-buttons">

			<a ng-repeat="activity in congresses.activities | orderBy:'end_date'| isPast:'end_date' | filter:{'image':false}" class="button button-block apop-button apop-pageref-button" href="#/congress-activities/congress/{{activity.id}}">
				<li>
					<p class="apop-congress-list-title" bind-html-compile="activity.event"></p>
					<p class="apop-congress-list-date" bind-html-compile="activity.dates"></p>
					<p class="apop-congress-list-location" bind-html-compile="activity.location"></p>
				</li>
			</a>
			
		</ul>
	</div>

</div>