<!-- <div class="apop-page apop-congress-details-page" style="background-image: url('../images/congress-detail/congress-detail-image-{{congress.image_id}}.png');"> -->
<div class="apop-page apop-congress-details-page">

	<div class="apop-congress-details-container">

		<div class="apop-sidebar">
			<div ng-repeat="congressinformation in congress.sidebar" class="apop-sidebar-block">
				<h3 ng-if="createDate(congress.end_date) >= today" class="block-title" bind-html-compile="congressinformation.title"></h3>
				<h3 ng-if="createDate(congress.end_date) < today" class="block-title" bind-html-compile="congressinformation.title_past"></h3>

				<div class="block-tagline" bind-html-compile="congressinformation.tagline"></div>

				<a ng-if="createDate(congress.end_date) >= today" class="button button-block apop-button apop-sidebar-button" href="{{congressinformation.href}}" target="_blank" bind-html-compile="congressinformation.button"></a>
				<a ng-if="createDate(congress.end_date) < today" class="button button-block apop-button apop-sidebar-button" href="{{congressinformation.href_past}}" target="_blank" bind-html-compile="congressinformation.button"></a>
			</div>
		</div>

		<div class="apop-congress-details-content">

			<img class="apop-congress-details-logo" ng-src="../images/congress-grid/congress-grid-image-{{ congress.image_id }}.png" />

			<div class="apop-congress-details-header">
				<h2 class="apop-congress-detail-title" bind-html-compile="congress.event"></h2>

				<h3 class="apop-congress-detail-location" bind-html-compile="congress.location"></h3>

				<h3 class="apop-congress-detail-date" bind-html-compile="congress.dates"></h3>
			</div>

			<div class="apop-congress-details-paragraph" bind-html-compile="congress.details"></div>

		</div>

	</div>

</div>