<!-- <div class="apop-dashboard">

	<ul class="apop-dashboard-grid">
		<li class="apop-dashboard-item" id="apop-dashboard-box-a">

			<div class="apop-dashboard-box">
				<a class="apop-dashboard-item-header" ng-href="{{buckets['core-scientific-statements'].Route}}">
					<i class="apop-dashboard-icon apop-icon-statements"></i>
					<h2 class="item-title" bind-html-compile="buckets['core-scientific-statements'].Title"></h2>
				</a>
				<div class="apop-dashboard-item-content">

					<ul class="count-container count-list">
						<li class="count-item" ng-repeat="(index, chapter) in chapters track by chapter.id">
							<a class="count-button" ng-href="{{buckets['core-scientific-statements'].Route}}/{{chapter.id}}">
								<p class="count-num" ng-if="chapter.Title.indexOf('Appendix') !== -1">
									<i class="apop-icon-appendix"></i>
								</p>
								<p class="count-num" ng-if="chapter.Title.indexOf('Appendix') == -1">
									<span>
										<nobr>{{chapter.Label}}</nobr>
									</span>
								</p>
								<p class="count-label" bind-html-compile="chapter.Title"></p>
							</a>
						</li>
					</ul>

					<a ng-href="{{buckets['core-scientific-statements'].Route}}" class="apop-dashboard-link-button">
						<div class="apop-dashboard-link-button-content">
							<p>Enter Section</p>
							<i class="icon ion-chevron-right"></i>
						</div>
					</a>

				</div>
			</div>

		</li>
		<li class="apop-dashboard-item" id="apop-dashboard-box-b">

			<div class="apop-dashboard-box">
				<a ng-href="{{buckets['scientific-lexicon'].Route}}" class="apop-dashboard-item-header">
					<i class="apop-dashboard-icon apop-icon-lexicon"></i>
					<h2 class="item-title" bind-html-compile="buckets['scientific-lexicon'].Title"></h2>
				</a>
				<div class="apop-dashboard-item-content">

					<ul class="count-container count-single">
						<li class="count-icon-row">
							<i class="apop-dashboard-icon apop-icon-abbreviations"></i>
							<p class="count-label">Abbreviations</p>
						</li>
					</ul>

					<a ng-href="{{buckets['scientific-lexicon'].Route}}" class="apop-dashboard-link-button">
						<div class="apop-dashboard-link-button-content">
							<p>Enter Section</p>
							<i class="icon ion-chevron-right"></i>
						</div>
					</a>
				</div>
			</div>

		</li>
		<li class="apop-dashboard-item" id="apop-dashboard-box-c">

			<div class="apop-dashboard-box">
				<a ng-href="{{buckets['facts-and-evidence'].Route}}" class="apop-dashboard-item-header">
					<i class="apop-dashboard-icon apop-icon-evidence"></i>
					<h2 class="item-title" bind-html-compile="buckets['facts-and-evidence'].Title"></h2>
				</a>
				<div class="apop-dashboard-item-content">

					<ul class="count-container count-double">
						<li class="count-icon-row">
							<i class="apop-dashboard-icon apop-icon-references"></i>
							<p class="count-label">References</p>
						</li>
						<li class="count-icon-row">
							<i class="apop-dashboard-icon apop-icon-tags"></i>
							<p class="count-label">Tags &amp; Subtags</p>
						</li>
					</ul>

					<a ng-href="{{buckets['facts-and-evidence'].Route}}" class="apop-dashboard-link-button">
						<div class="apop-dashboard-link-button-content">
							<p>Enter Section</p>
							<i class="icon ion-chevron-right"></i>
						</div>
					</a>
				</div>
			</div>

		</li>
	</ul> -->
	<!-- .apop-dashboard-grid -->

<!-- </div> -->
<!-- .apop-dashboard -->

<div class="apop-dashboard" ng-click="hideSearchResults()">

	<ul class="apop-dashboard-grid">
		<li class="apop-dashboard-item apop-dashboard-background">

			<div class="apop-dashboard-box">
				<a class="apop-dashboard-item-header" href="#/core-scientific-statements">
					<!-- <i class="apop-dashboard-icon apop-icon-statements"></i> -->
					<img src="./images/dashboard-icon-01.png" width="40" height="40" alt="icon" class="item-icon" />
					<h2 class="item-title">Scientific and Value Narratives</h2>
				</a>
				<div class="apop-dashboard-item-content">

					<div class="apop-dashboard-section-content" style="background-image: url('../images/dashboard-section-bg-01.png');">
						<div class="apop-dashboard-section-details">
							<p>Scientific Narrative</p>
						</div>
					</div>

					<!-- <ul class="count-container count-list">
						<li class="count-item">

							<div class="count-item-child">
								<a class="count-button disabled" href="#/core-scientific-statements/disease-unmet-need">
									<p class="count-num"><span>1</span></p>
									<p class="count-label">Disease &amp; Unmet Need</p>
								</a>
							</div>

						</li>
						<li class="count-item">

							<div class="count-item-child">
								<a class="count-button disabled" href="#/core-scientific-statements/moa">
									<p class="count-num"><span>2</span></p>
									<p class="count-label">MOA</p>
								</a>
							</div>

						</li>
						<li class="count-item">

							<div class="count-item-child">
								<a class="count-button disabled" href="#/core-scientific-statements/pk-efficacy">
									<p class="count-num"><span>3</span></p>
									<p class="count-label">PK and Efficacy</p>
								</a>
							</div>

						</li>
						<li class="count-item">

							<div class="count-item-child">
								<a class="count-button disabled" href="#/core-scientific-statements/safety-tolerability">
									<p class="count-num"><span>4</span></p>
									<p class="count-label">Safety &amp; Tolerability</p>
								</a>
							</div>

						</li>
						<li class="count-item">

							<div class="count-item-child">
								<a class="count-button disabled" href="#/core-scientific-statements/value">
									<p class="count-num"><span>5</span></p>
									<p class="count-label">Value</p>
								</a>
							</div>

						</li>
						<li class="count-item">

							<div class="count-item-child">
								<a href="#/core-scientific-statements" class="count-button">
									<p class="count-label">Enter Section</p>
									<i class="icon ion-chevron-right"></i>
								</a>
							</div>
						</li>
					</ul> -->
					<a href="#/core-scientific-statements" class="apop-dashboard-link-button">
						<div class="apop-dashboard-link-button-content">
							<p>Enter Section</p>
							<i class="icon ion-chevron-right"></i>
						</div>
					</a>
				</div>
			</div>

		</li>
		<li class="apop-dashboard-item apop-dashboard-background">

			<div class="apop-dashboard-box">
				<a href="#/scientific-lexicon" class="apop-dashboard-item-header">
					<!-- <i class="apop-dashboard-icon apop-icon-lexicon"></i> -->
					<img src="./images/dashboard-icon-02.png" width="40" height="40" alt="icon" class="item-icon" />
					<h2 class="item-title">Lexicon</h2>
				</a>
				<div class="apop-dashboard-item-content">

					<div class="apop-dashboard-section-content" style="background-image: url('../images/dashboard-section-bg-02.png');">
						<div class="apop-dashboard-section-details">
							<p>Lexicon</p>
						</div>	
						<!-- <ul class="count-container count-triple">
							<li class="count-row">

								<a class="count-button disabled" href="#/scientific-lexicon/lexicon">
									<p class="count-num"><span>XX</span></p>
									<p class="count-label">Lexicon</p>
								</a>

								
							</li>
							<li class="count-row">

								<a class="count-button disabled" href="#/scientific-lexicon/glossary">
									<p class="count-num"><span>XX</span></p>
									<p class="count-label">Definitions</p>
								</a>							

							</li>
							<li class="count-row">

									<a class="count-button disabled" href="#/scientific-lexicon/abbreviations">
										<p class="count-num"><span>XX</span></p>
										<p class="count-label">Abbreviations</p>
									</a>

							</li>
						</ul> -->
					</div>

					<a href="#/scientific-lexicon" class="apop-dashboard-link-button">
						<div class="apop-dashboard-link-button-content">
							<p>Enter Section</p>
							<i class="icon ion-chevron-right"></i>
						</div>
					</a>
				</div>
			</div>

		</li>
		<li class="apop-dashboard-item">

			<div class="apop-dashboard-box">
				<a href="#/facts-and-evidence" class="apop-dashboard-item-header">
					<!-- <i class="apop-dashboard-icon apop-icon-evidence"></i> -->
					<img src="./images/dashboard-icon-03.png" width="40" height="40" alt="icon" class="item-icon" />
					<h2 class="item-title">Facts and Evidence</h2>
				</a>
				<div class="apop-dashboard-item-content">

					<!-- <ul class="count-container count-double">
						<li class="count-row">

							<p class="count-num" bind-html-compile="references.length"><span></span></p>
							<p class="count-label">References</p>

						</li>
						<li class="count-row">

							<p class="count-num"><span>XX</span></p>
							<p class="count-label">Tags and Subtags</p>

						</li>
					</ul> -->
					<ul class="count-container count-single">
						<li class="count-row">

							<p class="count-num" bind-html-compile="references.length"><span></span></p>
							<p class="count-label">References</p>

						</li>
					</ul>

					<a href="#/facts-and-evidence" class="apop-dashboard-link-button">
						<div class="apop-dashboard-link-button-content">
							<p>Enter Section</p>
							<i class="icon ion-chevron-right"></i>
						</div>
					</a>
				</div>
			</div>

		</li>
		<li class="apop-dashboard-item">

			<div class="apop-dashboard-box apop-dashboard-congress">
				<a href="#/congress-activities" class="apop-dashboard-item-header">
					<img src="./images/dashboard-icon-04.png" width="40" height="40" alt="icon" class="item-icon" />
					<h2 class="item-title">Congress Activities</h2>
				</a>

				<!-- Count upcoming congresses for ng-if below -->
				<div ng-repeat="activity in congresses.activities | orderBy:'end_date'| isFuture:'end_date' | filter:{'image':true} as dashboardCongressesFiltered"></div>

				<!-- If there are upcoming congresses show the next upcoming -->
				<div ng-if="dashboardCongressesFiltered.length > 0" style="display: inline;">
					<div class="apop-dashboard-item-content" ng-repeat="activity in congresses.activities | orderBy:'end_date'| isFuture:'end_date' | filter:{'image':true} " ng-if="$first">

						<div class="apop-dashboard-congress-content" style="background-image: url('../images/congress-details/congress-details-image-{{activity.image_id}}.png');">
							<p class="apop-dashboard-congress-caption">Next Event:</p>
							<div class="apop-dashboard-congress-details">
								<p class="apop-dashboard-congress-title" bind-html-compile="activity.event"></p>
								<p class="apop-dashboard-congress-date" bind-html-compile="activity.dates"></p>
								<p class="apop-dashboard-congress-location" bind-html-compile="activity.location"></p>
							</div>
						</div>

					</div>
				</div>

				<!-- If there are not any upcomiong congresses, show the last one to have occured -->
				<div ng-if="dashboardCongressesFiltered.length == 0" style="display: inline;">
					<div class="apop-dashboard-item-content" ng-repeat="activity in congresses.activities | orderBy:'-end_date'| isPast:'end_date' | filter:{'image':true}" ng-if="$first">

						<div class="apop-dashboard-congress-content" style="background-image: url('../images/congress-details/congress-details-image-{{activity.image_id}}.png');">
							<p class="apop-dashboard-congress-caption">Most Recent Event:</p>
							<div class="apop-dashboard-congress-details">
								<p class="apop-dashboard-congress-title" bind-html-compile="activity.event"></p>
								<p class="apop-dashboard-congress-date" bind-html-compile="activity.dates"></p>
								<p class="apop-dashboard-congress-location" bind-html-compile="activity.location"></p>
							</div>
						</div>

					</div>
				</div>

				<a href="#/congress-activities" class="apop-dashboard-link-button">
					<div class="apop-dashboard-link-button-content">
						<p>Enter Section</p>
						<i class="icon ion-chevron-right"></i>
					</div>
				</a>
			</div>

		</li>
		<li class="apop-dashboard-item apop-dashboard-background">

			<div class="apop-dashboard-box">
				<!-- <a href="#/competitive-landscape" class="apop-dashboard-item-header"> -->
				<a href="#/competitive-landscape" class="apop-dashboard-item-header">
					<img src="./images/dashboard-icon-05.png" width="40" height="40" alt="icon" class="item-icon" />
					<h2 class="item-title">Competitive Landscape</h2>
				</a>
				<div class="apop-dashboard-item-content">
					<div class="apop-dashboard-section-content" style="background-image: url('../images/dashboard-section-bg-05.png');">
						<div class="apop-dashboard-section-details">
							<p>Competitive Landscape</p>
						</div>
						<!-- <ul class="count-container count-single">
							<li class="count-row disabled-row">
	
								<p class="count-num"><span>X</span></p>
								<p class="count-label">Coming Soon</p>
	
							</li>
						</ul> -->
					</div>
					<a href="#/competitive-landscape" class="apop-dashboard-link-button">
						<div class="apop-dashboard-link-button-content">
							<p>Enter Section</p>
							<i class="icon ion-chevron-right"></i>
						</div>
					</a>
				</div>
			</div>

		</li>
		<li class="apop-dashboard-item">

			<div class="apop-dashboard-box">
				<a href="#/educational-materials" class="apop-dashboard-item-header">
					<img src="./images/dashboard-icon-06.png" width="40" height="40" alt="icon" class="item-icon" />
					<h2 class="item-title">Educational Materials</h2>
				</a>
				<div class="apop-dashboard-item-content">

					<ul class="count-container count-single">
						<li class="count-row">

							<p class="count-num"><span>8</span></p>
							<p class="count-label">Internal Materials</p>

						</li>
					</ul>

					<a href="#/educational-materials" class="apop-dashboard-link-button">
						<div class="apop-dashboard-link-button-content">
							<p>Enter Section</p>
							<i class="icon ion-chevron-right"></i>
						</div>
					</a>
				</div>
			</div>

		</li>
	</ul> <!-- .apop-dashboard-grid -->

	<!-- <div class="apop-dashboard-footer-background"></div> -->

	<ul class="apop-dashboard-footer">
		<li class="apop-dashboard-footer-item">

			<div class="apop-dashboard-footer-item-box">				
				<a href="#/medical-plan" class="apop-dashboard-footer-box">
					<div class="apop-dashboard-footer-box-content-wrapper">
						<div class="apop-dashboard-footer-box-content">
							<img src="./images/dashboard-icon-07.png" width="40" height="40" alt="icon" class="item-icon" />
							<h2 class="item-title">Medical Plan</h2>
						</div>
					</div>
				</a>
			</div>


		</li>
		<li class="apop-dashboard-footer-item">

			<div class="apop-dashboard-footer-item-box">				
				<a href="#/press-releases" class="apop-dashboard-footer-box">
					<div class="apop-dashboard-footer-box-content-wrapper">
						<div class="apop-dashboard-footer-box-content">
							<img src="./images/dashboard-icon-08.png" width="40" height="40" alt="icon" class="item-icon" />
							<h2 class="item-title">Press Releases</h2>
						</div>
					</div>
				</a>
			</div>

		</li>
	</ul>  -->
	<!-- .apop-dashboard-footer

</div> <!-- .apop-dashboard -->

