<!doctype html>
<html>
	<iframe src="offline-cache.html" style="display: none;"></iframe>
	<head>
		<meta charset="utf-8">
		<title>%PLATFORM_TITLE%</title>
		<meta name="description" content="">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<link rel="icon" href="favicon.ico?version=2" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png?version=2">
		<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png?version=2">
		<link rel="mask-icon" href="images/safari-pinned-tab.svg" color="%PLATFORM_THEME_COLOR%">
		<meta name="apple-mobile-web-app-title" content="%PLATFORM_TITLE%">
		<meta name="application-name" content="%PLATFORM_TITLE%">
		<meta name="theme-color" content="%PLATFORM_THEME_COLOR%">

		<!-- build:css styles/apop.app.css -->
		<link rel="stylesheet" href="styles/apop.app.css">
		<!-- endbuild -->
	</head>
	<body ng-app="apopApp" ng-switch="preload.preloader" ng-class="bowser()">
		<!--[if lte IE 8]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<div ng-switch-when="documents" class="apop-global-wrapper" ng-controller="PreloaderCtrlDoc">
			<div ng-include="'views/global/preloader.html'"></div>
		</div>

		<div ng-switch-when="content" class="apop-global-wrapper" ng-controller="PreloaderCtrlContent">
			<div ng-include="'views/global/preloader.html'"></div>
		</div>

		<div ng-switch-default class="apop-global-wrapper" ng-controller="MainCtrl" >
			<div ng-include="'views/global/header.html'" class="apop-global-header"></div>
			<div ng-include="'views/global/search.html'" class="apop-global-search"></div>

			<!-- MAIN MENU -->
			<div ng-if="$state.current.name == 'home'" ui-view name="dashboard" class="apop-dashboard-view"></div>

			<!-- PAGES WITH BREADCRUMBS -->
			<div ng-if="$state.current.name != 'home'" class="apop-global-view">
				<div class="apop-global-bc"><div ncy-breadcrumb></div></div>
				<ion-scroll delegate-handle="mainScroll" direction="y" id="ion-scroll-element" style="width: 100%; height: 100%;" on-scroll="closePopover()" overflow-scroll="true">
					<div ui-view class="apop-scroll-content" id="scroll-container"></div>
				</ion-scroll>
			</div>
		</div>

		<!-- LEXICON POPOVERS -->
		<!-- <div ng-repeat="(id, scope) in popovers track by id" ng-show="scope.$ctrl.tooltip.isShown" class="apop-tooltip ng-hide" data-popover-id="{{id}}">
			<p bind-html-compile="scope.$ctrl.term.Definition">No definition</p>
			<div ng-show="scope.$ctrl.tooltip.state === 'active'" class="apop-tooltip-close" ng-click="scope.$ctrl.tooltip.hide($event)">
				<i class="icon ion-close"></i>
			</div>
		</div> -->

		<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
		<!-- \\		SCRIPT INJECTIONS		\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
		<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

		<!--  BOWER COMPONENTS (concatenated) -->
		<script src="scripts-bower/bower-components.js"></script>

		<!-- PRODUCTION BUILD BLOCK (USEMIN, PROCESSHTML) -->
		<!-- 1: USEMINPREPARE, CONCATENATE ALL SCRIPT TAGS INTO 'scripts/app.scripts.js' -->
		<!-- 2: PROCESSHTML, REPLACE ALL SCRIPTS TAGS WITH SINGLE TAG 'scripts/app.scripts.js' -->

		<!-- build:js scripts/scripts.js -->

		<!-- APP -->
		<script src="scripts/app.js"></script>
		<script src="scripts/app.run.js"></script>
		
		<!-- CONTROLLERS -->
		<script src="scripts/controllers/main.controller.js"></script>
		<script src="scripts/controllers/preloader-documents.controller.js"></script>
		<script src="scripts/controllers/preloader-content.controller.js"></script>

		<!-- SERVICES -->
		<script src="scripts/services/preloader.service.js"></script>
		<script src="scripts/services/alert.service.js"></script>
		<script src="scripts/services/askplatform.service.js"></script>
		<script src="scripts/services/content.service.js"></script>
		<script src="scripts/services/favorite.service.js"></script>		
		<script src="scripts/services/localstorage.service.js"></script>
		<script src="scripts/services/user.service.js"></script>
		<script src="scripts/services/http.service.js"></script>
		<script src="scripts/services/metric.service.js"></script>
		
		<!-- FACTORIES -->
		<script src="scripts/factories/preloader.factory.js"></script>
		<script src="scripts/factories/alert.factory.js"></script>
		<script src="scripts/factories/askplatform.factory.js"></script>
		<script src="scripts/factories/favorite.factory.js"></script>
		<script src="scripts/factories/modal.factory.js"></script>
		<script src="scripts/factories/search.factory.js"></script>
		<script src="scripts/factories/tag.factory.js"></script>
		<script src="scripts/factories/scroll.factory.js"></script>
		<script src="scripts/factories/manifest.factory.js"></script>
		<script src="scripts/factories/cache.factory.js"></script>

		<!-- FILTER DIRECTIVES -->
		<script src="scripts/filters/alert.filter.js"></script>
		<script src="scripts/filters/favorited.filter.js"></script>
		<script src="scripts/filters/search.filter.js"></script>
		<script src="scripts/filters/sort.filter.js"></script>
		<script src="scripts/filters/tag.filter.js"></script>
		<script src="scripts/filters/date.filter.js"></script>
		<script src="scripts/filters/lodash.filter.js"></script>
		<script src="scripts/filters/orderby.filter.js"></script>
		
		<!-- DIRECTIVES -->
		<script src="scripts/directives/print.directive.js"></script>		
		<script src="scripts/directives/reference.directive.js"></script>
		<script src="scripts/directives/figure.directive.js"></script>
		
		<!-- COMPONENTS -->
		<script src="scripts/components/lexicon-term.component.js"></script>		
		
		<!-- endbuild -->

		
		<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
		<!-- \\		SCRIPT DECLARATIONS		\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
		<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

		<!-- Ionic Edge Identifier Script -->
		<script>ionic.Platform.isEdge = function(){return true;}</script>

		<!-- Google Analytics -->
		<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112759229-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-112759229-1');
		</script> -->

		
	</body>
</html>