<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>%PLATFORM_TITLE%</title>

		<meta name="description" content="%PLATFORM_TITLE%">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="%PLATFORM_TITLE%">

		<link rel="icon" href="favicon.ico?version=2" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/images/manifest.json">
		<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="%PLATFORM_THEME_COLOR%">
		<link rel="shortcut icon" href="/images/favicon.ico">
		<meta name="msapplication-config" content="/images/browserconfig.xml">
		<meta name="theme-color" content="%PLATFORM_THEME_COLOR%">

		<!-- build:css(.tmp) styles/apop.app.css -->
		<link rel="stylesheet" href="styles/apop.app.css">
		<!-- endbuild -->
	</head>
	<body>
		<!--[if lte IE 8]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<div class="apop-phone-message-container">
			<div class="apop-phone-message">
				<p>Please note: this application is designed for use on a tablet, desktop, or laptop computer with a minimum screen width of 700 pixels.</p>
			</div>
		</div>

		<div class="apop-login-container">

			<div class="apop-login-box">
				<div class="apop-login-content">
					<!-- <h1 class="apop-platform-title">
						<span class="compound">%PLATFORM_COMPOUND%</span>
						<span class="indication">%PLATFORM_INDICATION%</span>
						<span class="title">Global Scientific Platform</span>
					</h1> -->

					<img src="./images/platform-login-logo.png" width="270" height="34" alt="Login Logo" class="loader-header-logo" />

					<h2 class="login-welcome">Welcome</h2>

					<div ng-if="true" class="alt-login-container">
						<button class="button button-full apop-button apop-dark-button" onclick="location.href='/login/okta-saml'">Login</button>
					</div>

					<div ng-if="true" class="alt-login-container">
						<button class="button button-full apop-button apop-dark-button" onclick="location.href='/login/astex'">Login with Astex</button>
					</div>

					<div ng-if="true" class="alt-login-container">
						<button class="button button-full apop-button apop-dark-button" onclick="location.href='/login/tpc'">Login with ONEOTSUKA</button>
					</div>

					<p>version %VERSION%</p>

					<img src="./images/company-header-logo.png" width="68" height="66" alt="Company Logo" class="login-company-logo" />
				</div>
			</div>
			
		</div>
		
	</body>
</html>