<div class="apop-page apop-landing-page apop-resource-page">
    <div class="apop-page-content">
        <h2 class="apop-page-title">Press Releases</h2>
        
        <div class="apop-page-references">
            <div ng-if="document.id === 13" ng-repeat="document in documents | orderBy:publication_date">
                <button ng-click="openModal('document-viewer', document.id)" class="button button-block apop-button apop-pageref-button apop-evidence-button">{{document.Title}}</button>
            </div>
            <div ng-if="document.id === 14" ng-repeat="document in documents | orderBy:publication_date">
                <button ng-click="openModal('document-viewer', document.id)" class="button button-block apop-button apop-pageref-button apop-evidence-button">{{document.Title}}</button>
            </div>
        </div>
    </div>
</div>