// *************************************
//
//   modules/_pagereferences.scss
//   -> Modular page references style, appears on bottom of pages
//
// *************************************

// -------------------------------------
//   Page References Global
// -------------------------------------

	.apop-page-references,
	.apop-split-references,
	.apop-table-container,
	.apop-term-repeat-container {
		margin-bottom: $apop-gutter*2;
		padding: $apop-gutter $apop-gutter*2;

		background: $apop-statement-bg;
		box-shadow: $apop-statement-shadow;

		.apop-page-references-title {
			font-family: $ff-sans !important;
			font-size: $fs-medium;
			margin-top: 0.5em;
		}

		.apop-page-reference-buttons {
			list-style: decimal inside;

			.apop-pageref-button {
				text-align: left;

				li {
					color: lighten($references-text-color, 10%);
					@include font($ff-sans, 12px);

					p {
						display: inline;
						width: 100%;
						margin: 0;

						color: $references-text-color;
						@include font($ff-sans, 12px, 500);
					}
				}

				&:hover {
					li { color: $apop-primary;}
					 p { color: $apop-primary; }
				}
			}
		}

		.apop-page-references-count {
			margin: $apop-gutter/2 0 $apop-gutter*1.5 0;

			text-align: right;
			color: $header-text-color;
			@include font($ff-sans, $fs-small, normal, 1, italic);

			span { font-weight: 700; color: $apop-primary; }
		}
	}

// -------------------------------------
//   Split References (Foundational Content)
// -------------------------------------

	.apop-split-references {
		.apop-page-reference-buttons {
			width: 100%;
			display: table;
			
			.apop-pageref-button-wrapper {
				display: table-cell;
				width: 80%;
			}

			.apop-notes-button-wrapper {
				display: table-cell;
				width: 20%;

				padding-left: $apop-gutter*2;
			}

		}
	}