// *************************************
//
//   modules/_popupreferences.scss
//   -> Inline clickable reference citation style
//
// *************************************

// -------------------------------------
//   Element Container
// -------------------------------------

	.apop-inline-ref-container {
		display: inline;
		position: relative;
	}

// -------------------------------------
//   Superscripted Button
// -------------------------------------

	.apop-figure-container {
		
		.apop-figure-image,
		.apop-figure-button {

			@extend .apop-button, .button, .apop-sp-inline-link;

			margin: $apop-gutter/3 0;
			padding: 0 $apop-gutter/2;

			background: #fdfdfd;
			box-shadow: 0 0 2px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.125);
			border-radius: 3px;

			font-family: $ff-sans !important;
			font-weight: bold !important;
			font-size: 11px !important;
			line-height: $apop-inline-ref-button-height !important;
			color: $header-text-color;

			.msie & {
				font-family: 'Roboto', 'Segoe UI', sans-serif !important;
				font-size: 11.5px !important;
			}

			// &:hover {
			// 	background: $global-white;
			// 	box-shadow: 0 0 2px rgba(0,0,0,0.25), 0 1px 3px rgba(0,0,0,0.2);
			// }
		}

		.apop-figure-button {

			// height: $apop-inline-ref-button-height;

		  &.activated {
				box-shadow: none;
			}
		}

		.apop-figure-image {
			cursor: auto;

			img {
				width: 100%;
				height: auto;
			}
		}
	}
