// *************************************
//
//   modules/_popupreferences.scss
//   -> Inline clickable reference citation style
//
// *************************************

// -------------------------------------
//   Element Container
// -------------------------------------

	.apop-inline-ref-container {
		display: inline;
		position: relative;
	}

// -------------------------------------
//   Superscripted Button
// -------------------------------------

	.apop-inline-ref-container {
		.apop-inline-ref-button {
			@extend .apop-button;

			height: $apop-inline-ref-button-height;

			margin: 0 3px 0 0;
			padding: 0 $apop-gutter/2;

			background: #fdfdfd;
			box-shadow: 0 0 2px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.125);
			border-radius: 3px;

			font-family: $ff-sans !important;
			font-weight: bold !important;
			font-size: 11px !important;
			line-height: $apop-inline-ref-button-height !important;
			color: $header-text-color;

			.msie & {
				font-family: 'Roboto', 'Segoe UI', sans-serif !important;
				font-size: 11.5px !important;
			}

			&:hover {
				background: $global-white;
				box-shadow: 0 0 2px rgba(0,0,0,0.25), 0 1px 3px rgba(0,0,0,0.2);
			}
		}

		.apop-inline-ref-button.activated {
			box-shadow: none;
		}

		&:first-child {
			.apop-inline-ref-button { margin-left: 2px; }
		}

		&:last-child {
			.apop-inline-ref-button { margin-right: 0px; }
		}
	}

// -------------------------------------
//   Tooltip Citation
// -------------------------------------

	.apop-inline-ref-container .apop-inline-ref-button:hover + .apop-inline-ref-citation {
		visibility: visible;
		opacity: 1;
		transition: visibility 0s linear 0s, opacity 300ms;
	}

	.apop-inline-ref-citation {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s linear 300ms, opacity 300ms;

		position: fixed;
		bottom: $apop-gutter*2;
		left: $apop-gutter*2;
		right: $apop-gutter*3.5;

		display: block;
		width: auto;
		height: $apop-inline-ref-citation-height;
		text-overflow: ellipsis;
		overflow: hidden;

		background: #fdfdfd;
		box-shadow: 0 0 1px rgba(0,0,0,0.1), 0 1px 8px rgba(0,0,0,0.2);
		border-radius: 18px;

		.apop-inline-ref-citation-wrapper {
			display: table;
			width: 100%;

			.icon-container {
				display: table-cell;
				vertical-align: middle;

				width: $apop-inline-ref-citation-height + 2px;
				height: $apop-inline-ref-citation-height;

				background: $apop-secondary;
				color: $global-white;

				.icon {
					display: block;
					width: $apop-inline-ref-citation-height + 2px;
					text-align: center;

					&:before { font-size: 24px; }

					.msie & {
						&:before { font-size: 32px; }
					}
				}
			}

			p {
				display: table-cell;
				vertical-align: middle;

				width: auto;
				height: $apop-inline-ref-citation-height;
				margin: 0;
				padding: 0 $apop-gutter/2 0 $apop-gutter;

				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: visible;

				text-align: left;
				color: $apop-primary !important;
				font-family: $ff-sans !important;
				font-weight: 500 !important;
				font-size: 13px !important;
				line-height: 1 !important;

				.msie & {
					font-size: 16px !important;
					font-family: 'Roboto', 'Segoe UI', sans-serif !important;

					em {
						font-size: 16px !important;
						font-family: 'Roboto', 'Segoe UI', sans-serif !important;
					}
				}
			}
		}
	}