// *************************************
//
//   modules/_sidebar.scss
//   -> Modular sidebar style, appears on apop-page
//
// *************************************

// -------------------------------------
//   Sidebar Global
// -------------------------------------

	.apop-sidebar {
		float: right;

		min-width: $apop-sidebar-width;
		max-width: $apop-sidebar-width;

		margin-left: $apop-page-gutter*2;
	}

// -------------------------------------
//   Sidebar Blocks
// -------------------------------------

	.apop-sidebar-block,
	.apop-tiles-block {
		padding: $apop-page-gutter;
		margin-bottom: $apop-page-gutter/2;

		box-shadow: 0 1px $apop-gutter rgba(0,0,0,0.2);

		.block-title,
		.block-text {
			margin-bottom: $apop-page-gutter/2;
			color: $global-white !important;
		}

		.block-title { @include font($ff-sans, $fs-regular, bold); }

		.block-text { @include font($ff-sans, $fs-small, 500, 1.25); }

		.apop-sidebar-button {
			display: table;
			width: 100%;
			min-height: $apop-ionic-button-height;

			margin: 0;
			padding: $apop-page-gutter/2;
			border: none;

			@include font($ff-sans, $fs-regular, 500);

			span {
				display: table-cell;
				vertical-align: middle;
			}
		}

		&:nth-of-type(1) { background: mix($apop-primary, $apop-secondary, 90%); }
		&:nth-of-type(2) { background: mix($apop-primary, $apop-secondary, 45%); }
		&:nth-of-type(3) { background: mix($apop-primary, $apop-secondary, 10%); }
	}

// -------------------------------------
//   Tiles (Wrapping Sidebar Blocks)
// ------------------------------------

	.apop-chapter-blocks {
		.apop-tiles-block-container {
			min-height: $apop-tiles-min-height;
			max-height: $apop-tiles-max-height;
			float: left;
			
			padding: 0 $apop-gutter;
			margin: $apop-gutter 0;

			// Two Columns
			width: 50%;
			
			// First Column
			&:nth-of-type(odd){
				padding-left: 0;
				padding-right: $apop-gutter*1.5;
			}
			
			// Second Column
			&:nth-of-type(even){
				padding: 0 $apop-gutter*0.5;
			}

			.apop-tiles-block {
				min-height: $apop-tiles-min-height;
				max-height: $apop-tiles-max-height;

				.block-title {
					min-height: $apop-gutter * 4.8;
				}

				.block-text {
					margin-bottom: $apop-gutter*2;

					color: rgba($global-white, 0.8);
					@include font($ff-sans, $fs-small, 500, 1.25);
				}

				// Override lexicon term underline color
				.apop-lexicon-term span { background-image: $apop-lexicon-light-underline; }
			}

			// One Chapter
			&:first-child:nth-last-child(1) {
				.apop-tiles-block { background: $apop-primary; }
			}

			// Multiple Chapters
			@for $i from 2 through 12 {
				&:first-child:nth-last-child(#{$i}),
				&:first-child:nth-last-child(#{$i}) ~ .apop-tiles-block-container {
					@include tileBlockLoop($i);
				}
			}
		}
	}