// *************************************
//
//   modules/_statements.scss
//   -> Modular statement style, top-level statements, etc.
//
// *************************************

// -------------------------------------
//   Statements Global
// -------------------------------------

	.apop-statements {
		.apop-statement-container {
			margin-bottom: $apop-gutter*2;
			padding: $apop-gutter;

			background: $apop-statement-bg;
			box-shadow: $apop-statement-shadow;

			.apop-statement-header {
				display: table;
				width: 100%;

				padding: $apop-gutter;
				margin: 0;

				color: $apop-black;
				@include font($ff-sans, $fs-regular, 600);
				text-transform: uppercase;
			}

			.apop-statement-text {
				padding: $apop-gutter;
				padding-top: 0;
				margin: 0;

				color: $apop-black;
				@include font($ff-sans, $fs-medium, normal, 1.25);

				p {
					margin: 0;
				}

				.apop-statement-disclaimer {
					display: block;
					margin-top: $apop-gutter;

					color: $apop-gray;
					@include font($ff-sans, $fs-micro, 500, 1, italic);
				}
			}

			.apop-statement-bar {
				display: table;
				width: 100%;
				background: $apop-statement-bar;

				.bar-title,
				.bar-action {
					display: table-cell;
					vertical-align: middle;

					margin: 0;
					padding: $apop-gutter;

					color: $global-white;
					@include font($ff-sans, $fs-regular);
				}

				.bar-title {
					text-align: left;
					font-weight: 500;
				}

				.bar-action {
					text-align: right;
				}

				&:hover {
					background: $apop-statement-bar-hover;
				}

				@include clearfix;
			}

			.apop-statement-bar.activated {
				background: darken($apop-statement-bar, 10%);
			}
		}

	}

// -------------------------------------
//   Table Terms Layout (Overview, Terms, Abbreviations)
// -------------------------------------

	.apop-table-overview {
		h3 { color: $header-text-color; }

		.apop-table-container {
			@include apopTable();

			td {
				p { font-size: $fs-small !important; }
			}

			td.apop-muted-th,
			td.apop-gradient-th {
				p { color: $global-white !important; }
			}

			// Footnotes
			table + p {
				margin-bottom: 1em !important;

				font-size: $fs-tiny !important;
				color: $light-text-color !important;

				&:last-of-type { margin-bottom: $apop-gutter*3 !important; }
			}

			tr {
				.apop-muted-th {
					background: $apop-gray;
				}

				// One Row
				&:first-child:nth-last-child(1) {
					.apop-gradient-th { background: $apop-primary; }
				}

				// Multiple Rows
				@for $i from 2 through 12 {
					&:first-child:nth-last-child(#{$i}),
					&:first-child:nth-last-child(#{$i}) ~ tr {
						@include tileBlockLoop($i);
					}
				}
			}
		}
	}
