// *************************************
//
//   modules/_submessages.scss
//   -> Modular submessage accordion style
//
// *************************************

// -------------------------------------
//   Submessages Container
// -------------------------------------

	.apop-submessages-container {
		margin-bottom: $apop-gutter*2;
		padding: $apop-gutter;
		padding-top: 0;

		background: $apop-statement-bg;
		box-shadow: $apop-statement-shadow;
	}

// -------------------------------------
//   Submessages Accordion Toggle
// -------------------------------------

	.apop-submessages-container {
		.vAccordion--default {
			v-pane { overflow: visible; }
			v-pane-header {
				@extend .apop-dark-button;

				margin: $apop-gutter 0 0 0;
				width: 100%;

				background: $apop-accordion-toggle-closed;

				.accordion-toggle-title {
					margin: 0 !important;
					padding: $apop-gutter*1.5 $apop-gutter $apop-gutter*1.5 $apop-gutter*6;

					text-align: left;
					color: $global-white !important;
					font-size: $fs-medium !important;

					p { color: $global-white !important; }
					.ref-inline-short-citation { color: $apop-primary !important; }

					// For bullets inside statement title block
					ul li ul {
						padding-left: 1.25em;
					}

					&:before {
						content: $ionicon-var-chevron-right;
						@extend .ion;

						position: absolute;
						top: 14px;
						left: 24px;
						font-size: 28px;

						transition: all 0.5s ease;
						transform: rotate(0deg);
					}

					.apop-statement-disclaimer {
						display: block;
						margin-top: $apop-gutter;

						color: $global-bg-color;
						@include font($ff-sans, 0.7145em, 500, 1, italic);
					}

					// Override lexicon term in accordion panel header
					.apop-lexicon-term span { background-image: $apop-lexicon-light-underline; }
				}
			}

			v-pane.is-expanded > v-pane-header {
				background: $apop-accordion-toggle-open;

				.accordion-toggle-title:before {
					content: $ionicon-var-chevron-right;
					@extend .ion;

					position: absolute;
					top: 14px;
					left: 24px;
					font-size: 28px;

					transition: all 0.5s ease;
					transform: rotate(90deg);
				}
			}

			// DISABLED ACCORDION PANE (NO SUB CONTENT)
			v-pane-header.inactive {
				.accordion-toggle-title {
					cursor: default !important;

					&:before {
						display: none !important;
					}
				}
			}
		}
	}

// -------------------------------------
//   Submessages Accordion Content
// -------------------------------------

	.accordion-content {
		.accordion-content-body {
			float: left;
			width: 66.666%;
			padding: $apop-gutter*2 $apop-gutter*2.5;
			// padding-right: $apop-gutter*2.5;

			background: transparent url(../images/accordion-content-body-bg.png) no-repeat top right;
			background-size: 280px 280px;

			// --- BEGIN OVERRIDES --- //

			color: $alt-text-color !important;
			@include font($ff-sans, $fs-fixed, normal, 1.25);

			// ////// PARAGRAPHS & HEADERS ////// //
			p {
				@include font($ff-sans, $fs-fixed, normal, 1.25);
				margin: 0;
			}

			h3, h4 {
				color: $alt-text-color !important;
				@include font($ff-sans, $fs-fixed, bold, 1.25);

				display: inline-block;
				margin: 1.25em 0;

				&:first-child {
					margin: 0 0 1.25em 0;
				}
			}

			h3 { font-style: italic; }

			h3 {
				line-height: 19.5px;
				sup {
					top: -0.3em;
				}
			}

			// ////// LISTS ////// //
			ol, ul {
				// LEVEL 1
				list-style: disc outside;
				color: $medium-text-color;;

				margin: 0 0 0 1.25em;
				padding: 0;

				li {
					margin: 0 0 0.75em 0;
					padding: 0 0 0 1em;

					ul {
						// LEVEL 2
						list-style: square outside;
						// color: $royal;

						margin: 0 0 0 1.25em;
						padding: 0;

						li {
							margin: 0 0 0.75em 0;
							padding: 0 0 0 1em;

							&:first-child { margin: 0.5em 0 0.5em 0; }

							ul {
								// LEVEL 3
								list-style: circle outside;
								// color: $balanced;

								margin: 0 0 0 1.25em;
								padding: 0;

								li {
									margin: 0 0 0.75em 0;
									padding: 0 0 0 1em;

									ul {
										// LEVEL 4
										list-style: disc outside;
										// color: $assertive;

										margin: 0 0 0 1.25em;
										padding: 0;

										li {
											margin: 0 0 0.75em 0;
											padding: 0 0 0 1em;

											ul {
												// LEVEL 5
												list-style: square outside;
												// color: $positive;

												margin: 0 0 0 1.25em;
												padding: 0;

												li {
													margin: 0 0 0.75em 0;
													padding: 0 0 0 1em;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}

			ol { list-style: decimal outside; }
			ol.apop-letters { list-style: upper-alpha outside; }
			
			.white-space {
				white-space: nowrap;
			}

			// ////// TABLES ////// //

			@include apopTable();

			table {
				margin: 0;

				tr {
					th p { font-size: $fs-fixed !important; }

					&:first-of-type {
						th {
							background: $apop-bcbg-2;

							p { font-size: $fs-fixed !important; }
						}
					}
				}

				tr.blue-highlight {
					td { background: lighten($apop-bcbg-2, 50%); }
				}

				tr.gray-highlight {
					td { background: lighten($global-text-color, 80%); }
				}
			}

			.apop-wide-table-container, .apop-wide-figure-container {
				display: block;
				margin: 0 0 $apop-gutter*2 0;

				width: 100%;
				overflow-x: scroll;
			}

			// ////// IMAGES ////// //

			.image-wrapper,
			.apop-figure-image {
				margin: 1em 0;
				padding: 0;

				background: $apop-table-row;
				box-shadow: $apop-table-shadow;
				border-radius: 5px;

				img { border-radius: 5px; }

				.footnote {
					@include font($ff-sans, $fs-micro, normal, 1.25);
					margin: $apop-gutter;
				}
			}

			// ////// LINKS ////// //

			button.apop-sp-inline-link,
			a.apop-sp-inline-link,
			button.apop-figure-button,
			a.apop-figure-button {
				position: relative;
				display: block;
				width: 100%;
				margin: $apop-gutter 0;
				padding: $apop-gutter;

				background: $apop-table-row;
				box-shadow: 0 0 2px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.125);
				border-radius: 5px;

				p {
					padding: 0 0 0 $apop-gutter*5;
					text-align: left;
					color: $apop-primary;

					u { text-decoration: none; }

					&:before {
						content: $ionicon-var-share;
						@extend .ion;

						position: absolute;
						top: 10px;
						left: 20px;
						font-size: 32px;
						color: $apop-primary;
					}
				}

				h4 {
					&:before {
						content: $ionicon-var-share;
						@extend .ion;

						position: absolute;
						top: 10px;
						left: 20px;
						font-size: 32px;
						color: $apop-primary;
					}
				}

				&:hover {
					p {
						color: $apop-secondary;
						&:before { color: $apop-secondary; }
					}
				}
			}

			button.apop-sp-inline-link,
			button.apop-figure-button {
				min-width: 0;
				min-height: 0;
				border: none;

				p {
					&:before {
						content: $ionicon-var-android-open;
					}
				}

				h4 {
					display: block;
					width: 100%;
					margin: $apop-gutter/2 0 $apop-gutter/2 $apop-gutter*5;
					padding: 0;
					text-align: left;

					@include font($ff-sans, 12px, bold);
					color: $superlight-text-color !important;
					text-transform: uppercase;

					&:before {
						top: 3px;
					}
				}

				&:hover {
					h4 { color: $apop-secondary !important; }
				}
			}

			.apop-sp-inline-link.activated,
			.apop-figure-button.activated {
				background: darken($apop-statement-bg, 5%);
				box-shadow: $apop-button-active-shadow;
			}

			// ////// ATTACHED BUTTONS ////// //
			.apop-figure-container {
				.apop-figure-image {
					margin-bottom: 0;
					border-radius: 5px 5px 0 0;
				}

				.apop-figure-button {
					margin-top: 0 !important;
					border-radius: 0 0 5px 5px !important;
					box-shadow: $apop-table-shadow !important;
				}
			}

			// --- END OVERRIDES --- //
		}

		// Identify standalone first-level paragraphs via parent
		.accordion-content-body > p {
			display: block;
			margin: 1.25em 0 0.75em 0;
		}

		.accordion-content-body > h3 + p,
		.accordion-content-body > h4 + p {
			margin-top: 0;
		}

		.accordion-content-footnotes-list,
		.accordion-content-abbreviations-list {
			margin: 2em 0 0 0; padding: 0 0 0 $apop-gutter*3.5;

			p {
				color: $medium-text-color;
				@include font($ff-sans, $fs-tiny, 500, 1.25);

				&:last-child { margin-bottom: 0; }
			}
		}

		// --- --- --- REFERENCES SIDEBAR --- --- --- //
		.accordion-content-references {
			float: right;
			width: 33.333%;
			min-height: 240px;
			padding: $apop-gutter*2 0;

			background: transparent url(../images/accordion-content-references-bg.png) no-repeat top left;
			background-size: 280px 280px;

			.accordion-content-references-title {
				margin: 0 $apop-gutter*2 $apop-gutter $apop-gutter*2;
				@include font($ff-sans, $fs-fixed, bold);
			}

			.accordion-content-references-list {
				.apop-accordion-reference-button {
					display: block;
					width: 100%;

					background: transparent;
					box-shadow: none;
					max-height: none;
					padding: $apop-gutter;
					padding-left: $apop-gutter*2;

					.ref-num,
					.ref-title {
						text-align: left;
						color: $alt-text-color;
						@include font($ff-sans, $fs-tiny, 500, 1.25);
					}

					.ref-num {
						display: inline-block;
						float: left;
						width: $apop-gutter*3;
					}

					.ref-title {
						margin: 0;
						overflow: hidden;

						span { width: 100%; }
					}

					&:hover {
						background: $apop-primary;

						.ref-num,
						.ref-title {
							color: $global-white;
						}
					}
				}

				.apop-accordion-reference-button.activated {
					background: darken($apop-bcbg-3, 10%);
				}
			}

			.accordion-content-footnotes-list,
			.accordion-content-abbreviations-list {
				margin: $apop-gutter*4 0 0 0;
				padding: $apop-gutter $apop-gutter*2 $apop-gutter $apop-gutter*5;

				p {
					color: $medium-text-color;
					@include font($ff-sans, $fs-tiny, 500, 1.25);

					&:last-child { margin-bottom: 0; }
				}
			}
		}

		@include clearfix;
	}

	// HIDE EVIDENCE AND UNFLOAT SIDEBAR
	.accordion-content-empty {
		.accordion-content-body {
			display: none;
			float: none;
		}

		.accordion-content-references {
			float: none;
			width: 100%;
			min-height: 0;
			background: none;
			padding: $apop-gutter*2 0 0 0;

			.accordion-content-references-title {
				margin: 0 $apop-gutter*2 $apop-gutter $apop-gutter*6;
			}

			.accordion-content-references-list {
				.apop-accordion-reference-button {
					padding-left: $apop-gutter*6;

					.ref-num,
					.ref-title {
						margin-bottom: 0;
					}
				}
			}
		}
	}