// *************************************
//
//   modules/_tags.scss
//   -> Modular tag style, tag bullets displayed throughout site
//
// *************************************

// -------------------------------------
//   Primary Tag
// -------------------------------------

	.apop-tag {
		cursor: pointer;
		display: inline-block;
		padding: $apop-gutter/2 $apop-gutter;
		margin-bottom: $apop-gutter;

		border: none;
		min-height: 0;
		min-width: 0;
		vertical-align: middle;

		color: $global-white;
		@include font($ff-sans, $fs-tiny, 500);
		text-transform: uppercase;

		border-radius: 99px;
		background-color: $apop-primary;

		&:hover {
			color: $global-white;
			background-color: lighten($apop-primary, 5%);
		}
	}

	.apop-tag.activated {
		color: $global-white;
		background-color: darken($apop-primary, 5%);
	}

// -------------------------------------
//   Subtag
// -------------------------------------

	.apop-subtag {
		@extend .apop-tag;

		background-color: $apop-secondary;

		&:hover {
			color: $global-white;
			background-color: lighten($apop-secondary, 5%);
		}
	}

	.apop-subtag.activated {
		color: $global-white;
		background-color: darken($apop-secondary, 5%);
	}