// *************************************
//
//   modules/_thumbnails.scss
//   -> Thumbnail layout (currently on pubs & abstracts)
//
// *************************************

// -------------------------------------
//   Container
// -------------------------------------

	.apop-thumbnails-container {
		margin-bottom: $apop-gutter*2;
		padding: $apop-page-gutter $apop-page-gutter/2 0 $apop-page-gutter/2;

		background: $apop-statement-bg;
		box-shadow: $apop-statement-shadow;

		@include clearfix();
	}


// -------------------------------------
//   Grid Layout
// -------------------------------------

	.apop-thumbnail-grid {
		.apop-thumbnail-item {
			display: inline-block;
			float: left;

			padding: 0 $apop-page-gutter/2;
			margin-bottom: $apop-page-gutter;

			width: 33.333%;
			height: $apop-thumbnail-item-height;
		}
	}

// -------------------------------------
//   Thumbnail Card
// -------------------------------------

	.apop-thumbnail-card {
		position: relative;
		cursor: pointer;
		height: 100%;

		box-shadow: $apop-box-shadow;

		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100% 100%;

		.apop-thumbnail-card-content {
			position: absolute;
			bottom: 0; left: 0; right: 0;

			height: $apop-thumbnail-item-content-height;
			background: rgba(0,0,0,0.75);

			padding: 0;

			.apop-thumbnail-card-title {
				color: $global-white;
				@include font($ff-sans, $fs-small, normal, 1.125);
				padding: $apop-gutter;
				padding-bottom: 0;
			}
		}
	}