// *************************************
//
//   modules/_vaccordion.scss
//   -> vAccordion style default and overrides
//
// *************************************

	/**
	 * vAccordion - AngularJS multi-level accordion component
	 * @version v1.6.0
	 * @link http://lukaszwatroba.github.io/v-accordion
	 * @author Łukasz Wątroba <l@lukaszwatroba.com>
	 * @license MIT License, http://www.opensource.org/licenses/MIT
	 */

	/**
	 * Example HTML:
	 *
	  <v-accordion class="vAccordion--default">
	    <v-pane>
	      <v-pane-header id="pane-header" aria-controls="pane-content">
	         [content]
	      </v-pane-header>
	      <v-pane-content id="pane-content" aria-labelledby="pane-header">
	        [content]
	      </v-pane-content>
	    </v-pane>
	  </v-accordion>
	 */

// -------------------------------------
//   Default Style
// -------------------------------------

	// --- Base styles --- //

	v-accordion,
	v-pane {
		display: block;
	}

	v-pane.is-expanded > v-pane-content > div {
		display: visible;
	}

	v-pane[disabled] > v-pane-header {
		opacity: 0.6;
		pointer-events: none;
	}

	v-pane-header {
		display: block;
		position: relative;
		cursor: pointer;
		-webkit-user-select: none;
		 -moz-user-select: none;
		  -ms-user-select: none;
			  user-select: none;
		outline: none;


	}

	v-pane-header:focus {
		outline: none;
	}

	v-pane-header > div {
		display: block;
	}

	v-pane-content {
		display: block;
		position: relative;
		overflow: hidden;
		max-height: 0px;
	}

	v-pane-content > div {
		visibility: none;
	}

	// --- Default Theme --- //
	.vAccordion--default v-accordion {
		margin-top: 20px;
		padding-left: 20px;
	}

	.vAccordion--default v-pane-content > div {
		padding-bottom: 20px;
		opacity: 0;

		-webkit-transition: all 0.5s;
			 	transition: all 0.5s;
	}

	.vAccordion--default v-pane {
		overflow: hidden;
		padding: 1px 0;
	}

	.vAccordion--default v-pane.is-expanded > v-pane-header::after {
		-webkit-transform: rotate(90deg);
			 	transform: rotate(90deg);

		opacity: 0;
	}

	.vAccordion--default v-pane.is-expanded > v-pane-header::before {
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg); 
	}

	.vAccordion--default v-pane.is-expanded > v-pane-content > div {
		opacity: 1;
	}

	.vAccordion--default v-pane[disabled] v-pane-header::after,
	.vAccordion--default v-pane[disabled] v-pane-header::before {
		display: none;
	}

	.vAccordion--default v-pane-header {
		padding: 0;
		margin: 0;
		border: 0;

		-webkit-transition: all 0.25s;
				transition: all 0.25s;
	}

	.vAccordion--default v-pane-header::after,
	.vAccordion--default v-pane-header::before {
		display: none;
	}

	.vAccordion--default v-pane-header:hover,
	.vAccordion--default v-pane-header:focus {
		color: #2196F3;
	}

// -------------------------------------
//   Custom Style
// -------------------------------------

	.tag-filter-container {
		margin: 3px !important;
	}

	.subtag-filter-container {
		margin: 5px 0 !important;
	}

	v-pane.is-expanded>v-pane-content>div {
		padding: 0 !important;
	}