// *************************************
//
//   modules/_pagereferences.scss
//   -> Modular page references style, appears on bottom of pages
//
// *************************************

.apop-lexicon-term {
	display: inline-block;
	cursor: default;

	span:not(.apop-lexicon-term) {
		background-image: $apop-lexicon-dark-underline;
		background-position: 0 1.05em;
		background-repeat: repeat-x;
		background-size: 2px 1px;
	}
}

.apop-tooltip {
	cursor: default;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0;

	background: #fdfdfd;
	box-shadow: 0 0 2px rgba(0,0,0,0.25), 0 2px 3px rgba(0,0,0,0.125);
	border-radius: 3px;

	.platform-ios & { border-radius: 3px 13px 13px 3px; }

	p, span {
		margin: 0 !important;

		border-radius: 0;
		background: none;
		box-shadow: none;

		font-family: $ff-sans !important;
		font-weight: bold !important;
		font-size: 12px !important;
		line-height: 12px !important;
		color: $header-text-color;
		text-decoration: none;
		text-transform: none;
		text-shadow: none;

		.msie & {
			font-family: 'Roboto', 'Segoe UI', sans-serif !important;
		}
	}

	p { padding: 6px 5px 6px 10px; }

	&.ng-hide {
		opacity: 0;
	}
	
	&.ng-hide-add,
	&.ng-hide-remove {
		transition: opacity 150ms ease-in-out;
	}

	&-close {
		display: table;
		margin: 2px;

		background: linear-gradient(0deg, #656565, #525252);
		width: 24px;
		height: 24px;
		border-radius: 12px;

		text-align: center;
		font-size: 12px;
		line-height: 12px;
		color: $global-white;

		.icon {
			display: table-cell;
			vertical-align: middle;

			&:before { margin: 1px 0 0 0; }
		}

		&.ng-hide {
			opacity: 0;
		}
		
		&.ng-hide-add.ng-hide-add-active {
			transition: opacity 150ms ease-in-out 300ms !important;
		}
	}
}