<ion-modal-view class="apop-modal apop-message-modal">
    <div class="apop-message-modal-container">
        <div class="apop-message-modal-header">
            <p class="apop-message-modal-header-title">Platform Updated</p>

            <button class="button apop-button apop-modal-close-button" ng-click="closeModal('manifest-forced');">
                <div class="apop-modal-button-content">
                    <p>Close</p>
                    <i class="icon ion-ios-close-empty"></i>
                </div>
            </button>
        </div>
        <div class="apop-message-modal-content">

            <p class="apop-platform-alerts-message">Sorry if you experienced an interruption while using the platform. The platform has been updated to the latest version.</p>

        </div>
    </div>
</ion-modal-view>