<ion-modal-view class="apop-modal apop-medium-modal apop-favorites-modal">

	<div class="apop-modal-header">
		<p class="apop-modal-title">Favorites</p>

		<button class="button apop-button apop-modal-close-button" ng-click="closeModal('favorites'); scrollLinksFavsToTop()">
			<div class="apop-modal-button-content">
				<p>Close</p>
				<i class="icon ion-ios-close-empty"></i>
			</div>
		</button>
	</div>

	<div class="apop-modal-favorites-container">
		<div class="apop-modal-favorites-scroll">
			<ion-scroll delegate-handle="favsScroll" direction="y" style="width: 100%;">
				<div class="apop-modal-favorites-list">

					<div ng-repeat="reference in favorites = (references | favorited:user)" class="apop-modal-favorite-item">
						<button ng-click="openModal('reference-viewer', reference.id)" class="button button-block apop-button apop-pageref-button">
							<p>{{reference.UniqueID}}.&nbsp;<span bind-html-compile="reference.ShortCitation"></span></p>
						</button>
						<div class="button apop-modal-sidebar-action apop-sidebar-share-button" ng-click="openModal('share-reference', reference.id)">

							<div class="apop-block-wrapper">
								<div class="apop-displaytable-wrapper">
									<div class="apop-tablecell-wrapper">
										<i class="apop-icon-share"></i>
										Share
									</div>
								</div>
							</div>

						</div>
						<a ng-if="reference.FilePath && reference.FilePath.key" href="content/reference/{{reference.FilePath.id}}?download=true" target="_blank" download="{{reference.FilePath.id}}" class="button apop-modal-sidebar-action apop-sidebar-download-button">
							<div class="apop-block-wrapper">
								<div class="apop-displaytable-wrapper">
									<div class="apop-tablecell-wrapper">
										<i class="apop-icon-download"></i>
										Download
									</div>
								</div>
							</div>
						</a>
						<div class="button apop-modal-sidebar-action apop-sidebar-favorite-button" ng-click="archiveFavorite(reference); scrollFavsResize()">

							<div class="apop-block-wrapper">
								<div class="apop-displaytable-wrapper">
									<div class="apop-tablecell-wrapper">
										<i class="apop-icon-fullheart"></i>
										Unfavorite
									</div>
								</div>
							</div>

						</div>
					</div>

					<div ng-hide="favorites.length" class="apop-no-favorites-message">No Favorites</div>

				</div>
			</ion-scroll>
		</div>
	</div>

</ion-modal-view>