<ion-modal-view class="apop-modal apop-message-modal">
	<div class="apop-message-modal-container">
		<div class="apop-message-modal-header">
			<p class="apop-message-modal-header-title">New Alert</p>

			<button class="button apop-button apop-modal-close-button" ng-click="markAllAlertedAlertStatus(); closeModal('platform-alerts');">
				<div class="apop-modal-button-content">
					<p>Close</p>
					<i class="icon ion-ios-close-empty"></i>
				</div>
			</button>
		</div>
		<div class="apop-message-modal-content">

			<p class="apop-platform-alerts-message">You have a new alert. Please go to the <a href="#/platform-alerts" ng-click="markAllAlertedAlertStatus(); closeModal('platform-alerts');">Alerts</a> page to view the alert.</p>

		</div>
	</div>
</ion-modal-view>