<ion-modal-view class="apop-modal apop-message-modal apop-share-modal">
	<div class="apop-message-modal-container">
		<div class="apop-message-modal-header">
			<p class="apop-message-modal-header-title">Link Copied</p>

			<button class="button apop-button apop-modal-close-button" ng-click="closeModal('share-reference')">
				<div class="apop-modal-button-content">
					<p>Close</p>
					<i class="icon ion-ios-close-empty"></i>
				</div>
			</button>
		</div>
		<div class="apop-message-modal-content">

			<p>Copy this link to your clipboard to share:</p>

			<input class="apop-url-field" type="text" value="{{domain}}/#/reference/{{share_reference}}">

		</div>
	</div>
</ion-modal-view>