<ion-modal-view class="apop-modal apop-document-modal">

	<div class="apop-modal-header">
		<button class="button apop-button apop-modal-sidebar-button" ng-click="toggleModalSidebar()">
			<div class="apop-modal-button-content">
				<i class="icon ion-navicon"></i>
				<p>Details</p>
			</div>
		</button>

		<button class="button apop-button apop-modal-close-button" ng-click="closeModal('document-viewer')">
			<div class="apop-modal-button-content">
				<p>Close</p>
				<i class="icon ion-ios-close-empty"></i>
			</div>
		</button>
	</div>

	<div class="apop-modal-sidebar apop-document-modal-sidebar">
		<div class="apop-modal-sidebar-header">
			<button class="button apop-clear-button apop-modal-sidebar-close-button" ng-click="toggleModalSidebar()">
				Close Details
				<i class="icon ion-close"></i>
			</button>
		</div>

		<div class="apop-modal-sidebar-content-scroll">
			<ion-scroll direction="y" style="width: 100%; height: 100%;">
	
				<div class="apop-modal-sidebar-content">

					<div class="apop-origination-title-container">
						<i class="icon ion-document-text"></i>
						<h5 class="apop-origination-title">{{stateLabel}}</h5>
					</div>

					<p class="apop-document-title" bind-html-compile="document.Title"></p>
					
					<div ng-if="document | has:'References.length'" class="apop-reference-references-container">
						<div class="apop-references-title-container">
							<i class="icon ion-document-text"></i>
							<h6 class="apop-references-title">Supporting References</h6>
						</div>
						<div ng-repeat="reference in document.References | orderBy: 'ShortCitation' track by reference.id" class="apop-reference-repeat">
							<button ng-click="openModal('reference-viewer', reference.id)" class="button apop-pageref-button apop-evidence-button">
									<p class="apop-reference-shortcitation" bind-html-compile="reference.ShortCitation"></p>
									<p class="apop-reference-title" bind-html-compile="reference.Title"></p>
							</button>
						</div>
					</div>

				</div>

			</ion-scroll>
		</div>

		<div class="apop-modal-sidebar-actions-container">
			<div class="apop-modal-sidebar-action-wrapper">
				<div class="button apop-modal-sidebar-action apop-sidebar-share-button" ng-click="openModal('share-document', document.id)">
					<i class="apop-icon-share"></i>
					Share<br />&nbsp;
				</div>
			</div>
			<!-- <div class="apop-modal-sidebar-action-wrapper">
				<a ng-href="content/document/{{document.FilePath.id}}?download=true" target="_blank" download="{{document.FilePath.id}}">
				<div class="button apop-modal-sidebar-action apop-sidebar-download-button" ng-click="downloadDocument(document.FilePath.id)">
					<i class="apop-icon-download"></i>
					Download PDF
				</div>
				</a>
			</div> -->
			<div class="apop-modal-sidebar-action-wrapper">
				<a ng-href="content/documents/{{document.filename}}.pdf?download=true" target="_blank" download="{{document.filename}}.pdf">
				<div class="button apop-modal-sidebar-action apop-sidebar-download-button" ng-click="downloadDocument(document.id)">
					<i class="apop-icon-download"></i>
					Download PDF
				</div>
				</a>
			</div>
			<div class="apop-modal-sidebar-action-wrapper" ng-if="document.sourcefile">
				<a href="content/documents/{{document.sourcefile}}?download=true" target="_blank" download="{{document.sourcefile}}">
					<div class="button apop-modal-sidebar-action apop-sidebar-download-source-button" ng-click="downloadDocument(document.id)">
						<i class="apop-icon-download"></i>
						<p>Download Source</p>
					</div>
				</a>
			</div>
			<!-- <div ng-if="document | has:'SourceFilePath.id'" class="apop-modal-sidebar-action-wrapper">
				<a ng-href="content/document/{{document.SourceFilePath.id}}?download=true" target="_blank" download="{{document.SourceFilePath.id}}">
				<div class="button apop-modal-sidebar-action apop-sidebar-download-source-button" ng-click="downloadDocument(document.SourceFilePath.id)">
					<i class="apop-icon-download"></i>
					Download PowerPoint
				</div>
				</a>
			</div> -->
		</div>


	</div>

	<div class="apop-modal-content">
		<div id="document"></div>
	</div>

	<div class="apop-modal-loader">
		<div class="apop-loader-icon">
			<i class="icon ion-load-c"></i>
		</div>
	</div>

	<!-- <div class="apop-modal-footer">
		<div class="apop-modal-footer-message">
			<p class="apop-modal-footer-message-text">Please note that in order to have functional hyperlinks please download the full scientific platform from the core scientific statements page</p>
		</div>
	</div> -->

</ion-modal-view>