<ion-modal-view class="apop-modal apop-message-modal apop-platform-survey-message-modal">
	<div class="apop-message-modal-container">
		<div class="apop-message-modal-header">
			<p class="apop-message-modal-header-title">Survey Available</p>

			<button class="button apop-button apop-modal-close-button" ng-click="closeModal('platform-survey');">
				<div class="apop-modal-button-content">
					<p>Close</p>
					<i class="icon ion-ios-close-empty"></i>
				</div>
			</button>
		</div>
		<div class="apop-message-modal-content">

			<p class="apop-platform-alerts-message">Dear user, </p>
			
			<p class="apop-platform-alerts-message">Please take a few minutes to complete a brief survey so we can provide a better experience for you!</p>
			
			<p class="apop-platform-alerts-message"><a href="#/help" ng-click="closeModal('platform-survey');">Survey</a></p>

			<p class="apop-platform-alerts-message">Thank you!</p>

		</div>
	</div>
</ion-modal-view>