<ion-modal-view class="apop-modal apop-message-modal">
    <div class="apop-message-modal-container">
        <div class="apop-message-modal-header">
            <p class="apop-message-modal-header-title">Platform Content Update</p>

            <button class="button apop-button apop-modal-close-button" ng-click="closeModal('content-cache-update');">
                <div class="apop-modal-button-content">
                    <p>Close</p>
                    <i class="icon ion-ios-close-empty"></i>
                </div>
            </button>
        </div>
        <div class="apop-message-modal-content">

            <p class="apop-platform-alerts-message">An updated version of the platform content is now available. To download and view this update, click the button below.</p>

        </div>
        <div class="apop-message-modal-footer">
        	<button class="button apop-dark-button apop-modal-update-button" ng-click="contentCacheRefresh(); closeModal('content-cache-update');">
                <div class="apop-modal-button-content">
                    <p>Update</p>
                </div>
            </button>
        </div>
    </div>
</ion-modal-view>
