<ion-modal-view class="apop-modal apop-tableviewer-modal">
	<div class="apop-modal-header">
		<p class="apop-modal-title">Table Viewer</p>

		<button class="button apop-button apop-modal-close-button" ng-click="closeModal('sp-table-viewer')">
			<div class="apop-modal-button-content">
				<p>Close</p>
				<i class="icon ion-ios-close-empty"></i>
			</div>
		</button>
	</div>

	<div class="apop-modal-tableviewer-container">
		<div class="apop-modal-tableviewer-scroll">

			<div bind-html-compile="table.title" class="apop-tableviewer-title"></div>

			<div bind-html-compile="table.table" class="apop-tableviewer-content"></div>

		</div>
	</div>

</ion-modal-view>