<ion-modal-view class="apop-modal apop-reference-modal">

	<div class="apop-modal-header">
		<button class="button apop-button apop-modal-sidebar-button" ng-click="toggleModalSidebar()">
			<div class="apop-modal-button-content">
				<i class="icon ion-navicon"></i>
				<p>Details</p>
			</div>
		</button>

		<div ng-if="reference | has:'AnnotatedFilePath.id'" class="apop-document-toggle-container">
			<div class="apop-document-toggle-content">

				<div class="apop-toggle-label-clean current-label">Clean</div>

				<label class="toggle apop-toggle">
					<input class="apop-toggle-input" type="checkbox" ng-click="toggleRefPDFEmbed()">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>

				<div class="apop-toggle-label-marked">Highlighted</div>

			</div>
		</div>

		<button class="button apop-button apop-modal-close-button" ng-click="closeModal('reference-viewer')">
			<div class="apop-modal-button-content">
				<p>Close</p>
				<i class="icon ion-ios-close-empty"></i>
			</div>
		</button>
	</div>

	<div class="apop-modal-sidebar apop-reference-modal-sidebar" ng-class="{'has-source': (reference | has:'SourceFilePath.id') }">
		<div class="apop-modal-sidebar-header">
			<button class="button apop-clear-button apop-modal-sidebar-close-button" ng-click="toggleModalSidebar()">
				Close Details
				<i class="icon ion-close"></i>
			</button>
		</div>

		<div class="apop-modal-sidebar-content-scroll">

			<ion-scroll direction="y" style="width: 100%; height: 100%;">

				<div class="apop-modal-sidebar-content">
		
					<div class="apop-origination-title-container">
						<i class="icon ion-document-text"></i>
						<h6 class="apop-origination-title">{{stateLabel}}</h6>
					</div>
		
					<p class="apop-reference-title" bind-html-compile="reference.Title"></p>
		
					<p class="apop-reference-citation" bind-html-compile="reference.ShortCitation"></p>
		
					<div ng-if="reference | has:'Tags'" class="apop-reference-tags-container">
						<div class="apop-tags-title-container">
							<i class="icon ion-pricetags"></i>
							<h6 class="apop-tags-title">Relevant Tags</h6>
						</div>
		
						<div ng-repeat="tag in reference.Tags track by tag.id" class="apop-tag-repeat">
							<a class="button apop-tag" ng-href="{{buckets['facts-and-evidence'].Route}}/{{tag.id}}" ng-click="closeModal('reference-viewer')">{{tag.Tag}}</a>
							<div ng-repeat="subtag in reference.Subtags track by subtag.id" ng-if="subtag.Tag.id === tag.id" class="apop-subtag-repeat">
								<a class="button apop-subtag" ng-href="{{buckets['facts-and-evidence'].Route}}/{{subtag.id}}" ng-click="closeModal('reference-viewer')">{{subtag.Subtag}}</a>
							</div>
						</div>
		
					</div>
		
				</div>

			</ion-scroll>

		</div>

		<div class="apop-modal-sidebar-actions-container">
			<div class="apop-modal-sidebar-action-wrapper">
				<div class="button apop-modal-sidebar-action apop-sidebar-share-button" ng-click="openModal('share-reference', reference.id)">
					<i class="apop-icon-share"></i>
					<p>Share</p>
				</div>
			</div>
			<div class="apop-modal-sidebar-action-wrapper">
				<a ng-if="stateof.refPDF === 'clean'" ng-href="content/references/{{reference.filename}}.pdf?download=true" target="_blank" download="{{reference.filename}}" ng-hide="!online && !reference.Cache">
					<div class="button apop-modal-sidebar-action apop-sidebar-download-button" ng-click="downloadReference('clean')">
						<i class="apop-icon-download"></i>
						<p>Download</p>
					</div>
				</a>
				<!-- <a ng-if="stateof.refPDF === 'annotated'" ng-href="content/reference/{{reference.AnnotatedFilePath.id}}?download=true" target="_blank" download="{{reference.AnnotatedFilePath.id}}" ng-hide="!online && !reference.Cache">
					<div class="button apop-modal-sidebar-action apop-sidebar-download-button" ng-click="downloadReference('annotated')">
						<i class="apop-icon-download"></i>
						<p>Download</p>
					</div>
				</a> -->
			</div>
			<!-- <div ng-if="reference | has:'SourceFilePath.id'" class="apop-modal-sidebar-action-wrapper">
				<a ng-href="content/reference/{{reference.SourceFilePath.id}}?download=true" target="_blank" download="{{reference.SourceFilePath.id}}" ng-hide="!online && !reference.Cache">
					<div class="button apop-modal-sidebar-action apop-sidebar-download-source-button" ng-click="downloadReference('annotated')">
						<i class="apop-icon-download"></i>
						<p>Download Source</p>
					</div>
				</a>
			</div> -->
			<!-- <div class="apop-modal-sidebar-action-wrapper">
				<div ng-show="(reference | isFavorited:user )" class="button apop-modal-sidebar-action apop-sidebar-favorite-button" ng-click="archiveFavorite(reference)">
					<i class="apop-icon-fullheart"></i>
					<p>Unfavorite</p>
				</div>
				<div ng-show="!(reference | isFavorited:user )" class="button apop-modal-sidebar-action apop-sidebar-favorite-button" ng-click="saveFavorite(reference)">
					<i class="apop-icon-emptyheart"></i>
					<p>Favorite</p>
				</div>
			</div> -->
		</div>

	</div>

	<div class="apop-modal-content">
		<div ng-show="online || reference.Cache" id="reference"></div>
		<div ng-hide="online" class='apop-fallback-message'>
			<h2>This reference is not available in offline mode. Please reconnect to the internet to view or download this PDF.</h3>
		</div>
	</div>

	<div class="apop-modal-loader">
		<div class="apop-loader-icon">
			<i class="icon ion-load-c"></i>
		</div>
	</div>

	<!-- <div class="apop-modal-footer">
		<div class="apop-modal-footer-message">
			<p class="apop-modal-footer-message-text">References may contain highlights that refer to more than one core scientific statement or substatement/evidence</p>
		</div>
	</div> -->

</ion-modal-view>