<ion-modal-view class="apop-gate-confirmation-modal">
	<div class="apop-modal-header">

		<p class="apop-modal-title">DISCLAIMER</p>

	</div>
	<div class="apop-modal-content">

        <div class="apop-gate-confirmation-message">

            <p><em>{{document_disclaimer}}</em></p>

        </div>

		<div class="apop-gate-confirmation-button-wrapper">
			<button class="button apop-button apop-dark-button" ng-click="closeModal('confirm-dashboard');">Continue</button>
		</div>

	</div>
</ion-modal-view>