<ion-modal-view class="apop-modal apop-figureviewer-modal">
	<div class="apop-modal-header">
		<p class="apop-modal-title">Figure Viewer</p>

		<button class="button apop-button apop-modal-close-button" ng-click="closeModal('sp-figure-viewer')">
			<div class="apop-modal-button-content">
				<p>Close</p>
				<i class="icon ion-ios-close-empty"></i>
			</div>
		</button>
	</div>

	<div class="apop-modal-figureviewer-container">
		<div class="apop-modal-figureviewer-scroll">

			<!-- <div bind-html-compile="figure.title" class="apop-figureviewer-title"></div> -->

			<div class="apop-figureviewer-content">
				<div class='apop-wide-figure-container'>
					<img ng-src="/content/figure/{{figure.id}}" width="100%" height="auto" />
				</div>
			</div>

			<!-- <div bind-html-compile="figure.figure" class="apop-figureviewer-content"></div> -->

			<!-- <div bind-html-compile="figure.footnote" class="footnote" ng-if="figure.footnote"></div> -->

		</div>
	</div>

</ion-modal-view>