<ion-modal-view class="apop-modal apop-medium-modal apop-askplatform-modal">
	<div class="apop-modal-header">
		<p class="apop-modal-title">Help</p>

		<button class="button apop-button apop-modal-close-button" ng-click="closeModal('ask-platform')">
			<div class="apop-modal-button-content">
				<p>Close</p>
				<i class="icon ion-ios-close-empty"></i>
			</div>
		</button>
	</div>
	<div class="apop-modal-content">

		<div class="apop-askplatform-survey-container">
			<div class="apop-askplatform-survey-scroll">
				<ion-scroll direction="y" style="width: 100%; height: 100%;">

					<h3 class="survey-container-title">Survey</h3>

					<div ng-if="!surveys.length" class="apop-askplatform-survey-slider-container">
						<div class="apop-askplatform-continue-bar" ng-init="survey_index = 0; askplatform_responses.survey.survey_id = 'survey_1';">
							<button ng-if="survey_index === 0" class="button flex-button apop-askplatform-continue-button" ng-click="surveyNext()">
								<span >Begin Survey</span>
							</button>
							<button ng-if="survey_index === 1 || survey_index === 2 || survey_index === 3 || survey_index === 4 || survey_index === 5 || survey_index === 6 || survey_index === 7 || survey_index === 8" class="button flex-button apop-askplatform-continue-button" ng-click="surveyNext()">
								<span >Next Question</span>
							</button>
							<button ng-if="survey_index === 9" class="button flex-button apop-askplatform-continue-button" ng-click="saveAskPlatformSurvey(askplatform_responses.survey);">
								<span>Submit</span>
							</button>
						</div>
	
						<ion-slide-box ng-init="survey_index = 0; askplatform_responses.survey.survey_id = 'survey_1';" on-slide-changed="survey_index = $index">
							<ion-slide>
	
								<p class="survey-container-intro">Please complete a quick survey to provide us with valuable feedback on the platform.</p>
	
							</ion-slide>
							<ion-slide>
		
								<p class="survey-container-statement">Are you familiar with the DEC-C Digital Platform hosted as TOI Data Exchange Center on OKTA portal?</p>
	
								<!-- <input type="hidden" id="survey_id" name="survey_id" ng-model="askplatform_responses.survey.survey_id" value="1"> -->
	
								<div class="survey-container-radios">
									<label for="survey_q1_1"><input type="radio" id="survey_q1_1" name="survey_q1" ng-model="askplatform_responses.survey.survey_q1" value="yes"><p>Yes</p></label>
									<label for="survey_q1_2"><input type="radio" id="survey_q1_2" name="survey_q1" ng-model="askplatform_responses.survey.survey_q1" value="no"><p>No</p></label>
								</div>
	
							</ion-slide>
							<ion-slide>
		
								<p class="survey-container-statement">I found the DEC-C Digital Platform to be easy to use and intuitive to navigate.</p>
	
								<!-- <input type="hidden" id="survey_id" name="survey_id" ng-model="askplatform_responses.survey.survey_id" value="1"> -->
	
								<div class="survey-container-radios">
									<label for="survey_q2_1"><input type="radio" id="survey_q2_1" name="survey_q2" ng-model="askplatform_responses.survey.survey_q2" value="strongly agree"><p>Strongly agree</p></label>
									<label for="survey_q2_2"><input type="radio" id="survey_q2_2" name="survey_q2" ng-model="askplatform_responses.survey.survey_q2" value="agree"><p>Agree</p></label>
									<label for="survey_q2_3"><input type="radio" id="survey_q2_3" name="survey_q2" ng-model="askplatform_responses.survey.survey_q2" value="neutral"><p>Neutral</p></label>
									<label for="survey_q2_4"><input type="radio" id="survey_q2_4" name="survey_q2" ng-model="askplatform_responses.survey.survey_q2" value="disagree"><p>Disagree</p></label>
									<label for="survey_q2_5"><input type="radio" id="survey_q2_5" name="survey_q2" ng-model="askplatform_responses.survey.survey_q2" value="strongly disagree"><p>Strongly disagree</p></label>
								</div>
	
							</ion-slide>
							<ion-slide>
		
								<p class="survey-container-statement">What information do you find most useful on the DEC-C Digital Platform? (select all that apply)</p>
	
								<div class="survey-container-radios">
									<label for="survey_q3_1"><input type="checkbox" id="survey_q3_1" name="survey_q3_1" ng-model="askplatform_responses.survey.survey_q3.a" value="scientific narrative"><p>Scientific Narrative</p></label>
									<label for="survey_q3_2"><input type="checkbox" id="survey_q3_2" name="survey_q3_2" ng-model="askplatform_responses.survey.survey_q3.b" value="references"><p>References</p></label>
									<label for="survey_q3_3"><input type="checkbox" id="survey_q3_3" name="survey_q3_3" ng-model="askplatform_responses.survey.survey_q3.c" value="congress activities"><p>Congress Activities</p></label>
									<label for="survey_q3_4"><input type="checkbox" id="survey_q3_4" name="survey_q3_4" ng-model="askplatform_responses.survey.survey_q3.d" value="competitor decks"><p>Competitor Decks</p></label>
									<label for="survey_q3_5"><input type="checkbox" id="survey_q3_5" name="survey_q3_5" ng-model="askplatform_responses.survey.survey_q3.e" value="competitor manuscript summaries"><p>Competitor Manuscript Summaries</p></label>
									<label for="survey_q3_6"><input type="checkbox" id="survey_q3_6" name="survey_q3_6" ng-model="askplatform_responses.survey.survey_q3.f" value="educational materials slide decks"><p>Educational Materials Slide Decks</p></label>
								</div>
	
							</ion-slide>
							<ion-slide>
		
								<p class="survey-container-statement">What information would you like see more of on the DEC-C Digital Platform?</p>
	
								<!-- <input type="hidden" id="survey_id" name="survey_id" ng-model="askplatform_responses.survey.survey_id" value="1"> -->
	
								<div class="survey-container-radios">
									<label for="survey_q4_1"><input type="radio" id="survey_q4_1" name="survey_q4" ng-model="askplatform_responses.survey.survey_q4" value="data"><p>Data</p></label>
									<label for="survey_q4_2"><input type="radio" id="survey_q4_2" name="survey_q4" ng-model="askplatform_responses.survey.survey_q4" value="congress activities"><p>Congress activities</p></label>
									<label for="survey_q4_3"><input type="radio" id="survey_q4_3" name="survey_q4" ng-model="askplatform_responses.survey.survey_q4" value="literature"><p>Literature</p></label>
									<label for="survey_q4_4"><input type="radio" id="survey_q4_4" name="survey_q4" ng-model="askplatform_responses.survey.survey_q4" value="competitor information"><p>Competitor information</p></label>
								</div>
	
							</ion-slide>
							<ion-slide>
		
								<p class="survey-container-statement">If you have previously encountered an error message while using the DEC-C Digital Platform, were you able to resolve the problem in a timely fashion?</p>
	
								<!-- <input type="hidden" id="survey_id" name="survey_id" ng-model="askplatform_responses.survey.survey_id" value="1"> -->
	
								<div class="survey-container-radios">
									<label for="survey_q5_1"><input type="radio" id="survey_q5_1" name="survey_q5" ng-model="askplatform_responses.survey.survey_q5" value="yes"><p>Yes</p></label>
									<label for="survey_q5_2"><input type="radio" id="survey_q5_2" name="survey_q5" ng-model="askplatform_responses.survey.survey_q5" value="no"><p>No</p></label>
									<label for="survey_q5_3"><input type="radio" id="survey_q5_3" name="survey_q5" ng-model="askplatform_responses.survey.survey_q5" value="n/a"><p>N/A</p></label>
								</div>
	
							</ion-slide>
							<ion-slide>
		
								<p class="survey-container-statement">Updates and Alerts are communicated effectively on the DEC-C Digital Platform.</p>
	
								<!-- <input type="hidden" id="survey_id" name="survey_id" ng-model="askplatform_responses.survey.survey_id" value="1"> -->
	
								<div class="survey-container-radios">
									<label for="survey_q6_1"><input type="radio" id="survey_q6_1" name="survey_q6" ng-model="askplatform_responses.survey.survey_q6" value="yes"><p>Yes</p></label>
									<label for="survey_q6_2"><input type="radio" id="survey_q6_2" name="survey_q6" ng-model="askplatform_responses.survey.survey_q6" value="no"><p>No</p></label>
								</div>
	
							</ion-slide>
							<ion-slide>
		
								<p class="survey-container-statement">As a user, it would be helpful to have a welcome packet/user guide on how to use the DEC-C Digital Platform.</p>
	
								<!-- <input type="hidden" id="survey_id" name="survey_id" ng-model="askplatform_responses.survey.survey_id" value="1"> -->
	
								<div class="survey-container-radios">
									<label for="survey_q7_1"><input type="radio" id="survey_q7_1" name="survey_q7" ng-model="askplatform_responses.survey.survey_q7" value="yes"><p>Yes</p></label>
									<label for="survey_q7_2"><input type="radio" id="survey_q7_2" name="survey_q7" ng-model="askplatform_responses.survey.survey_q7" value="no"><p>No</p></label>
								</div>
	
							</ion-slide>
							<ion-slide>
	
								<p class="survey-container-statement">In addition to the DEC-C Digital Platform, I get information from the following sources: </p>
	
								<textarea name="survey_q8" class="survey-container-input" ng-model="askplatform_responses.survey.survey_q8" placeholder="Please respond here." rows="4" maxlength="1000"></textarea>
	
							</ion-slide>
							<ion-slide>
	
								<p class="survey-container-statement">Additional comments: </p>
	
								<textarea name="survey_q9" class="survey-container-input" ng-model="askplatform_responses.survey.survey_q9" placeholder="Please respond here." rows="4" maxlength="1000"></textarea>
	
							</ion-slide>
						</ion-slide-box>
					</div>
	
					<div ng-if="surveys.length" class="apop-askplatform-survey-thankyou-container">
						<p class="survey-container-thankyou">Thank you for completing the survey.</p>
					</div>

				</ion-scroll>
			</div> <!-- .apop-askplatform-survey-scroll -->
		</div> <!-- .apop-askplatform-survey-container -->

		<div class="apop-askplatform-help-container">

			<div class="help-container-wrapper">
				<!--Heading-->
				<h3 class="help-container-title">Questions or Comments?</h3>
	
				<!--Prompt-->
				<p class="help-container-prompt">Please submit your query regarding the platform or content.</p>
	
				<textarea name="ask_platform" rows="2" maxlength="1000" ng-model="askplatform_responses.comments.comment" placeholder="How can we help you?" class="help-container-input"></textarea>
	
				<div class="help-container-submit">
					<button class="button apop-button help-container-submit-button" ng-click="saveAskPlatformComment(askplatform_responses.comments); successAskPlatformComment();">
						<i class="icon ion-android-send"></i>
						Submit
					</button>
	
					<p class="help-container-submit-message">Thank you for your question(s). You will receive a response as soon as possible.</p>
				</div>
			</div>
		</div>

	</div> <!-- .apop-modal-content -->

</ion-modal-view>