<ion-modal-view class="apop-modal apop-message-modal">
    <div class="apop-message-modal-container">
        <div class="apop-message-modal-header">
            <p class="apop-message-modal-header-title">Session Expired</p>

            <!-- <button class="button apop-button apop-modal-close-button" ng-click="closeModal('session-expired');">
                <div class="apop-modal-button-content">
                    <p>Close</p>
                    <i class="icon ion-ios-close-empty"></i>
                </div>
            </button> -->
        </div>
        <div class="apop-message-modal-content">

            <p class="apop-platform-alerts-message">Your session has expired. To renew your session, click the button below.

        </div>
        <div class="apop-message-modal-footer">
        	<button class="button apop-dark-button apop-modal-update-button" ng-click="logoutExpiredSession();">
                <div class="apop-modal-button-content">
                    <p>Login</p>
                </div>
            </button>
        </div>
    </div>
</ion-modal-view>
