<ion-modal-view class="apop-modal apop-message-modal">
    <div class="apop-message-modal-container">
        <div class="apop-message-modal-header">
            <p class="apop-message-modal-header-title">Platform Version Update</p>

            <button class="button apop-button apop-modal-close-button" ng-click="closeModal('manifest-update');">
                <div class="apop-modal-button-content">
                    <p>Close</p>
                    <i class="icon ion-ios-close-empty"></i>
                </div>
            </button>
        </div>
        <div class="apop-message-modal-content">

            <p class="apop-platform-alerts-message">An updated version of the platform has been downloaded and is now available. To view this new version, click the button below to refresh the platform.

        </div>
        <div class="apop-message-modal-footer">
        	<button class="button apop-dark-button apop-modal-update-button" ng-click="manifestLogoutRefresh(); closeModal('manifest-update');">
                <div class="apop-modal-button-content">
                    <p>Refresh</p>
                </div>
            </button>
        </div>
    </div>
</ion-modal-view>
