// *************************************
//
//   config.platform.scss
//	 Taiho Oncology Style Configuration
//
//   v 0.1
//	 2019--05-17 : first created
//
//	 Single file to edit style parameters for a given platform
//
// *************************************

// -------------------------------------
//   PRIMARY BRAND COLOR
// -------------------------------------

	$apop-primary: #944e2e;

// -------------------------------------
//   SECONDARY BRAND COLOR
// -------------------------------------

	$apop-secondary: #fdbf57;

// -------------------------------------
//   TERTIARY BRAND COLOR
// -------------------------------------

	$apop-tertiary: #f15c30;
