<ul class="breadcrumb bc-content">
  <li ng-repeat="step in steps" ng-switch="$last || !!step.abstract" ng-class="{active: $last}" class="bc-item">
    <a ng-switch-when="false" href="{{step.ncyBreadcrumbLink}}" class="button apop-dark-button bc-button" bind-html-compile="step.ncyBreadcrumbLabel"></a>
    <a ng-switch-when="true" href="" class="button apop-dark-button bc-button" bind-html-compile="step.ncyBreadcrumbLabel"></a>
    <!-- <span ng-switch-when="true">{{step.ncyBreadcrumbLabel}}</span> -->
    <!-- <span class="divider" ng-hide="$last">/</span> -->
  </li>
</ul>