<!-- <div class="apop-global-header-toggle">
	<a class="button apop-button apop-header-button apop-toggle-btn" href="">
		<i class="icon apop-icon-switch"></i>
		<h6>Switch Platforms</h6>
	</a>
</div> -->

<div class="apop-global-header-content">
	<div class="company-logo"></div>
</div>

<div class="apop-global-header-buttons">
	<a class="button apop-button apop-header-button apop-alert-btn" href="#/platform-alerts">
		<div ng-if="(alerts | unread).length > 0" class="apop-platform-alert-indicator">
			<p ng-if="(alerts | unread).length < 10" class="apop-platform-alert-count">{{(alerts | unread).length}}</p>
			<p ng-if="(alerts | unread).length > 9" class="apop-platform-alert-count">+</p>
		</div>
		<img src="./images/dashboard-icon-09.png" width="32" height="32" alt="icon" class="item-icon" />
		<h6>Alerts</h6>
	</a>

	<a class="button apop-button apop-header-button apop-ask-platform-btn" href="" ng-click="openModal('ask-platform')">
		<i class="icon ion-help"></i>
		<h6>Help</h6>
	</a>

	<!-- <a class="button apop-button apop-header-button apop-favorites-btn" href="" ng-click="openModal('favorites')">
		<i class="icon ion-heart"></i>
		<h6>Favorites</h6>
	</a> -->

	<a class="button apop-button apop-header-button apop-log-out-btn" href="/logout">
		<i class="icon ion-power"></i>
		<h6>Log Out</h6>
	</a>
</div>

<!-- <div class="apop-global-header-logo"></div> -->

<div class="apop-platform-title">
	<h1 class="apop-platform-title-content">
		<span class="compound">%PLATFORM_COMPOUND%</span>
		<span class="indication">%PLATFORM_INDICATION%</span>
		<span class="title">DEC-C Digital Platform</span>
	</h1>
</div>