<div class="apop-loader-container">

	<div class="apop-loader-box">
		<div class="apop-loader-content">

			<img src="./images/platform-login-logo.png" width="270" height="34" alt="Login Logo" class="loader-header-logo" />

			<h2 class="loader-welcome" bind-html-compile="preloader.title">Loading</h2>

			<div class="apop-loader-progressbar">
				<div class="apop-loader-bar-container">
					<p ng-bind="preloader.progressBar.percentage"></p>
					<div class="apop-loader-bar" ng-class="preloader.progressBar.classes" ng-style="preloader.progressBar.styles" id="bar"></div>
				</div>

				<div class="apop-loader-filebar-container" ng-class="preloader.fileBar.classes">
					<div class="apop-loader-filebar" id="filebar" ng-style="preloader.fileBar.styles"></div>
				</div>
			</div>

			<!-- <p ng-bind="preloader.message.fileprogress"></p> -->

			<img src="./images/company-header-logo.png" width="68" height="66" alt="Company Logo" class="login-company-logo" />

		</div>
	</div>

	<!-- <div id="state">
		<p ng-bind="preloader.message.state"></p>
		<button ng-click="pause()">PAUSE</button>
		<button ng-click="escape()">FORCE COMPLETE</button>
	</div> -->

</div>