<div class="apop-global-search-content">
	<div class="list">

		<div class="item item-input-inset apop-search-input">
			<label class="item-input-wrapper">
				<i class="icon ion-search placeholder-icon"></i>
				<!-- <input type="text" placeholder="Enter Search Term" ng-model="search.query" ng-focus="displaySearchResults()" ng-change="updateSearchFilters()" ng-model-options="{debounce: 250}"> -->
				<input type="text" placeholder="Enter Search Term" ng-model="search.query" ng-focus="displaySearchResults()" ng-change="clearSearchResults()" ng-keypress="startSearch($event)">
			</label>

			<button class="button button-small apop-dark-button apop-search-button" ng-disabled="!search.query" ng-click="displaySearchResults(); updateSearchFilters()">SEARCH PLATFORM</button>
		</div>

		<div class="apop-search-results">
			<div class="apop-search-results-tray">
				<div class="apop-search-results-header">

					<div class="apop-search-header-title apop-empty-state" ng-if="!search.query.length">
						<p class="apop-search-header-caption">Enter search term above</p>
					</div>

					<div class="apop-search-header-title apop-entered-state" ng-if="search.query.length && !search.status && !search.running">
						<p class="apop-search-header-caption">Press <span class="state-object">ENTER</span> or <span class="state-action">&nbsp;</span><span class="state-object">SEARCH PLATFORM</span> to start searching</p>
					</div>

					<div class="apop-search-header-title apop-searching-state" ng-if="search.running">
						<i class="icon ion-load-c"></i>
						<p class="apop-search-header-caption">Searching...</p>
					</div>

					<div class="apop-search-header-title" ng-if="search.status && !search.running">
						<p class="apop-search-header-caption">Showing <span>{{results_references.length}}</span> Results For:</p>
						<p class="apop-search-header-query">&ldquo;{{search.query}}&rdquo;</p>
					</div>

					<div class="apop-search-close-button-wrapper">
						<button class="button apop-button apop-search-close-button" ng-click="hideSearchResults()">
							Close Search
							<i class="icon ion-ios-close-empty"></i>
						</button>
					</div>
				</div>

				<div class="apop-search-header-break"></div>

				<div class="apop-search-results-scroll">
					<div class="apop-search-results-content">

						<!-- TAGS AND SUBTAGS -->
						<div ng-if="filtered.tags | notEmpty">
							<p class="apop-search-results-content-sectionheader">Relevant <span>Tags</span></p>

							<div ng-repeat="tag in filtered.tags track by tag.id" class="apop-tag-repeat">
								<a class="button apop-tag" ng-href="{{buckets['facts-and-evidence'].Route}}/{{tag.id}}" ng-click="hideSearchResults()">{{tag.Tag}}</a>

								<div ng-repeat="subtag in tag.Subtags track by subtag.id" class="apop-subtag-repeat">
									<a class="button apop-subtag" ng-href="{{buckets['facts-and-evidence'].Route}}/{{subtag.id}}" ng-click="hideSearchResults()">{{ tag.Tag }} &gt; {{subtag.Subtag}}</a>
								</div>

							</div>

						</div>

						<!-- SCIENTIFIC LEXICON -->
						<div ng-if="(filtered.lexicon | notEmpty) || (filtered.glossary | notEmpty) || (filtered.abbreviations | notEmpty)">

							<p class="apop-search-results-content-sectionheader no-bottom-margin">From <span>Scientific Lexicon</span></p>

							<div class="apop-search-results-content-lexicon-container">

								<!-- LEXICON -->
								<!-- <div class="apop-search-results-content-lexicon-column" ng-if="$first" ng-repeat="lterm in filtered.lexicon_terms | orderBy:'-score'">

									<p class="lexicon-column-header">Lexicon:</p>

									<a href="#/scientific-lexicon/lexicon" class="button apop-search-results-item-button" ng-click="hideSearchResults()">
										<i class="icon ion-clipboard"></i>
										<p class="display-name">&nbsp;</p>
										<p class="title" ng-bind-html="lterm.term"></p>
									</a>

								</div> -->

								<!-- GLOSSARY -->
								<!-- <div ng-if="filtered.glossary_terms.length" class="apop-search-results-content-lexicon-column">

									<p class="lexicon-column-header">Glossary Definitions:</p>

									<a ng-if="$first" ng-repeat="term in filtered.glossary_terms | orderBy:'-score'" href="#/scientific-lexicon/glossary" class="button apop-search-results-item-button" ng-click="hideSearchResults()">
										<i class="icon ion-android-list"></i>
										<p class="display-name" ng-bind-html="term.term"></p>
										<p class="title" ng-bind-html="term.definition_raw"></p>
									</a>

									<div ng-if="filtered.glossary_terms.length > 1" class="lexicon-additional-results">
										<p class="heading">Additional Results:</p>

										<a ng-if="!$first" ng-repeat="term in filtered.glossary_terms | orderBy:'-score' | limitTo:3" href="#/scientific-lexicon/glossary" class="button apop-search-results-item-button" ng-click="hideSearchResults()">
											<i class="icon ion-android-list"></i>
											<p class="display-name" ng-bind-html="term.term"></p>
											<p class="title" ng-bind-html="term.definition_raw"></p>
										</a>
									</div>

								</div> -->

								<!-- ABBREVIATIONS -->
								<div ng-if="$first" class="apop-search-results-content-lexicon-column" ng-repeat="term in filtered.abbreviations track by term.id">

									<!-- <p class="lexicon-column-header">Abbreviations:</p> -->

									<a ng-href="{{buckets['scientific-lexicon'].Route}}" class="button apop-search-results-item-button" ng-click="hideSearchResults()">
										<i class="icon ion-bookmark"></i>
										<p class="display-name" ng-bind-html="term.Abbreviation"></p>
										<p class="title" ng-bind-html="term.Definition"></p>
									</a>

								</div>
							</div>

						</div>

						<!-- CORE SCIENTIFIC STATEMENTS -->
						<div ng-if="filtered.chapters | notEmpty">
							<p class="apop-search-results-content-sectionheader no-bottom-margin">From <span>Core Scientific Statements</span></p>

							<div ng-repeat="chapter in filtered.chapters track by chapter.id">

								<div ng-repeat="statement in chapter.Children track by statement.id">

									<div ng-if="$first" ng-repeat="substatement in statement.Children track by substatement.id">

										<a ng-href="{{buckets['core-scientific-statements'].Route}}/{{chapter.id}}/{{statement.id}}/{{substatement.id}}" class="button apop-search-results-item-button" ng-click="hideSearchResults()">
											<i class="icon ion-cube"></i>
											<p class="display-name"><span class="bc-1" bind-html-compile="chapter.Title"></span> &gt; <span class="bc-2" bind-html-compile="statement.Descriptor">Core Statement</span></p>
											<p class="title" bind-html-compile="substatement.Title"></p>
										</a>

									</div>

									<v-accordion ng-if="statement.Children.length > 1" class="vAccordion--default" multiple ng-init="css_expanded = false;">
										<v-pane>
											<v-pane-header ng-click="css_expanded = !css_expanded">
												<a class="apop-search-results-displaymore">
													<p ng-if="!css_expanded" class="apop-search-results-displaymore-label">

														Show <span class="count">{{statement.Children.length-1}} </span>More Result<span ng-show="statement.Children.length-1 > 1">s</span> in <span bind-html-compile="statement.Descriptor">Statement</span>

													</p>

													<p ng-if="css_expanded" class="apop-search-results-displaymore-label">
														Hide Results
													</p>
												</a>
											</v-pane-header>

											<v-pane-content expanded="false">

												<div ng-if="!$first" ng-repeat="substatement in statement.Children track by substatement.id">

													<a ng-href="{{buckets['core-scientific-statements'].Route}}/{{chapter.id}}/{{statement.id}}/{{substatement.id}}" class="button apop-search-results-item-button" ng-click="hideSearchResults()">
														<i class="icon ion-cube"></i>
														<p class="display-name"><span class="bc-1" bind-html-compile="chapter.Title"></span> &gt; <span class="bc-2" bind-html-compile="statement.Descriptor">Core Statement</span></p>
														<p class="title" bind-html-compile="substatement.Title"></p>
													</a>

												</div>

											</v-pane-content>
										</v-pane>
									</v-accordion>

								</div>
							</div>


						</div>

						<!-- REFERENCES -->
						<div ng-if="filtered.references | notEmpty">

							<p class="apop-search-results-content-sectionheader no-bottom-margin">From <span>References</span></p>

							<div ng-if="$first" ng-repeat="reference in filtered.references track by reference.id">

								<!-- <button ng-click="openModal('reference-viewer', '{{reference.id}}')" class="button apop-search-results-item-button"> -->
								<button ng-click="openModal('reference-viewer', reference.id)" class="button apop-search-results-item-button">
									<i class="icon ion-document-text"></i>
									<p class="title">{{reference.ShortCitation}}</p>
									<!-- <p class="title">{{reference.DisplayName}}</p> -->
									<!-- <p class="title">{{reference.Title}}</p> -->
								</button>

								<!-- <p class="appears-in">APPEARS IN: <a href="{{reference.page_route}}" ng-click="hideSearchResults()">{{reference.page}}</a></p> -->

							</div>

							<v-accordion ng-if="filtered.references.length > 1" class="vAccordion--default" multiple ng-init="references_expanded = false">
								<v-pane>
									<v-pane-header ng-click="references_expanded = !references_expanded; scrollSearchResize()">
										<a class="apop-search-results-displaymore">
											<p ng-if="!references_expanded" class="apop-search-results-displaymore-label">
												Display <span class="count">{{filtered.references.length-1}}</span> More Result<span ng-show="filtered.references.length-1 > 1">s</span>
											</p>

											<p ng-if="references_expanded" class="apop-search-results-displaymore-label">
												Hide Result<span ng-show="filtered.references.length-1 > 1">s</span>
											</p>
										</a>
									</v-pane-header>
									<v-pane-content expanded="references_expanded">
										<div ng-if="!$first" ng-repeat="reference in filtered.references track by reference.id">

											<!-- <button ng-click="openModal('reference-viewer', '{{reference.id}}')" class="button apop-search-results-item-button"> -->
											<button ng-click="openModal('reference-viewer', reference.id)" class="button apop-search-results-item-button">
												<i class="icon ion-document-text"></i>
												<p class="title">{{reference.ShortCitation}}</p>
												<!-- <p class="title">{{reference.DisplayName}}</p> -->
												<!-- <p class="title">{{reference.Title}}</p> -->
											</button>
											<!-- <p class="appears-in">APPEARS IN: <a href="{{reference.page_route}}" ng-click="hideSearchResults()">{{reference.page}}</a></p> -->

										</div>
									</v-pane-content>
								</v-pane>
							</v-accordion>

						</div>

						<!-- DOCUMENTS -->
						<div ng-if="filtered.documents | notEmpty">

							<p class="apop-search-results-content-sectionheader no-bottom-margin">From <span>Documents</span></p>

							<div ng-if="$first" ng-repeat="document in filtered.documents track by document.id">

								<!-- <button ng-click="openModal('document-viewer', '{{document.id}}')" class="button apop-search-results-item-button"> -->
								<button ng-if="document.id < 4" ng-click="openModal('document-viewer', document.id)" class="button apop-search-results-item-button">
									<i class="icon ion-document-text"></i>
									<!-- <p class="display-name">{{document.ShortCitation}}</p> -->
									<p class="title">{{document.Title}}</p>
								</button>

								<!-- EDUCATIONAL MATERIALS WORKAROUND -->
								<button ng-if="document.id >= 4" ng-click="promptDisclaimer(document.id);" class="button apop-search-results-item-button">
									<i class="icon ion-document-text"></i>
									<!-- <p class="display-name">{{document.ShortCitation}}</p> -->
									<p class="title">{{document.Title}}</p>
								</button>

								<!-- <p class="appears-in">APPEARS IN: <a href="{{document.page_route}}" ng-click="hideSearchResults()">{{document.page}}</a></p> -->

							</div>

							<v-accordion ng-if="filtered.documents.length > 1" class="vAccordion--default" multiple ng-init="documents_expanded = false">
								<v-pane>
									<v-pane-header ng-click="documents_expanded = !documents_expanded; scrollSearchResize()">
										<a class="apop-search-results-displaymore">
											<p ng-if="!documents_expanded" class="apop-search-results-displaymore-label">
												Display <span class="count">{{filtered.documents.length-1}}</span> More Result<span ng-show="filtered.documents.length-1 > 1">s</span>
											</p>

											<p ng-if="documents_expanded" class="apop-search-results-displaymore-label">
												Hide Result<span ng-show="filtered.documents.length-1 > 1">s</span>
											</p>
										</a>
									</v-pane-header>
									<v-pane-content expanded="documents_expanded">
										<div ng-if="!$first" ng-repeat="document in filtered.documents track by document.id">

											<!-- <button ng-click="openModal('document-viewer', '{{document.id}}')" class="button apop-search-results-item-button"> -->
											<button ng-if="document.id < 4" ng-click="openModal('document-viewer', document.id)" class="button apop-search-results-item-button">
												<i class="icon ion-document-text"></i>
												<!-- <p class="display-name">{{document.ShortCitation}}</p> -->
												<p class="title">{{document.Title}}</p>
											</button>

											<!-- EDUCATIONAL MATERIALS WORKAROUND -->
											<button ng-if="document.id >= 4" ng-click="promptDisclaimer(document.id);" class="button apop-search-results-item-button">
												<i class="icon ion-document-text"></i>
												<!-- <p class="display-name">{{document.ShortCitation}}</p> -->
												<p class="title">{{document.Title}}</p>
											</button>

											<!-- <p class="appears-in">APPEARS IN: <a href="{{document.page_route}}" ng-click="hideSearchResults()">{{document.page}}</a></p> -->

										</div>
									</v-pane-content>
								</v-pane>
							</v-accordion>

						</div>

						<!-- CONGRESSES -->
						<div ng-if="filtered.congress_activities.length > 0">

							<p class="apop-search-results-content-sectionheader no-bottom-margin">From <span>Congress Activities</span></p>

							<div ng-if="$first" ng-repeat="congress in filtered.congress_activities | orderBy:'-score'">

								<a href="#/congress-activities/congress/{{congress.id}}" class="button apop-search-results-item-button" ng-click="hideSearchResults()">
									<i class="icon ion-ios-people"></i>
									<p class="display-name">{{congress.dates}}&nbsp;&ndash;&nbsp;{{congress.location}}</p>
									<p class="title" bind-html-compile="congress.event"></p>
								</a>

							</div>

							<v-accordion ng-if="filtered.congress_activities.length > 1" class="vAccordion--default" multiple ng-init="congresses_expanded === false">
								<v-pane>
									<v-pane-header ng-click="congresses_expanded = !congresses_expanded">
										<a class="apop-search-results-displaymore">
											<p class="apop-search-results-displaymore-label" ng-if="!congresses_expanded">
												Display <span class="count">{{filtered.congress_activities.length-1}}</span> More Result<span ng-show="filtered.congress_activities.length-1 > 1">s</span>
											</p>

											<p class="apop-search-results-displaymore-label" ng-if="congresses_expanded">
												Hide Result<span ng-show="filtered.congress_activities.length-1 > 1">s</span>
											</p>
										</a>
									</v-pane-header>

									<v-pane-content expanded="false">
										<div ng-repeat="congress in filtered.congress_activities | orderBy:'-score'">

											<a ng-if="!$first"  href="#/congress-activities/congress/{{congress.id}}" class="button apop-search-results-item-button" ng-click="hideSearchResults()">
												<i class="icon ion-ios-people"></i>
												<p class="display-name">{{congress.dates}}&nbsp;&ndash;&nbsp;{{congress.location}}</p>
												<p class="title" bind-html-compile="congress.event"></p>
											</a>

										</div>
									</v-pane-content>
								</v-pane>
							</v-accordion>

						</div>						

						<div ng-if="search.status && !search.running && (filtered.tags | empty) && (filtered.subtags | empty) && (filtered.chapters | empty) && (filtered.references | empty) && (filtered.documents | empty) && (filtered.congress_activities | empty)" class="apop-search-no-results">
							<div class="apop-search-no-results-content">
								<i class="icon ion-alert-circled"></i>
								<h2 class="apop-search-no-results-message">NO RESULTS!</h2>
							</div>
						</div>

					</div> <!-- .apop-search-results-content -->
				</div> <!-- .apop-search-results-scroll -->

			</div> <!-- .apop-search-results-tray -->
		</div> <!-- .apop-search-results -->


	</div> <!-- .list -->
</div> <!-- .apop-global-search-content -->