<div class="apop-page apop-landing-page apop-platform-alerts">

	<div class="apop-page-content">
		<h2 class="apop-page-title" bind-html-compile="globallocal.platform_alerts.title"></h2>
		<div class="apop-page-description" bind-html-compile="globallocal.platform_alerts.description"></div>

		<div ng-if="alerts.length">
			<h3>Unread Alerts</h3>

			<div class="apop-platform-alerts-bucket">

				<div ng-repeat="alert in platform = (alerts | unread | orderBy: '-createdAt')" class="apop-platform-alert-item">

					<div class="apop-platform-alert-content">
						<i class="icon ion-alert"></i>
						<div class="apop-platform-alert-binding" bind-html-compile="alert.alert"></div>
						<span class="apop-platform-alert-date">Posted on {{alert.createdAt | date:'longDate'}}</span>
					</div>

					<div ng-if="!alert.alertstatus[0] || !alert.alertstatus[0].read" class="button apop-modal-sidebar-action apop-platform-alert-status-button"
					 ng-click="markReadAlertStatus(alert)">

						<div class="apop-block-wrapper">
							<div class="apop-displaytable-wrapper">
								<div class="apop-tablecell-wrapper">
									<i class="icon ion-android-drafts" ng-disabled="alert.alertstatus[0].read"></i>
									Mark as Read
								</div>
							</div>
						</div>

					</div>

				</div>

			</div>
		</div>

		<div ng-if="alerts.length">
			<h3>Read Alerts</h3>

			<div class="apop-platform-alerts-bucket">

				<div ng-repeat="alert in platform = (alerts | read | orderBy: '-createdAt')" class="apop-platform-alert-item">
					<div class="apop-platform-alert-content">
						<div>
							<i class="icon ion-alert"></i>
						</div>
						<div class="apop-platform-alert-binding" bind-html-compile="alert.alert"></div>
						<span class="apop-platform-alert-date">Posted on {{alert.createdAt | date:'longDate'}}</span>
					</div>
				</div>

			</div>
		</div>

		<div ng-if="alerts.length == 0" class="apop-no-alerts-message">No Alerts</div>

	</div>

</div>