// *************************************
//
//   modules/_modalconfirmdashboard.scss
//   -> Modal style for dashboard confirmation
//
// *************************************

// -------------------------------------
//   Confirmation Modals
// -------------------------------------

.apop-gate-confirmation-modal {
    background: $apop-modal-bg;
    box-shadow: $apop-modal-shadow;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    width: 800px;
    height: 200px;

    .apop-modal-header {
        background-color: $apop-primary;

        .apop-modal-close-button {
            &:hover {
                background-color: lighten($apop-primary, 5%);

                .apop-modal-button-content { color: $global-white; }
            }

            &:active {
                background-color: darken($apop-primary, 5%);

                .apop-modal-button-content { color: $global-white; }
            }
        }
    }

    .apop-modal-content {
        .apop-gate-confirmation-message {

            padding: $apop-gutter*3 $apop-gutter*2.5 $apop-gutter*10 $apop-gutter*2.5;

            p {
                @include font($ff-sans, $fs-regular, normal, 1.5em);
                text-align: center;
            }
            
            li {
                
                p {
                    // padding: $apop-gutter*2 $apop-gutter*5;
        
                    @include font($ff-sans, $fs-regular, normal, 1.5em);
                    // text-align: center;     
                    
                }

                ul {
                    
                    li {
                        @include font($ff-sans, $fs-regular, normal, 1.5em);
                    }
                }
                
            }



        }

        .apop-gate-confirmation-message + .apop-gate-confirmation-button-wrapper .apop-button {
            &:hover { background-color: lighten($apop-primary, 5%); }
        }

        .apop-gate-confirmation-button-wrapper {
            position: absolute;
            left: 0; right: 0; bottom: $apop-gutter*3;

            width: 100%;
            text-align: center;

            .apop-button {
                padding:  $apop-gutter $apop-gutter*6;

                text-transform: uppercase;
                @include font($ff-sans, $fs-medium);

                &:hover { box-shadow: 0 2px 12px rgba(0,0,0,0.15); }
            }
        }
    }
}
