// *************************************
//
//   modules/_modal.scss
//   -> Modal style across modals, throughout app
//
// *************************************

// -------------------------------------
//   Modal Backdrop
// -------------------------------------

	.modal-backdrop {
		min-width: $global-min-width;
	}

	.modal-backdrop.active {
		@include media("<global-min-width") {
			.modal-backdrop-bg {
				background-color: #000;
				opacity: 0.5;
			}

			.modal-wrapper {
				.modal {
					min-height: 0;
				}
			}
		}
	}

// -------------------------------------
//   Modal Global
// -------------------------------------

	.apop-modal {
		background: $apop-modal-bg;
		box-shadow: $apop-modal-shadow;

		top: 5%;
		right: 5%;
		bottom: 5%;
		left: 5%;

		width: 90%;
	}

	// --- Medium Modals --- //
	.apop-medium-modal {
		top: 10%;
		right: 15%;
		bottom: 10%;
		left: 15%;

		width: 70%;

		@include media("<desktop") {
			left: 0;
			right: 0;

			margin: 0 auto;
			width: $apop-modal-medium-width;
		}
	}

// -------------------------------------
//   Modal Header
// -------------------------------------

	.apop-modal-header {
		min-height: $apop-modal-header-height;
		max-height: $apop-modal-header-height;

		margin: $apop-gutter/2;
		background: $apop-modal-header;

		.apop-modal-title {
			display: inline;
			padding-left: $apop-gutter*2;

			color: $global-white;
			@include font($ff-sans, $fs-medium, normal, $apop-modal-header-height);
			text-transform: uppercase;
		}

		.apop-modal-close-button {
			float: right;
		}
	}

// -------------------------------------
//   Modal Toggle Switch
// -------------------------------------

	.apop-document-toggle-container {
		position: absolute;
		top: $apop-gutter/2;
		left: 25%; right: 25%;
		width: 50%;
		text-align: center;

		.apop-document-toggle-content {
			display: inline-block;
			width: auto;

			.apop-toggle-label-clean,
			.apop-toggle-label-marked {
				cursor: default;
				float: left;

				color: fade-out($global-white, 0.5);
				@include font($ff-sans, $fs-small, normal, $apop-modal-header-height);
				text-transform: uppercase;
			}

			.apop-toggle-label-clean { text-align: right; padding-right: $apop-gutter; }
			.apop-toggle-label-marked { text-align: left; padding-left: $apop-gutter; }

			.current-label {
				color: $global-white;
			}

			.apop-toggle {
				cursor: pointer;
				margin-top: $apop-gutter/2;
				float: left;

				input + .track {
					.handle { background-color: $apop-primary; }
				}

				input:checked + .track {
					border-color: #fff;
					background-color: #fff;
				}
			}

			@include clearfix();
		}
	}

// -------------------------------------
//   Modal Button(s)
// -------------------------------------

	.apop-modal-sidebar-button {
		.msie & { display: none; }
	}

	.apop-modal-sidebar-button,
	.apop-modal-close-button {
		min-height: $apop-modal-header-height;
		max-height: $apop-modal-header-height;

		background: none;
		box-shadow: none;
		color: $global-white;

		.apop-modal-button-content {
			display: table;

			p {
				display: table-cell;
				vertical-align: middle;

				margin: 0;
				text-transform: uppercase;
				@include font($ff-sans, $fs-small, normal);
			}

			.icon {
				display: table-cell;
				vertical-align: middle;

				&:before {
					font-size: $apop-modal-header-height;
					line-height: $apop-modal-header-height;
				}
			}

			.msie & {
				p {
					vertical-align: top;
					padding-top: 18px;
				}

				.icon:before {
					line-height: $apop-modal-header-height + 4px;
				}
			}
		}

		&:hover {
			color: $global-white;
			background: darken($apop-primary, 5%);
		}
	}

	.apop-modal-sidebar-button.activated,
	.apop-modal-close-button.activated {
		background: darken($apop-modal-header, 1%);
	}

	.apop-modal-sidebar-button .apop-modal-button-content p { padding-left: $apop-gutter; }
	.apop-modal-close-button .apop-modal-button-content p { padding-right: $apop-gutter; }

	// DOWNLOAD SOURCE BUTTON VISIBLE IN SIDEBAR
	.has-source {
		.apop-modal-sidebar-content-scroll {
			bottom: $apop-gutter*24;
		}

		.apop-modal-sidebar-actions-container {
			.apop-modal-sidebar-action-wrapper {
				width: 100%;
				margin-top: $apop-gutter;

				.apop-modal-sidebar-action {
					display: table;
					width: 100%;
					padding: 0 0 0 8px;

					i, p {
						display: table-cell;
						vertical-align: middle;
					}

					i {
						width: 60px;
						height: 48px;

						&:before {
							font-size: 24px !important;
							line-height: 48px !important;
						}
					}

					p { text-align: left; }
				}
			}
		}
	}	

// -------------------------------------
//   Global Modal Content
// -------------------------------------

	.apop-modal-content {
		position: absolute;
		top: $apop-modal-header-height + $apop-gutter;
		right: 0;
		// bottom: $apop-gutter/2;
		left: 0;
		padding: 0 $apop-gutter/2;

		.pdfobject-container {
			height: 100%;
		}

		.apop-fallback-message {
			padding: $apop-gutter * 5;
			text-align: center;

			h2, h3 {
				color: $medium-text-color;
				@include font($ff-serif, $font-size-base * 1.5);
				margin-bottom: $apop-gutter * 4;
			}
		}
	}

// -------------------------------------
//   Modal Loading Animation
// -------------------------------------

	.apop-modal-loader {
		position: absolute;
		top: $apop-modal-header-height + $apop-gutter;
		right: 0;
		bottom: $apop-gutter/2;
		left: 0;

		.msie & { left: $apop-modal-sidebar-width; }

		.apop-loader-icon {
			display: table;
			width: 100%;
			height: 100%;
			text-align: center;

			.icon {
				display: table-cell;
				vertical-align: middle;

				font-size: $fs-huge;

				@keyframes spin {
					0% { transform: rotate(0deg); }
					100% { transform: rotate(359deg); }
				}
				animation: spin 1s infinite linear;

				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -20.5px;
				margin-left: -17.5px;

			}
		}
	}


	// -------------------------------------
//   Modals With Sidebar (Reference & Document)
// -------------------------------------

	.apop-reference-modal,
	.apop-document-modal {
		.apop-modal-content {
			.msie & {
				left: $apop-modal-sidebar-width;
			}
		}
	}

// -------------------------------------
//   Modals With Footer (Reference)
// -------------------------------------

	.apop-reference-modal, .apop-document-modal {
		.apop-modal-content { bottom: $apop-gutter*3; }

		.apop-modal-footer {
			position: absolute;
			left: 0;
			right: 0;
			// bottom: $apop-gutter/2;
			padding: 0 $apop-gutter/2;

			.msie & {
				left: $apop-modal-sidebar-width;
			}

			.apop-modal-footer-message {
				display: table;
				width: 100%;
				height: $apop-gutter*3;

				background-color: $apop-modal-footer-bg;
				box-shadow: inset 0 6px 4px -4px rgba(0,0,0,0.05);

				.apop-modal-footer-message-text {
					display: table-cell;
					text-align: center;
					vertical-align: middle;

					color: $apop-modal-sidebar-header-bg;
					@include font($ff-sans, $fs-tiny, 500, normal, italic);
				}
			}
		}
	}