// *************************************
//
//   modules/_modaltableviewer.scss
//   -> Table viewer modal specifc style
//
// *************************************

// -------------------------------------
//   Table Viewer Modal
// -------------------------------------

	.apop-tableviewer-modal, .apop-figureviewer-modal {

		.apop-modal-tableviewer-container, .apop-modal-figureviewer-container {
			position: relative;
			width: 100%;
			height: 100%;
		}

		.apop-modal-tableviewer-scroll, .apop-modal-figureviewer-scroll {
			position: absolute;
			top: 0;
			right: $apop-gutter/2;
			bottom: $apop-modal-header-height + $apop-gutter*1.5;
			left: $apop-gutter/2;

			overflow-y: scroll;
			overflow-x: scroll;

			background: darken($apop-statement-bg, 2.5%);
			box-shadow: $apop-statement-shadow;
		}

		.apop-tableviewer-title, .apop-figureviewer-title {
			padding: $apop-gutter*2;
			padding-bottom: 0;

			@include font($ff-sans, $fs-medium, 500);
			color: $apop-primary;
		}

		.apop-tableviewer-content, .apop-figureviewer-content {
			padding: $apop-gutter*2;

			@include apopTable();

			table {
				margin: 0;

				tr {
					th p { font-size: $fs-fixed !important; }

					&:first-of-type {
						th {
							background: $apop-bcbg-4 !important;

							p { font-size: $fs-fixed !important; }
						}
					}
				}

				td { font-size: $fs-fixed !important; }

				tr.blue-highlight {
					td { background: lighten($apop-bcbg-2, 50%); }
				}

				tr.gray-highlight {
					td { background: lighten($global-text-color, 80%); }
				}
			}
			
			.apop-wide-figure-container {

				// padding: $apop-gutter * 2;
				// background: $apop-table-row;

				
				img {
					display: block;
					margin: 0 auto;
					width: 90%;
					// position: absolute;
					// top: 50%;
					// left: 50%;
					// transform: translate(-50%, 50%);

				}

			}
		
		}

		.footnote {
			padding: $apop-gutter*2;
			@include font($ff-sans, $fs-micro, normal, 1.25);

			// margin: 1em;

			// background: $apop-table-row;
			// box-shadow: $apop-table-shadow;


			span {
				display: block;
				margin: 0 auto;
				padding: $apop-gutter/2 0;
			}
		}

	}