// *************************************
//
//   modules/_modalaskplatform.scss
//   -> Ask Platform modal specifc style
//
// *************************************

// -------------------------------------
//   Ask Platform Modal Global
// -------------------------------------

	.apop-askplatform-modal {
		top: 4%;
		bottom: 6%;

		@include media("height<askplatform-modal-height") {
			left: 5%;
			right: 5%;
			width: 90%;
		}

		.apop-modal-content	{

			bottom: 5px;

		// -------------------------------------
		//   Ask Platform Modal Help Input
		// -------------------------------------

			.apop-askplatform-help-container {
				position: relative;
				height: 100%;
				width: 100%;
				// overflow: hidden;

				.help-container-wrapper {
					position: absolute;
					background: $apop-help-modal-bg;
					color: $alt-text-color;
					top: 0;
					right: 0;
					left: 0;
					bottom: $apop-askplatform-survey-height;
					padding: $apop-gutter*2;
	
				}

				.help-container-title {
					margin-bottom: 0.5em;

					@include font($ff-sans, $fs-reduced, 500);
					color: $alt-text-color !important;
					text-transform: uppercase;
				}

				.help-container-prompt {
					margin-bottom: 1em;

					@include font($ff-sans, $fs-small, 250, 1.25);
				}

				.help-container-input {
					resize: none;
					width: 100%;

					padding: $apop-gutter;
					@include font($ff-sans, $fs-reduced);

					background-color: $apop-input-background;
					box-shadow: $apop-button-active-shadow;
				}

				.help-container-submit {
					position: absolute;
					bottom: $apop-gutter*2;
					left: $apop-gutter*2;
					right: $apop-gutter*2;

					display: block;
					width: auto;

					.help-container-submit-message {
						visibility: hidden;
						opacity: 0;
						transition: visibility 0s linear 0s, opacity 300ms;

						padding: $apop-gutter 0;
						@include font($ff-sans, $fs-small, 500);
					}

					.help-container-submit-message.show-message {
						visibility: visible;
						opacity: 1;
						transition: visibility 0s linear 0s, opacity 300ms;
					}

					.help-container-submit-button {
						float: right;
						padding: 0 $apop-gutter*2;
						margin-left: $apop-gutter;

						color: $apop-primary;
						text-transform: uppercase;
						font-weight: 500;

						.icon { margin-right: $apop-gutter; }

						&:hover { color: $apop-secondary; }
					}

					@include clearfix();
				}
			}


		// -------------------------------------
		//   Ask Platform Modal Survey
		// -------------------------------------

			.apop-askplatform-survey-container {
				position: relative;
				width: 100%;
				height: $apop-askplatform-survey-height;
				max-height: $apop-askplatform-survey-height;
			}

			.apop-askplatform-survey-scroll {
				position: absolute;
				top: 0;
				right: 0;
				bottom: $apop-gutter/2;
				left: 0;

				overflow-x: hidden;

				// WHEN ON DESKTOP - TURN OFF IONIC SCROLL
				@include disableTouchScroll();

				.scroll-view .scroll { height: 100%; }

				background: darken($apop-statement-bg, 2.5%);
				box-shadow: $apop-statement-shadow;

				.survey-container-title {
					position: absolute;
					top: $apop-gutter*2;
					left: $apop-gutter*2;

					@include font($ff-sans, $fs-reduced, 500);
					color: $apop-primary !important;
					text-transform: uppercase;
				}

				.apop-askplatform-survey-slider-container,
				.apop-askplatform-survey-thankyou-container {
					height: 100%;
				}

				.slider {
					height: 100%;

					.slider-slides {
						.slider-slide {
							padding: $apop-gutter*2;
							padding-top: $apop-gutter*5;

							.survey-container-intro,
							.survey-container-thankyou {
								padding: $apop-gutter*4;

								@include font($ff-sans, $fs-reduced, normal, 1.25);
								text-align: center;
							}

							.survey-container-preface {
								margin-bottom: 0.5em;

								@include font($ff-sans, $fs-small, normal, 1.25);
							}

							.survey-container-statement {
								margin-bottom: 1em;

								@include font($ff-sans, $fs-small, 500, 1.25);
							}

							.survey-container-radios {
								display: block;
								width: 100%;

								label {
									cursor: pointer;
									display: table;
									width: 100%;
									margin-top: $apop-gutter/2;
									padding: $apop-gutter/2;

									background: rgba(255,255,255,0.25);
									box-shadow: $apop-button-shadow;
									border-radius: 24px;

									p {
										display: table-cell;
										vertical-align: middle;

										width: 100%;
										text-align: left;

										@include font($ff-sans, $fs-reduced, 500);
									}

									&:hover {
										background: $apop-secondary;
										color: $global-white;
										box-shadow: $apop-table-shadow;
									}

									input {
										display: table-cell;
										vertical-align: middle;

										width: 24px;
										height: 24px;
										margin-right: 12px;
									}
								}
							}

							.survey-container-input {
								resize: none;
								width: 100%;

								padding: $apop-gutter;
								@include font($ff-sans, $fs-reduced);

								background-color: $apop-input-background;
								box-shadow: $apop-button-active-shadow;
								border: 1px solid #D8D8D8;
							}
						}
					}

					.slider-pager {
						left: $apop-gutter*2.5;
						bottom: $apop-gutter*3;
						width: 210px;
						text-align: left;
					}
				}

				.apop-askplatform-continue-bar {
					position: absolute;
					z-index: 1;
					bottom: $apop-gutter*2;
					left: $apop-gutter*2;
					right: $apop-gutter*2;

					text-align: right;

					.apop-askplatform-continue-button {
						padding: 0 $apop-gutter*2;
						background: $apop-primary;

						text-transform: uppercase;
						font-weight: 500;
						color: $global-white;

						.icon { margin-left: $apop-gutter; }

						&:hover {
							background: $apop-secondary;
							box-shadow: $apop-table-shadow;
						}
					}
				}

				.apop-askplatform-survey-thankyou-container {
					.survey-container-thankyou {
						padding: $apop-gutter*8 $apop-gutter*4;

						@include font($ff-sans, $fs-reduced, normal, 1.25);
						text-align: center;
					}
				}
			}

			// -------------------------------------
			//   Ask Platform Modal on iPad
			// -------------------------------------

			@include media("height<askplatform-modal-height") {
				.apop-askplatform-help-container,
				.apop-askplatform-survey-container {
					display: block;
					margin: 0;
					height: 100%;
					float: left;
				}

				.apop-askplatform-help-container {
					width: 40%;
					max-height: 100%;

					.help-container-submit {
						position: static;
						margin-top: $apop-gutter;

						.help-container-submit-message { padding-top: 0; }
					}
				}

				.apop-askplatform-survey-container {
					width: 60%;

					.apop-askplatform-survey-scroll {
						bottom: 0;
					}
				}

				@include clearfix();
			}

			// -------------------------------------
			//   Ask Platform FAQ Container
			// -------------------------------------

			.apop-askplatform-faq-container {
				padding: $apop-gutter * 2;

				.apop-askplatform-faq-title {
					@include font($ff-sans, $fs-reduced, 500);
					color: $apop-primary !important;
					text-transform: uppercase;
				}

				.apop-askplatform-download-button {
					padding: 0 $apop-gutter*2;
					margin-top: $apop-gutter*2;

					text-transform: uppercase;
					font-weight: 500;

					.icon { margin-right: $apop-gutter; }

					&:hover { color: $apop-primary; }
				}

				.apop-askplatform-faq-block {
					margin: $apop-gutter*3 0 0 0;

					.apop-dashboard-icon {
						display: block;
						float: left;

						font-size: $apop-dashboard-header-iconsize;

						&:before {
							@include gradientIcon($apop-primary, $apop-secondary);
						}

						.msie & {
							color: $apop-primary;

							&:before {
								background: none;
								-webkit-text-fill-color: $apop-primary;
							}
						}
					}

					.apop-askplatform-faq-block-content {
						padding-left: $apop-gutter;
						overflow: hidden;
					}

					h4 {
						margin-bottom: $apop-gutter;

						@include font($ff-sans, $fs-small, 500);
						color: $alt-text-color;
						text-transform: uppercase;
					}

					p {
						@include font($ff-sans, $fs-small, 250, 1.25);
					}
				}
			}

		} // .apop-modal-content
	} // .apop-askplatform-modal