// *************************************
//
//   modules/_modal-sidebar.scss
//   -> Modal sidebar specific style, applies to all modals with a sidebar
//
// *************************************

// -------------------------------------
//   Modal Sidebar Button
// -------------------------------------

.apop-modal-sidebar-action {
	@extend .apop-button;

	i {
		display: block;
		height: 64px;

		&:before {
			font-size: 40px !important;
			line-height: 64px !important;
		}
	}

	@include font($ff-sans, $fs-tiny, bold);
	letter-spacing: -0.5px;
	padding-bottom: $apop-gutter*1.5;
	text-decoration: none;
}

// -------------------------------------
//   Modal Sidebar
// -------------------------------------

.apop-modal-sidebar {
	position: absolute;
	top: 0; bottom: 0;

	transition: transform 0.5s ease-in-out;
	transform: translate3d(-$apop-modal-sidebar-width, 0px, 0px);
	width: $apop-modal-sidebar-width;

	background: $apop-modal-sidebar-bg;
	box-shadow: 0 0 10px rgba(0,0,0,0);

	.msie & {
		-webkit-transition-property: none;
		-moz-transition-property: none;
		-o-transition-property: none;
		transition-property: none;

		transform: none;
		top: $apop-modal-header-height + $apop-gutter;
		left: 0;
	}

	// --- SIDEBAR HEADER (CLOSE BUTTON) --- //
	.apop-modal-sidebar-header {
		background: $apop-modal-sidebar-header-bg;
		border-bottom: 1px solid #e7e7e7;
		text-align: right;

		.apop-modal-sidebar-close-button {
			text-transform: uppercase;
			font-weight: bold;
			font-size: $fs-small;
			line-height: 44px;

			.icon::before { padding: 2px 4px 0 10px; }
		}

		.msie & {
			display: none;
		}
	}

	// --- SCROLL --- //
	.apop-modal-sidebar-content-scroll {
		position: absolute;
		top: $apop-gutter*5;
		right: 0;
		bottom: $apop-gutter*12;
		left: 0;

		overflow-x: hidden;

		// WHEN ON DESKTOP - TURN OFF IONIC SCROLL
		@include disableTouchScroll();

		.scroll-view .scroll { height: 100%; }
	}

	// --- SIDEBAR CONTENT --- //
	.apop-modal-sidebar-content {
		padding: $apop-gutter $apop-gutter*2;

		// --- SECTION HEADERS --- //
		.apop-origination-title-container,
		.apop-tags-title-container,
		.apop-assets-title-container,
		.apop-references-title-container {
			margin-bottom: $apop-gutter;

			.icon,
			.apop-origination-title,
			.apop-tags-title,
			.apop-assets-title,
			.apop-references-title {
				display: inline-block;
				float: left;
				color: $medium-text-color;
			}

			.icon {
				font-size: 1.5em;
				margin: 0 $apop-gutter 0 $apop-gutter/5;
			}

			// Flip the pricetags icon horizontally
			.ion-pricetags:before { transform: scaleX(-1); }

			.apop-origination-title,
			.apop-tags-title,
			.apop-assets-title,
			.apop-references-title {
				text-transform: uppercase;
				line-height: 2;
			}

			@include clearfix();
		}

		// --- TITLE --- //
		.apop-document-title,
		.apop-reference-title {
			margin-bottom: $apop-gutter;

			@include font($ff-sans, $fs-medium, normal, 1.25);
			letter-spacing: -1px;
		}

		// --- CITATION --- //
		.apop-reference-citation {
			margin: $apop-gutter*2 0 $apop-gutter*3 0;

			@include font($ff-sans, $fs-small, 500);
			color: $alt-text-color;
		}

		// --- TAGS --- //
		.apop-document-tags-container,
		.apop-reference-tags-container,
		.apop-reference-references-container {
			// margin-top: $apop-gutter*2;

			.apop-tag-repeat,
			.apop-subtag-repeat {
				display: inline-block;
				margin-right: $apop-gutter/2;
			}
		}

		// --- REFERRENCES --- //
		.apop-reference-repeat {
			& .apop-pageref-button {
				width: 100%;
				border-radius: 0;
				border: none;
				text-align: left;
				margin-bottom: $apop-gutter;
				box-shadow: $apop-button-shadow;
			}
			.apop-evidence-button {
				padding: 10px 12px;
				color: $global-text-color;
		
				.apop-reference-title {
					margin-top: $apop-gutter !important;
					margin-bottom: $apop-gutter !important;
					@include font($ff-sans !important, $fs-reduced);
				}
		
				.apop-reference-shortcitation {
					margin-bottom: 0 !important;
					@include font($ff-sans !important, $fs-tiny, bold);
				}
		
				&:hover {
					color: $apop-primary;
				}
			}
		}
	}

	// --- BUTTONS --- //
	.apop-modal-sidebar-actions-container {
		position: absolute;
		bottom: $apop-gutter*2;
		left: $apop-gutter*1.5;
		right: $apop-gutter*1.5;
		background: $apop-modal-sidebar-bg;
		box-shadow: 0 0 $apop-gutter $apop-gutter $apop-modal-sidebar-bg;

		.apop-modal-sidebar-action-wrapper {
			float: left;
			width: 33.333%;
			padding: 0 $apop-gutter/2;

			.apop-modal-sidebar-action {
				display: block;

				p {
					margin: 0;
					@include font($ff-sans, $fs-regular, 700);
				}
			}
		}

		.apop-sidebar-share-button {
			color: $global-purple;

			&:hover {
				color: saturate(lighten($global-purple, 10%), 20%);
			}
		}

		.apop-sidebar-download-button {
			color: $global-blue;

			.apop-icon-download {
				&:before { font-size: 34px !important; }
			}

			&:hover {
				color: saturate(lighten($global-blue, 10%), 20%);
			}
		}

		.apop-sidebar-download-source-button {
			color: $global-green;

			.apop-icon-download {
				&:before { font-size: 34px !important; }
			}

			&:hover {
				color: saturate(lighten($global-green, 10%), 20%);
			}
		}

		.apop-sidebar-favorite-button {
			color: $global-red;

			&:hover {
				color: saturate(lighten($global-red, 10%), 20%);
			}
		}

		@include clearfix();
	}
}

.apop-modal-sidebar-open {
	transform: translate3d(0px, 0px, 0px);
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

// DOWNLOAD SOURCE BUTTON VISIBLE IN SIDEBAR
.has-source {
	.apop-modal-sidebar-content-scroll {
		bottom: $apop-gutter*24;
	}

	.apop-modal-sidebar-actions-container {
		.apop-modal-sidebar-action-wrapper {
			width: 100%;
			margin-top: $apop-gutter;

			.apop-modal-sidebar-action {
				display: table;
				width: 100%;
				padding: 0 0 0 8px;

				i, p {
					display: table-cell;
					vertical-align: middle;
				}

				i {
					width: 60px;
					height: 48px;

					&:before {
						font-size: 24px !important;
						line-height: 48px !important;
					}
				}

				p { text-align: left; }
			}
		}
	}
}