// *************************************
//
//   modules/_modalfavorites.scss
//   -> Favorites modal specifc style
//
// *************************************

// -------------------------------------
//   Favorites Modal
// -------------------------------------

	.apop-favorites-modal {

		.apop-modal-favorites-container {
			position: relative;
			width: 100%;
			height: 100%;
		}

		.apop-modal-favorites-scroll{
			position: absolute;
			top: 0;
			right: $apop-gutter/2;
			bottom: $apop-modal-header-height + $apop-gutter*1.5;
			left: $apop-gutter/2;

			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			overflow-x: hidden;

			background: darken($apop-statement-bg, 2.5%);
			box-shadow: $apop-statement-shadow;

			.apop-modal-favorites-list {
				display: block;
				padding-right: $apop-gutter*4;
				width: 100%;
			}

			.scroll-view { height: 100%; }

			// WHEN ON DESKTOP - TURN OFF IONIC SCROLL
			@include disableTouchScroll();
		}

		.apop-modal-favorite-item {
			margin: $apop-gutter $apop-gutter*2;
			&:first-child { margin-top: $apop-gutter*2; }
			&:last-child { margin-bottom: $apop-gutter*2; }

			display: table;
			table-layout: fixed;
			width: 100%;

			box-shadow: $apop-button-shadow;

			.apop-pageref-button {
				display: table-cell;
				margin: 0;
				padding: 6px 12px;

				min-height: 64px;
				height: 100%;

				p {
					text-align: left;
					@include font($ff-sans, $fs-small);

					span {
						font-weight: 500;
					}
				}

			}

			.apop-modal-sidebar-action {
				position: relative;
				padding: 0 !important;
				display: table-cell;

				min-width: 76px;
				max-width: 76px;
				width: 76px;

				.apop-block-wrapper {
					display: block;
					position: absolute;
					top: 0; right: 0; bottom: 0; left: 0;

					.apop-displaytable-wrapper {
						display: table;
						width: 100%;
						height: 100%;

						.apop-tablecell-wrapper {
							display: table-cell;
							vertical-align: middle;
							min-height: $apop-gutter*6;

							.apop-icon-share,
							.apop-icon-download,
							.apop-icon-fullheart {
								height: 40px !important;

								&:before { 
									font-size: 28px !important;
									line-height: 36px !important;
								}

								.msie & {
									&:before { 
										line-height: 40px !important;
									}
								}
							}
						}
					}
				}
			}

			.apop-sidebar-share-button {
				color: $global-purple;
				&:hover { color: saturate(lighten($global-purple, 10%), 20%); }
			}

			.apop-sidebar-download-button {
				color: $global-blue;
				&:hover { color: saturate(lighten($global-blue, 10%), 20%); }
			}

			.apop-sidebar-favorite-button {
				color: $global-red;
				&:hover { color: saturate(lighten($global-red, 10%), 20%); }
			}

			background: rgba(0,0,0,0.333);
		}

		.apop-no-favorites-message {
			padding: $apop-gutter*5 0 0 0;
			width: 100%;
			text-align: center;

			@include font($ff-sans, $fs-large);
			color: $superlight-text-color;
		}
	}