// *************************************
//
//   modules/_modalmessage.scss
//   -> Message modal specifc style, appears above regular modals
//
// *************************************

// -------------------------------------
//   Message Modal Backdrop
// -------------------------------------

	.apop-platform-alerts-modal-backdrop,
	.apop-message-modal-backdrop {
		.modal-backdrop-bg {
			opacity: 0;
		}
	}

// -------------------------------------
//   Message Modal
// -------------------------------------

	.apop-message-modal {
		top: 25%;
		right: 25%;
		bottom: 25%;
		left: 25%;

		width: 50%;
		min-width: $apop-message-modal-width;

		background: none;
		box-shadow: none;
		overflow: visible;

		@include media("<message-modal-min-width") {
			left: 0;
			right: 0;
			margin: 0 auto;
		}
	}

	.apop-message-modal-container {
		min-height: 0 !important;
		height: $apop-message-modal-height;

		background: $apop-message-modal-bg;
		box-shadow: $apop-message-modal-shadow;
	}

	.apop-platform-survey-message-modal {
		.apop-message-modal-container {
			height: $apop-platform-survey-message-modal-height;
		}
		.apop-platform-alerts-message {
			margin: 5px 0;
		}
	}

	.apop-share-modal {
		.msie & {
			top: auto;
			right: auto;
			bottom: 10%;
			left: 5%;

			width: $apop-modal-sidebar-width;
			min-width: $apop-modal-sidebar-width;
			max-width: $apop-modal-sidebar-width;
		}
	}


// -------------------------------------
//   Message Modal Header
// -------------------------------------

	.apop-message-modal-header {
		min-height: $apop-message-modal-header-height;
		max-height: $apop-message-modal-header-height;

		background: $apop-message-modal-header-bg;

		.apop-message-modal-header-title {
			display: inline;
			padding-left: $apop-gutter*2;

			color: $global-white;
			@include font($ff-sans, $fs-tiny, 500, $apop-message-modal-header-height);
			text-transform: uppercase;
		}

		.apop-modal-close-button {
			float: right;

			min-height: $apop-message-modal-header-height;
			max-height: $apop-message-modal-header-height;
			
			@include font($ff-sans, $fs-tiny, 500, $apop-message-modal-header-height);

			.icon:before {
				font-size: $apop-message-modal-header-height;
				line-height: $apop-message-modal-header-height;
			}
		}

		.apop-modal-close-button.activated {
			background: darken($apop-message-modal-header-bg, 4%);
		}
	}

// -------------------------------------
//   Message Modal Content
// -------------------------------------

	.apop-message-modal-content {
		padding: $apop-gutter*2;
		color: $global-white;
		@include font($ff-sans, $fs-small);

		.apop-url-field {
			margin-top: $apop-gutter*2;
		}

		.apop-platform-alerts-message {
			a {
				color: $apop-secondary;
				text-decoration: underline;
				font-weight: bold;
			}
		}
	}

// -------------------------------------
//   Message Modal Footer
// -------------------------------------

	.apop-message-modal-footer {
		position: absolute;
		left: 0;
		right: 0;
		top: $apop-message-modal-height - $apop-message-modal-header-height + 3px;

		min-height: $apop-message-modal-header-height - 3px;
		max-height: $apop-message-modal-header-height - 3px;

		background: $apop-message-modal-header-bg;
		text-align: right;

		.apop-modal-update-button {
			padding: 0 $apop-gutter*4;

			&:hover {
				background-color: lighten($apop-primary, 5%);
			}

			p {
				@include font($ff-sans, $fs-small, bold);
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		}
	}
