<% flash.get('success').forEach(function (message) { %>
    <div class="alert alert-success">
       <%= message %>
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
       </button>
    </div>
<% }) %>

<% flash.get('error').forEach(function (message) { %>
    <div class="alert alert-error">
       <%= message %>
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
       </button>
    </div>
<% }) %>

<%- include ../../assets/auth/login.html %>

<% if(sails.config.environment == 'development' ){ %> <script src="http://localhost:35730/livereload.js"></script> <% } %>