<div class="apop-page apop-landing-page apop-references-page">

	<!-- <div class="apop-sidebar apop-tag-filter">
		<div class="apop-sidebar-block">
			<h3 class="block-title">Tag Filter</h3> -->

			<!-- <v-accordion class="vAccordion--default" multiple>
				<div ng-repeat="tag in referenceTags track by tag.id">
					<v-pane class="tag-filter-container" expanded="tag.checked">
						<v-pane-header>

							<label class="button apop-tag-filter-button">
								<input class="apop-tag-filter-button-checkbox" type="checkbox" id="tag-{{tag.id}}" ng-model="tag.checked" ng-change="onTagChange(tag)" />
								<p class="apop-tag-filter-button-text">{{tag.Tag}} -->
									<!-- ({{ (references | tagCount:tag.id).length }}) -->
								<!-- </p>
							</label>

						</v-pane-header>
						<v-pane-content>

							<div ng-repeat="subtag in (tag.Subtags) track by subtag.id" class="subtag-filter-container">
								<label class="button apop-subtag-filter-button">
									<input class="apop-tag-filter-button-checkbox" type="checkbox" id="subtag-{{subtag.id}}" ng-model="subtag.checked" ng-change="onSubtagChange(tag)" />
									<p class="apop-tag-filter-button-text">{{subtag.Subtag}} -->
										<!--  ({{ (references | subtagCount:subtag.id).length }}) -->
									<!-- </p>
								</label>
							</div>

						</v-pane-content>
					</v-pane>

				</div>
			</v-accordion> -->

		<!-- </div>
	</div> -->

	<div class="apop-page-content">
		<h2 class="apop-page-title" bind-html-compile="buckets['facts-and-evidence'].Title"></h2>

		<p bind-html-compile="buckets['facts-and-evidence'].Description"></p>

		<h3>Repository</h3>

		<!-- <div ng-if="references | notEmpty" class="apop-page-references">
			<h5 class="apop-page-references-count">Viewing
				<span bind-html-compile="filteredReferences.length">X</span> References</h5>
			<div ng-repeat="reference in (filteredReferences | orderBy:'UniqueID') track by reference.id" class="apop-page-reference-buttons">
				<button ng-click="openModal('reference-viewer', reference.id)" class="button button-block apop-button apop-pageref-button apop-evidence-button">{{reference.UniqueID}}.
					<span bind-html-compile="reference.ShortCitation"></span>
				</button>
			</div>
		</div> -->
		<div ng-if="references | notEmpty" class="apop-page-references">
			<h5 class="apop-page-references-count">Viewing
				<!-- <span bind-html-compile="filteredReferences.length">X</span> References</h5> -->
				<span bind-html-compile="(references | sortByFirstCharacter:alphabet.character).length">X</span> References</h5>
			<div ng-repeat="reference in references | sortByFirstCharacter:alphabet.character | orderBy : 'ShortCitation'" class="apop-page-reference-buttons">
				<button ng-click="openModal('reference-viewer', reference.id)" class="button button-block apop-button apop-pageref-button apop-evidence-button">
					<span bind-html-compile="reference.ShortCitation"></span>
				</button>
			</div>
		</div>
	</div>

</div>

<!-- - - - - - - - - - - - - - - - References MENU - - - - - - - - - - - - - - - -->
<div class="apop-glossary-menu apop-lexicon-glossary">
	<div id="alpha-menu" class="apop-alpha-menu-container">
		<div class="apop-alpha-menu" ng-click="scrollPageReset(); scrollMainToTop()">
			<label ng-repeat="letter in alpha = (['ALL', '#', 'A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'])">
				<input type="radio" name="radio_alpha" class="apop-alpha-menu-radio" ng-model="alphabet.character" value="{{letter}}" ng-checked="letter === alphabet.character"
				 ng-disabled="(references | sortByFirstCharacter:letter).length < 1" />
				<button class="button apop-alpha-menu-button" ng-disabled="(references | sortByFirstCharacter:letter).length < 1">{{letter}}</button>
			</label>
		</div>
	</div>
</div>
<!-- .apop-lexicon-glossary -->