// *************************************
//
//   fonts/fontello.scss
//   -> Font settings and style for fontello glyphs
//
// *************************************

// -------------------------------------
//   Font Face Declaration
// -------------------------------------

	@font-face {
		font-family: 'apop-fontello';
		src: url('./fonts/apop-fontello.eot?66368467');
		src: url('./fonts/apop-fontello.eot?66368467#iefix') format('embedded-opentype'),
			 url('./fonts/apop-fontello.woff2?66368467') format('woff2'),
			 url('./fonts/apop-fontello.woff?66368467') format('woff'),
			 url('./fonts/apop-fontello.ttf?66368467') format('truetype'),
			 url('./fonts/apop-fontello.svg?66368467#apop-fontello') format('svg');
		font-weight: normal;
		font-style: normal;
	}

// -------------------------------------
//   Pseudo Class
// -------------------------------------

	[class^="apop-icon-"]:before, [class*=" apop-icon-"]:before {
		font-family: "apop-fontello";
		font-style: normal;
		font-weight: normal;
		speak: none;

		display: inline-block;
		text-decoration: inherit;
		width: 1em;
		margin-right: .2em;
		text-align: center;
		/* opacity: .8; */

		/* For safety - reset parent styles, that can break glyph codes*/
		font-variant: normal;
		text-transform: none;

		/* fix buttons height, for twitter bootstrap */
		line-height: 1em;

		/* Animation center compensation - margins should be symmetric */
		/* remove if not needed */
		margin-left: .2em;

		/* you can be more comfortable with increased icons size */
		/* font-size: 120%; */

		/* Font smoothing. That was taken from TWBS */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		/* Uncomment for 3D effect */
		/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
	}

// -------------------------------------
//   Individual Glyphs
// -------------------------------------

	.apop-icon-emptyheart:before { content: '\e800'; } /* '' */
	.apop-icon-fullheart:before { content: '\e801'; } /* '' */
	.apop-icon-download:before { content: '\e802'; } /* '' */
	.apop-icon-switch:before { content: '\e803'; } /* '' */
	.apop-icon-abbreviations:before { content: '\e804'; } /* '' */
	.apop-icon-tags:before { content: '\e805'; } /* '' */
	.apop-icon-alerts:before { content: '\e806'; } /* '' */
	.apop-icon-evidence:before { content: '\e807'; } /* '' */
	.apop-icon-lexicon:before { content: '\e808'; } /* '' */
	.apop-icon-resources:before { content: '\e809'; } /* '' */
	.apop-icon-statements:before { content: '\e80a'; } /* '' */
	.apop-icon-share:before { content: '\e80b'; } /* '' */
	.apop-icon-references:before { content: '\e80c'; } /* '' */
	.apop-icon-appendix:before { content: '\e80d'; } /* '' */
	.apop-icon-circles:before { content: '\e80f'; } /* '' */

	.apop-icon-switch {
		-webkit-transform: rotate(90deg) scaleX(-1);
		-moz-transform: rotate(90deg) scaleX(-1);
		-ms-transform: rotate(90deg) scaleX(-1);
		-o-transform: rotate(90deg) scaleX(-1);
		transform: rotate(90deg) scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	}