// *************************************
//
//   fonts/_stack.scss
//   -> Font face declarations, implemented in base/typography
//
// *************************************

// -------------------------------------
//   Praxis
// -------------------------------------

	// PraxisCom Light
	@font-face {
		font-family: 'ApopPraxis';
		src: url('./fonts/PraxisCom-Light.woff2') format('woff2'),
			url('./fonts/PraxisCom-Light.woff') format('woff'),
			url('./fonts/PraxisCom-Light.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	// PraxisCom Regular
	@font-face {
		font-family: 'ApopPraxis';
		src: url('./fonts/PraxisCom-Regular.woff2') format('woff2'),
			 url('./fonts/PraxisCom-Regular.woff') format('woff'),
			 url('./fonts/PraxisCom-Regular.ttf') format('truetype');
		font-weight: 500;
		font-style: normal;
	}


	// Praxis SemiBold
	@font-face {
		font-family: 'ApopPraxis';
		src: url('./fonts/Praxis-SemiBold.woff2') format('woff2'),
			 url('./fonts/Praxis-SemiBold.woff') format('woff'),
			 url('./fonts/Praxis-SemiBold.ttf') format('truetype');
		font-weight: bold;
		font-style: normal;
	}

// -------------------------------------
//   Rockwell
// -------------------------------------

	// Rockwell Standard
	@font-face {
		font-family: 'ApopRockwell';
		src: url('./fonts/RockwellStd.woff2') format('woff2'),
			 url('./fonts/RockwellStd.woff') format('woff'),
			 url('./fonts/RockwellStd.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}