<div class="apop-page apop-landing-page apop-educational-resources">

	<div class="apop-page-content">
		
		<h2 class="apop-page-title" bind-html-compile="educationalmaterials.title"></h2>
		
		<div bind-html-compile="educationalmaterials.description"></div>

		<div class="apop-page-references">
			<button ng-if="document.id >= 4 && document.id <= 8 || document.id === 16 || document.id === 19 || document.id === 22" ng-repeat="document in documents | orderBy:'-publication_date'" ng-click="promptDisclaimer(document.id);" class="button button-block apop-button apop-pageref-button apop-evidence-button">
				{{document.Title}}
				<sup ng-if="isLatestDocument(documents, document.id)" style="color: #944e2e;"><strong><em>*new</em></strong></sup>
			</button>
		</div>


		<!-- <div ng-repeat="section in educationalmaterials.sidebar" class="apop-tiles-block-container">
			<div class="apop-tiles-block" ng-disabled="material.disabled">
				<h3 class="block-title" bind-html-compile="section.title"></h3>

				<p class="block-text" bind-html-compile="section.tagline"></p>

				<a ng-if="section.document" class="button button-block apop-button apop-sidebar-button" ng-click="openModal('document-viewer', {{section.document}})" ng-disabled="section.disabled" bind-html-compile="section.button"></a>
				
				<a ng-if="section.href" class="button button-block apop-button apop-sidebar-button" href="/#/educational-materials/{{section.href}}"  ng-disabled="section.disabled" bind-html-compile="section.button"></a>
			</div>
		</div> -->

	</div>

</div>