<div class="apop-page apop-landing-page apop-resource-page">
	<div ng-repeat="map in educationalmaterials.pages | filter:{'route': map}:true" class="apop-page-content">

		<h2 class="apop-page-title" bind-html-compile="map.title"></h2>

		<div bind-html-compile="map.description"></div>

		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->	
		<div ng-if="map.page_type == 'accordion'">

			<div class="apop-toggle-accordion-button-container">
				<button class="button apop-dark-button apop-toggle-accordion-button" ng-click="category_accordion.expandAll(); scrollMainResize()" ng-if="!category_accordion.hasExpandedPane()">Show All Resources</button>
				<button class="button apop-dark-button apop-toggle-accordion-button" ng-click="category_accordion.collapseAll(); scrollMainResize()" ng-if="category_accordion.hasExpandedPane()">Hide All Resources</button>
			</div>
	
			<div class="apop-submessages-container">
				<v-accordion class="vAccordion--default" multiple control="category_accordion">
					<div class="accordion-panel-parent" ng-repeat="category in map.categories">
						<v-pane expanded="false">
							<v-pane-header ng-click="scrollMainResize()">
								<p class="accordion-toggle-title" bind-html-compile="category.title"></p>
							</v-pane-header>
							<v-pane-content>
								<div class="accordion-content">
									<div class="accordion-content-body">
	
										<div class="apop-page-references">
											<ul class="apop-page-reference-buttons">

												
												
												<div ng-repeat="document in documents | byTag:category.tags | bySubTag:category.subtags" class="apop-page-reference-buttons" ng-if="document.labels.length < 1">
													<button ng-if="document.video" ng-click="openModal('video-viewer', {{document.local_video_id}})" class="button button-block apop-button apop-pageref-button apop-evidence-button">
														<p class="ref-button-title">
															<span bind-html-compile="document.title"></span>
														</p>
														<p class="ref-button-citation">
															<span bind-html-compile="document.ShortCitation"></span>
														</p>
													</button>
													<button ng-if="!document.video" ng-click="openModal('document-viewer', {{document.id}})" class="button button-block apop-button apop-pageref-button apop-evidence-button" >
														<p class="ref-button-title">
															<span bind-html-compile="document.title"></span>
														</p>
														<p class="ref-button-citation">
															<span bind-html-compile="document.ShortCitation"></span>
														</p>
													</button>
												</div>
												
											</ul>
										</div>
	
										<div ng-if="category.subcategories" class="apop-page-references" ng-if="document.labels.length >= 1 ">
											<ul class="apop-page-reference-buttons">
												<div ng-repeat="subcategory in category.subcategories">
													<h4 bind-html-compile="subcategory.title" class="apop-page-reference-subheader"></h4>
	
													<div ng-repeat="document in documents | byTag:subcategory.tags | bySubTag:subcategory.subtags" class="apop-page-reference-buttons">
														<div ng-repeat="label in document.labels" ng-if="label == subcategory.title">
															<button ng-if="document.video" ng-click="openModal('video-viewer', {{document.local_video_id}})" class="button button-block apop-button apop-pageref-button apop-evidence-button">
																<p class="ref-button-title">
																	<span bind-html-compile="document.title"></span>
																</p>
																<p class="ref-button-citation">
																	<span bind-html-compile="document.ShortCitation"></span>
																</p>
															</button>

															<button ng-if="!document.video" ng-click="openModal('document-viewer', {{document.id}})" class="button button-block apop-button apop-pageref-button apop-evidence-button" >
																<p class="ref-button-title">
																	<span bind-html-compile="document.title"></span>
																</p>
																<p class="ref-button-citation">
																	<span bind-html-compile="document.ShortCitation"></span>
																</p>
															</button>
														</div>
													</div>
															
												</div>
											</ul>
										</div>
									</div>
								</div>
							</v-pane-content>
						</v-pane>
					</div>
				</v-accordion>
			</div>

		</div>
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->


		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<div ng-if="map.page_type == 'link_list'">

			<div class="apop-page-references">
				<ul class="apop-page-reference-buttons">
					
					<a ng-repeat="link in map.links" ng-click="educationalResourceSelected(map.title, link.button)" href="{{link.href}}" target="_blank" ng-disabled="link.disabled">
						<button class="button button-block apop-button apop-pageref-button">
							<li>
								<p><span bind-html-compile="link.button"></span></p>
							</li>
						</button>
					</a>
	
				</ul>
			</div>            

		</div>
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->


		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<div ng-if="map.page_type == 'document_list'">

			<!-- <div ng-if="document.id >= 4 && document.id <= 9" ng-repeat="document in documents" class="apop-page-references">
				<button ng-click="promptDisclaimer(document.id);" class="button button-block apop-button apop-pageref-button apop-evidence-button">{{document.Title}}</button>
			</div> -->

		</div>
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

	</div>
</div>