// *************************************
//
//   pages/_congressactivity.scss
//   -> Page style for congress activities
//
// *************************************

// -------------------------------------
//   Page Formatting
// -------------------------------------

	.apop-congress-details-page {
		min-height: $apop-congress-item-height;
		max-width: $apop-large-page-max-width;
		padding: 0 $apop-page-gutter;

		background-position: top center;
		background-repeat: no-repeat;
		background-size: 1200px 250px;

		.apop-congress-details-container {
			max-width: $apop-page-max-width;
			margin: 0 auto;
			padding: 0;

			.apop-sidebar {
				.apop-sidebar-block {
					.block-tagline {
						margin-bottom: $apop-gutter*2;

						.line-one { margin-bottom: 0; }
						.line-two {
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
				}

				.apop-sidebar-button {
					line-height: $apop-ionic-button-height;
				}
			}
		}
	}

// -------------------------------------
//   Page Content
// -------------------------------------

	.apop-congress-details-content {
		.apop-congress-details-logo {
			margin-top: $apop-page-gutter*1.5;
			margin-right: $apop-page-gutter;

			width: 171px;
			height: 128px;

			float: left;
		}

		.apop-congress-details-header {
			min-height: $apop-congress-detail-min-height;
			overflow: hidden;

			.apop-congress-detail-title {
				padding: $apop-page-gutter*1.5 0 $apop-page-gutter*0.75 0;

				color: $header-text-color;
				@include font($ff-serif, 2em, normal, 1.25);
			}

			.apop-congress-detail-location,
			.apop-congress-detail-date {
				@include font($ff-sans, $fs-regular, 500);
			}

			.apop-congress-detail-location { color: $apop-secondary !important; }
			.apop-congress-detail-date { color: $apop-primary !important; }
		}

		.apop-congress-details-paragraph {
			padding-top: $apop-page-gutter;

			p {
				margin-bottom: 1em;

				color: $header-text-color;
				@include font($ff-sans, $fs-regular, normal, 1.5);
			}
		}

		.apop-congress-details-table {
			overflow: hidden;
			margin-bottom: $apop-page-gutter * 1.5;

			@include apopTable();

			table {
				tr {
					.table-col-left {
						width: 30%;
						text-align: right;

						p { @include font($ff-sans, $fs-small, 500); }
					}

					.table-col-right {
						width: 70%;

						span {
							color: $search-query-text-color;
							@include font($ff-sans, $fs-small, normal, 1.5);
						}
					}
				}
			}
		}
	}