// *************************************
//
//   pages/_congressactivity.scss
//   -> Page style for congress activities
//
// *************************************

// -------------------------------------
//   Page Formatting
// -------------------------------------

	.apop-congress-page {
		max-width: $apop-large-page-max-width;
		padding: $apop-page-gutter;

		.apop-page-title {
			margin: 1em 0;

			color: $header-text-color;
			@include font($ff-serif, 2em);

			&:first-of-type { margin-top: 0; }
		}

		.apop-congress-container {
			padding: $apop-page-gutter $apop-page-gutter/2 0 $apop-page-gutter/2;

			background: $apop-statement-bg;
			box-shadow: $apop-statement-shadow;

			@include clearfix();
		}
	}

// -------------------------------------
//   Grid Layout
// -------------------------------------

	.apop-congress-grid {
		.apop-congress-item {
			display: inline-block;
			float: left;

			padding: 0 $apop-page-gutter/2;
			margin-bottom: $apop-page-gutter;

			width: 25%;
			height: $apop-congress-item-height;

			a:first-of-type {
				display: block;
				width: 100%;
				height: 100%;

				background-image: url(../images/congress-grid-default.png);
				background-position: top center;
				background-repeat: repeat-x;
				background-size: 1200px 250px;
			}
		}

		.apop-congress-double-item {
			width: 50%;
		}

		@include media("<large-desktop") {
			.apop-congress-item {
				width: 33.333%;
			}
			.apop-congress-double-item {
				width: 66.666%;
			}
		}

		@include media("<desktop") {
			.apop-congress-item {
				width: 50%;
			}
			.apop-congress-double-item {
				width: 100%;
			}
		}

		@include media("<header-main-breakpoint") {
			.apop-congress-item,
			.apop-congress-double-item {
				width: 100%;
			}
		}
	}

// -------------------------------------
//   Congress Card
// -------------------------------------

	.apop-congress-card {
		position: relative;
		cursor: pointer;
		height: 100%;

		background-position: top center;
		background-repeat: repeat-x;
		background-size: 1200px 250px;

		background-color: $global-bg-color;

		box-shadow: $apop-box-shadow;

		.apop-congress-card-image-wrapper {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}

		.apop-congress-card-image {
			display: block;

			width: 100%;
			height: $apop-congress-item-height - $apop-congress-item-content-height;

			object-fit: contain;
			object-position: center;

			padding: $apop-gutter;

			.msie & {
				width: auto;
				margin: 0 auto;
			}
		}

		.apop-congress-card-content {
			position: absolute;
			bottom: 0; left: 0; right: 0;

			height: $apop-congress-item-content-height;
			background: rgba($apop-primary, 0.9);

			padding: 0;
			color: $global-white;

			.apop-congress-card-title {
				@include font($ff-sans, $fs-small, normal, 1.125);
				padding: $apop-gutter;
				padding-bottom: 0;
			}

			.apop-congress-card-location,
			.apop-congress-card-date {
				position: absolute;
				bottom: $apop-page-gutter/2;

				@include font($ff-sans, $fs-tiny, 500);
			}

			.apop-congress-card-location {
				left: 0;
				text-align: left;
				padding-left: $apop-page-gutter/2;
			}

			.apop-congress-card-date {
				right: 0;
				text-align: right;
				padding-right: $apop-page-gutter/2;
			}
		}
	}

// -------------------------------------
//   Featured Card
// -------------------------------------

	.apop-congress-grid {
		.apop-congress-double-item {
			.apop-congress-featured-caption {
				padding: $apop-page-gutter/2;

				color: $global-white;
				@include font($ff-sans, $fs-small, 500);
				text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
				text-align: right;
			}

			.apop-congress-card-content {
				.apop-congress-card-title {
					@include font($ff-sans, $fs-regular, 500, 1.125);
				}

				.apop-congress-card-location,
				.apop-congress-card-date {
					@include font($ff-sans, $fs-small, 500);
				}
			}
		}
	}

// -------------------------------------
//   Other Related Events
// -------------------------------------

	.apop-other-events {
		ul.apop-page-reference-buttons {
			list-style-type: none;

			.apop-button {
				display: table;
				width: 100%;

				li {
					display: table-cell;
					vertical-align: middle;

					.apop-congress-list-title,
					.apop-congress-list-date {
						@include font($ff-sans, 12px, bold);
					}

					.apop-congress-list-location,
					.apop-congress-list-date {
						float: right;
						display: inline;
						width: auto;
					}

					.apop-congress-list-date {
						padding-left: $apop-gutter*2;
					}

					@include media("<desktop") {
						padding: $apop-gutter 0;

						.apop-congress-list-title,
						.apop-congress-list-location,
						.apop-congress-list-date {
							float: none;
							display: block;
							width: 100%;
							padding: 0;
						}

						.apop-congress-list-title {
							margin-bottom: $apop-gutter/2;
						}

						.apop-congress-list-date {
							@include font($ff-sans, 12px, 500);
						}
					}
				}
			}
		}
	}