// *************************************
//
//   pages/_coreresources.scss
//   -> Page style for core resources
//
// *************************************

// -------------------------------------
//   Global Page Style
// -------------------------------------

	.apop-resource-page {

		// ACCORDION OVERRIDE
		.apop-submessages-container {
			.vAccordion--default {
				// .accordion-panel-parent {
				// 	&:nth-child(1) { v-pane-header { background: mix($apop-primary, $apop-secondary, 20%); } }
				// 	&:nth-child(2) { v-pane-header { background: mix($apop-primary, $apop-secondary, 35%); } }
				// 	&:nth-child(3) { v-pane-header { background: mix($apop-primary, $apop-secondary, 40%); } }
				// 	&:nth-child(4) { v-pane-header { background: mix($apop-primary, $apop-secondary, 55%); } }
				// 	&:nth-child(5) { v-pane-header { background: mix($apop-primary, $apop-secondary, 70%); } }
				// 	&:nth-child(6) { v-pane-header { background: mix($apop-primary, $apop-secondary, 85%); } }
				// 	&:nth-child(7) { v-pane-header { background: mix($apop-primary, $apop-secondary, 100%); } }
				// }

				v-pane-header {
					.accordion-toggle-title {
						padding-left: $apop-gutter*6;

						&:before {
							content: $ionicon-var-chevron-right;
							@extend .ion;

							position: absolute;
							top: 14px;
							left: 24px;
							font-size: 28px;

							transition: all 0.5s ease;
							transform: rotate(0deg);
						}
					}
				}

				v-pane.is-expanded > v-pane-header {
					.accordion-toggle-title:before {
						content: $ionicon-var-chevron-right;
						@extend .ion;

						position: absolute;
						top: 14px;
						left: 24px;
						font-size: 28px;

						transition: all 0.5s ease;
						transform: rotate(90deg);
					}
				}

				.apop-page-references {
					box-shadow: none !important;
				}

				.accordion-content {
					.accordion-content-body {
						float: none;
						width: 100%;
						padding: $apop-gutter $apop-gutter*1.5 0 $apop-gutter*1.5;
						background: none;

						.apop-page-references {
							margin: 0;
							padding: 0;
							background: none;
							box-shadow: none;

							.apop-page-reference-buttons {
								list-style-type: none;
								margin: 0;

								.apop-pageref-button li {
									margin: 0;
								}
							}
						}

						.apop-page-reference-subheader {
							margin: $apop-gutter*2 0 $apop-gutter 0;
							color: $apop-primary !important;
						}				

					}
				}
			}
		}
	}

// -------------------------------------
//   Accordion Toggle Button
// -------------------------------------

	.apop-toggle-accordion-button-container {
		margin-bottom: $apop-gutter * 2;
		width: 100%;
		text-align: right;

		.apop-toggle-accordion-button {
			width: 180px;
			text-align: center;

			&:hover {
				background: $apop-secondary;
			}
		}
	}