// *************************************
//
//   pages/_factsevidence.scss
//   -> Page style for facts & evidence
//
// *************************************

// -------------------------------------
//   Tag Filter Sidebar (In Facts & Evidence)
// -------------------------------------

	.apop-tag-filter {
		.subtag-filter-container {
			padding-left: $apop-gutter*2;
		}

		.tag-filter-container.is-expanded {
			.apop-tag-filter-button {
				background: darken($apop-primary, 10%);

				.apop-tag-filter-button-text {
					color: $global-white;
				}
			}
		}
	}

// -------------------------------------
//   Tag & Subtag Filter Button
// -------------------------------------

	.apop-tag-filter-button {
		@extend .apop-button;

		display: table;
		width: 100%;
		height: auto;

		background: $apop-modal-bg;
		border-radius: $apop-page-gutter;
		margin-bottom: $apop-gutter/2;
		padding: 0;

		.apop-tag-filter-button-checkbox {

			width: 16px;
			height: 16px;
			margin: 12px;

			display: table-cell;
			vertical-align: middle;
		}

		.apop-tag-filter-button-text {
			display: table-cell;
			vertical-align: middle;
			width: 100%;

			padding-right: $apop-gutter;
			text-align: left;

			color: darken($apop-primary, 10%);
			@include font($ff-sans, $fs-tiny, 500, 1);
		}

		&:hover {
			.apop-tag-filter-button-text { color: $apop-secondary; }
		}
	}

	.apop-subtag-filter-button {
		@extend .apop-tag-filter-button;

		background: $apop-modal-bg;

		.apop-tag-filter-button-text {
			color: darken($apop-primary, 10%);
		}

		&:hover {
			background: $apop-modal-bg;

			.apop-tag-filter-button-text {
				color: $apop-secondary;
			}
		}
	}

// -------------------------------------
//   Facts & Evidence Main List Button
// -------------------------------------

	.apop-evidence-button {
		padding: 10px 12px;
		line-height: 1.125;

		color: $apop-black;
		@include font($ff-sans, $fs-regular, 500);

		&:hover {
			color: $apop-primary;
		}
	}

	.apop-featured-button {
		span {
			color: darken($apop-primary, 10%);
			@include font($ff-sans, $fs-small, 700, 1);
		}

		@include font($ff-sans, $fs-medium, 500);

		p{
			margin-bottom: 0 !important;
		}
	}