// *************************************
//
//   pages/_lexicon.scss
//   -> Page style for scientific lexicon
//
// *************************************

// -------------------------------------
//   Lexicon Global
// -------------------------------------

	.apop-lexicon-page {
		padding-top: 3em;
	}

// -------------------------------------
//   Table Terms Layout (Overview, Terms, Abbreviations)
// -------------------------------------

	.apop-table-terms {
		h3 { color: $header-text-color; }

		.apop-table-container {
			@include apopTable();

			// Footnotes
			table + p {
				margin-bottom: 1em !important;

				font-size: $fs-tiny !important;
				color: $light-text-color !important;

				&:last-of-type { margin-bottom: $apop-gutter*3 !important; }
			}
		}
	}

// -------------------------------------
//   Terms Layout (Glossary)
// -------------------------------------

	@mixin alphaMenuDesktop($scrollbarWidth: 17px) {
		position: fixed;
		top: 240px;
		left: $apop-gutter;
		right: $apop-gutter + $scrollbarWidth; // width of scrollbar
	}

	// --- ALPHABET MENU --- //
	.apop-glossary-menu {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

		.platform-edge & { @include alphaMenuDesktop(12px); }
		.platform-win32 & { @include alphaMenuDesktop(); }
		.platform-win64 & { @include alphaMenuDesktop(15px); }
	}

	.apop-alpha-menu-container {

		.apop-alpha-menu {
			width: 100%;
			display: table;
			table-layout: fixed;

			label {
				display: table-cell;
				width: auto;

				.apop-alpha-menu-radio {
					display: none;
				}

				.apop-alpha-menu-radio:checked + .apop-alpha-menu-button {
					background: $apop-primary;
					color: $global-white;
					box-shadow: $apop-alpha-button-shadow;
				}

				.apop-alpha-menu-button {
					@extend .apop-dark-button;

					padding: 0;
					border-radius: 0;

					min-width: 22px;
					width: 100%;

					text-overflow: clip;
					text-align: center;
					white-space: nowrap;
					overflow: hidden;

					box-shadow: none;
					background: $apop-alpha-button-color;

					&:disabled {
						opacity: 1 !important;
						background-color: $apop-alpha-button-color !important;
						color: rgba(255,255,255,0.5);
					}
				}

				.apop-alpha-menu-button.activated {
					background-color: darken($apop-alpha-button-color, 5%);
				}

				&:first-of-type {
					width: 56px;
				}
			}
		}
	}

	// --- GLOSSARY CONTENT --- //
	.apop-lexicon-glossary {

		.apop-term-repeat-container {

			.apop-term-repeat {
				margin: $apop-gutter 0 $apop-gutter*2 0;
				padding: $apop-gutter*2;

				&:last-child { margin-bottom: $apop-gutter; }

				background: $apop-table-row;
				box-shadow: $apop-table-shadow;

				.apop-term-title {
					color: $apop-primary;
				}

				.apop-term-content {
					p {
						margin-bottom: 1em;

						&:last-child { margin-bottom: 0; }
					}

					ul {
						list-style: disc outside;
						color: $medium-text-color;
						margin-left: 1.25em;

						li {
							padding-left: 0.5em;
							margin-bottom: 0.25em;
						}
					}

					.apop-table-container {
						margin: 0;
						padding: 0;
						background: none;
						box-shadow: none;

						table {
							margin: $apop-gutter*2 0 0 0;
							box-shadow: none;

							tr {
								&:first-of-type {
									th {
										background: $apop-bcbg-3;

										p { font-size: $fs-small !important; }
									}
								}
							}

							th {
								background: $apop-bcbg-3;
								border-left: 1px solid $apop-bcbg-3 !important;
								border-right: 1px solid $apop-bcbg-3 !important;
							}

							td {
								background: $apop-modal-bg;
								border-left: 1px solid $apop-table-border !important;
								border-right: 1px solid $apop-table-border !important;

								p { font-size: $fs-small !important; }
							}
						}
					}
				}
			}
		}
	}