// *************************************
//
//   pages/_platformalerts.scss
//   -> Page and modal style for Platform Alerts
//
// *************************************

// -------------------------------------
//   Platform Alerts Modal
// -------------------------------------

	

// -------------------------------------
//   Platform Alerts Page
// -------------------------------------

	.apop-platform-alerts {
		.apop-page-description {
			margin-bottom: 2em;
		}

		.apop-platform-alerts-bucket {
			margin-bottom: $apop-gutter*2;
			padding: $apop-gutter $apop-gutter*2;

			background: $apop-statement-bg;
			box-shadow: $apop-statement-shadow;
		}

		.apop-platform-alert-item {
			margin: $apop-gutter 0 $apop-gutter*2 0;
			&:last-child { margin-bottom: $apop-gutter; }

			display: table;
			width: 100%;
			min-height: 70px;

			background: $apop-platform-alert-bg;
			box-shadow: $apop-button-shadow;

			.apop-platform-alert-content {
				display: table-cell;
				width: 100%;

				margin: 0;
				padding: $apop-gutter;

				.icon {
					float: left;
					text-align: center;
					margin: $apop-gutter/2 $apop-gutter*2 0 $apop-gutter*1.5;

					&:before {
						color: $apop-primary;
						font-size: 26px !important;
						line-height: 30px !important;
					}
				}

				.apop-platform-alert-binding {
					overflow: hidden;
					padding: $apop-gutter/2;

					p {
						margin-bottom: 0.5em;
						&:last-child { margin-bottom: 0; }

						font-family: $ff-sans !important;
						font-size: $fs-reduced !important;
						color: $global-text-color !important;
					}
				}

				.apop-platform-alert-date {
					font-family: $ff-sans !important;
					font-size: $fs-tiny !important;
					color: $apop-gray !important;
					font-weight: 500;

					margin-left: $apop-gutter * 4.5;
				}

			}
			
			.apop-platform-alert-status-button {
				position: relative;
				padding: 0 $apop-gutter*5 !important;
				display: table-cell;

				.apop-block-wrapper {
					display: block;
					position: absolute;
					top: 0; right: 0; bottom: 0; left: 0;

					.apop-displaytable-wrapper {
						display: table;
						width: 100%;
						height: 100%;

						.apop-tablecell-wrapper {
							display: table-cell;
							vertical-align: middle;
							min-height: $apop-gutter*6;

							.icon {
								height: 36px !important;

								&:before { 
									font-size: 28px !important;
									line-height: 32px !important;
								}
							}
						}
					}
				}
			}
		}

		.apop-no-alerts-message {
			padding: $apop-gutter*5 0 0 0;
			width: 100%;
			text-align: center;

			@include font($ff-sans, $fs-large);
			color: $superlight-text-color;
		}
	}