<div class="apop-page apop-landing-page">

	<div class="apop-page-content">

		<h2 class="apop-page-title" bind-html-compile="buckets['core-scientific-statements'].Title"></h2>
		<div bind-html-compile="buckets['core-scientific-statements'].Description"></div>

		<div class="apop-chapter-blocks">
			<div ng-repeat="chapter in chapters track by chapter.id" class="apop-tiles-block-container">
				<div ng-class="{'apop-tiles-block-muted': chapter.Title.indexOf('Appendix') !== -1}" class="apop-tiles-block">
				<!-- <div class="apop-tiles-block"> -->
					<h3 class="block-title" bind-html-compile="chapter.Title"></h3>

					<!-- <p class="block-text" bind-html-compile="chapter.Tagline"></p> -->
					<p class="block-text">
						<span>To view top-level statements select the button below</span>
					</p>

					<!-- <a class="button button-block apop-button apop-sidebar-button" ng-href="#/core-scientific-statements/{{tls.href}}" ng-disabled="tls.disabled" bind-html-compile="tls.button"></a> -->
					<a class="button button-block apop-button apop-sidebar-button" ng-href="{{buckets['core-scientific-statements'].Route}}/{{chapter.id}}">
						<span>Statements</span>
					</a>
				</div>
			</div>
		</div>

		<div class="apop-page-references">
			<button ng-if="document.id === 2 || document.id === 21" ng-repeat="document in documents" ng-click="promptDisclaimer(document.id);" class="button button-block apop-button apop-pageref-button apop-evidence-button">{{document.Title}}</button>
		</div>

	</div>

</div>