<div class="apop-page apop-submessages-page">

	<div ng-if="chapters" ng-repeat="chapter in chapters | filter:{'id': route.chapter}:true track by chapter.id" class="apop-page-content">

		<div ng-if="chapter | has:'Children'" ng-repeat="statement in chapter.Children | filter:{'id': route.statement}:true track by statement.id">

			<h2 class="apop-page-title" bind-html-compile="statement.Title"></h2>

			<div ng-if="statement | has:'Children.length'" class="apop-submessages-container">
				
				<v-accordion class="vAccordion--default" multiple>
					<div ng-repeat="substatement in statement.Children track by substatement.id">

						<!-- MULTIPLE NOT EXPANDED, EVIDENCE WITHIN -->
						<v-pane ng-if="route.substatement !== substatement.id && (!(substatement.Body | empty) || !(substatement.Footnotes | empty) || !(substatement.Abbreviations | empty) || (substatement.References.length >= 1))" expanded="false">
							<v-pane-header>

								<p class="accordion-toggle-title" bind-html-compile="substatement.Title"></p>

							</v-pane-header>
							<v-pane-content>

								<div class="accordion-content" ng-class="{'accordion-content-empty' : ((substatement.Body | empty) && (substatement.Footnotes | empty) && (substatement.Abbreviations | empty))}">
									<div class="accordion-content-body">
										<div class="accordion-content-body-compile" bind-html-compile="substatement.Body"></div>

										<div ng-if="substatement | has:'Footnotes'"> 
											<div class="accordion-content-footnotes-list" bind-html-compile="substatement.Footnotes"></div>
										</div>

										<div ng-if="substatement | has:'Abbreviations'"> 
											<div class="accordion-content-abbreviations-list" bind-html-compile="substatement.Abbreviations"></div>
										</div>
									</div>
									<!-- <div class="accordion-content-references" ng-if="substatement.References.length >= 1"> -->
									<div class="accordion-content-references">
										<p class="accordion-content-references-title">Associated References</p>
										<div ng-if="substatement | has:'References.length'">
											<div class="accordion-content-references-list">
												<button ng-repeat="reference in (substatement.References | orderBy: 'UniqueID') track by reference.id" class="button apop-button apop-accordion-reference-button" ng-click="openModal('reference-viewer', reference.id)">
													<p class='ref-num'>{{reference.UniqueID}}.</p>
													<p class='ref-title' bind-html-compile="reference.ShortCitation"></p>
												</button>
											</div>
										</div>
									</div>
								</div>

							</v-pane-content>
						</v-pane>

						<!-- MULTIPLE EXPANDED, NO EVIDENCE/CONTENT WITHIN -->
						<v-pane ng-if="route.substatement !== substatement.id && (substatement.Body | empty) && (substatement.Footnotes | empty) && (substatement.Abbreviations | empty) && (substatement.References.length <= 0)" expanded="true">
							<v-pane-header inactive class="inactive">

								<p class="accordion-toggle-title" bind-html-compile="substatement.Title"></p>

							</v-pane-header>
							<v-pane-content></v-pane-content>
						</v-pane>

						<!-- SINGLE, EXPANDED (DIRECTED BY ROUTE) -->
						<v-pane ng-if="route.substatement === substatement.id" expanded="true">
							<v-pane-header>

								<p class="accordion-toggle-title" bind-html-compile="substatement.Title"></p>

							</v-pane-header>
							<v-pane-content>

								<div class="accordion-content">
									<div class="accordion-content-body">
										<div class="accordion-content-body-compile" bind-html-compile="substatement.Body"></div>

										<div ng-if="substatement | has:'Footnotes'"> 
											<div class="accordion-content-footnotes-list" bind-html-compile="substatement.Footnotes"></div>
										</div>

										<div ng-if="substatement | has:'Abbreviations'"> 
											<div class="accordion-content-abbreviations-list" bind-html-compile="substatement.Abbreviations"></div>
										</div>

									</div>
									<div class="accordion-content-references">
										<p class="accordion-content-references-title">Associated References</p>
										<div ng-if="substatement | has:'References.length'">
											<div class="accordion-content-references-list">
												<button ng-repeat="reference in (substatement.References | orderBy: 'UniqueID') track by reference.id" class="button apop-button apop-accordion-reference-button" ng-click="openModal('reference-viewer', reference.id)">
													<p class='ref-num'>{{reference.UniqueID}}.</p>
													<p class='ref-title' bind-html-compile="reference.ShortCitation"></p>
												</button>
											</div>
										</div>

									</div>
								</div>

							</v-pane-content>
						</v-pane>

					</div>
				</v-accordion>

			</div>

			<!-- SUPPORTING SLIDES -->
			<div ng-if="statement | notEmpty:'Documents'" class="apop-page-references"> 
				<p>Supporting Slides</p>
				<p class="apop-page-references-title" bind-html-compile="document.title"></p>

				<ul class="apop-page-reference-buttons">

					<button ng-repeat="document in (statement.Documents | orderByIdArray:statement.DocumentsOrder || []) track by document.id" class="button button-block apop-button apop-pageref-button" ng-click="openModal('document-viewer', document.id)">
						<li value="$index"><p><span bind-html-compile="document.Title"></span></p></li>
					</button>

				</ul>
			</div>

			<!-- PAGE REFERENCES -->
			<div ng-if="statement | notEmpty:'References'" class="apop-page-references">
				<p class="apop-page-references-title">Associated References</p>

				<ul class="apop-page-reference-buttons">

					<button ng-repeat="reference in (statement.References | orderBy: 'UniqueID') track by reference.id" class="button button-block apop-button apop-pageref-button" ng-click="openModal('reference-viewer', reference.id)">
						<li value="{{reference.UniqueID}}"><p><span bind-html-compile="reference.ShortCitation"></span></p></li>
					</button>
				
				</ul>
			</div>

		</div> <!-- end statements -->

	</div> <!-- .apop-page-content -->

</div> <!-- .apop-page -->