<div class="apop-page apop-landing-page">
	<div ng-if="chapters" ng-repeat="chapter in chapters | filter:{'id': route.chapter}:true track by chapter.id " class="apop-page-content">

		<h2 class="apop-page-title" bind-html-compile="chapter.Title"></h2>

		<!-- <p bind-html-compile="chapter.Description"></p> -->

		<div ng-if="chapter.Body && chapter.Body !== ''" bind-html-compile="chapter.Body"></div>

		<ul class="apop-statements">
			<li ng-repeat="statement in chapter.Children track by statement.id" class="apop-statement-container">

				<h3 class="apop-statement-header" bind-html-compile="statement.Label"></h3>

				<h3 class="apop-statement-text" bind-html-compile="statement.Title"></h3>

				<a class="button apop-dark-button apop-statement-bar" ng-href="{{buckets['core-scientific-statements'].Route}}/{{chapter.id}}/{{statement.id}}" ng-click="substatementSelected(statement.Title)">
					<!-- <p class="bar-title">Core statement <span bind-html-compile="statement.Label"></span></p> -->
					<p class="bar-action">View sub-statements</p>
				</a>

			</li>

		</ul>

		<!-- <div bind-html-compile="chapter.Appendix"></div> -->

		<!-- SUPPORTING SLIDES -->
		<div ng-if="chapter | notEmpty:'Documents'" class="apop-page-references"> 
			<p>Supporting Slides</p>
			<p class="apop-page-references-title" bind-html-compile="document.title"></p>

			<ul class="apop-page-reference-buttons">

				<button ng-repeat="document in (chapter.Documents | orderByIdArray:chapter.DocumentsOrder || [] ) track by document.id" class="button button-block apop-button apop-pageref-button" ng-click="openModal('document-viewer', document.id)">
					<li value="$index"><p><span bind-html-compile="document.Title"></span></p></li>
				</button>

			</ul>
		</div>

		<!-- PAGE REFERENCES -->
		<div ng-if="chapter.References && chapter.References.length" class="apop-page-references">
			<p class="apop-page-references-title">References</p>

			<ul class="apop-page-reference-buttons">

				<button ng-repeat="reference in chapter.References | orderBy:'UniqueID'" class="button button-block apop-button apop-pageref-button" ng-click="openModal('reference-viewer', reference.id)">
					<li value="{{reference.UniqueID}}">
						<p><span bind-html-compile="reference.ShortCitation"></span></p>
					</li>
				</button>

			</ul>
		</div>

	</div>
</div>