// *************************************
//
//   apop.print.scss
//	 Takeda Platform Print Stylesheet
//
//   v 0.1
//	 2017-11-14 : first created
//
//	 Code formatting (loosely) based on http://mvcss.io/
//
// *************************************

// -------------------------------------
//   Includes
// -------------------------------------

	// ----- Toolsets ----- //
	@import "../../bower_components/ionic/scss/ionicons/ionicons";

	// ----- Reset ----- //
	@import "./sass/print/reset";

	// ----- Fonts ----- //
	@import "./sass/fonts/stack";
	@import "./sass/fonts/fontello";

	// ----- Base ----- //
	@import "./sass/base/settings";
	@import "./sass/base/colors";
	@import "./sass/base/typography";
	@import "./sass/base/buttons";
	@import "./sass/base/lists";
	@import "./sass/base/tables";

	// ----- Modules ----- //
	@import "./sass/modules/submessages";

// -------------------------------------
//   Varibles
// -------------------------------------

	$apop-print: 10pt; // Print-specific space (replaces apop-gutter)

	$apop-print-color: #1A1A1A;
	$apop-print-border: #E6E6E6;
	$apop-print-background: #F5F5F5;

	$fs-print-fixed: 12px;

// -------------------------------------
//   Global Print
// -------------------------------------

	html, body {
		width: 100%;
		height: 100%;

		color: $apop-print-color;
		@include font();

		background: $global-white;
	}

	.apop-global-print {
		padding: $apop-print * 2;
	}

// -------------------------------------
//   Headers
// -------------------------------------

	.apop-print-title {
		margin-bottom: $apop-print * 2;

		color: $apop-primary;
	}

	.apop-print-sub-title {
		color: $apop-secondary;
	}

// -------------------------------------
//   Chapter
// -------------------------------------

	.apop-print-chapter {
		page-break-after: always;
	}

	.apop-print-chapter-label {
		margin-top: $apop-print * 4;

		@include font($ff-sans, $fs-tiny, 500);
	}

	.apop-print-chapter-title {
		margin-top: $apop-print/2;

		color: $apop-secondary;
		@include font($ff-sans, $fs-large, 200);
	}

// -------------------------------------
//   Statement
// -------------------------------------

	.apop-print-statement-container {
		margin-top: $apop-print;
	}

	.apop-print-statement-header {
		page-break-inside: avoid;
		padding: $apop-print*1.5;

		background-color: $apop-print-background;
		border: 1pt solid $apop-print-border;
		border-bottom: none;

		h4 { font-size: $fs-small; text-transform: uppercase; color: $apop-primary; }
		p { margin-top: $apop-print; font-weight: 500; line-height: 1.5; }

		.apop-statement-disclaimer {
			display: block;
			margin-top: $apop-print;

			color: $apop-gray;
			@include font($ff-sans, $fs-tiny, 500, 1, italic);
		}
	}

	.apop-print-statement-content {
		padding: $apop-print*1.5 $apop-print*2;

		border: 1pt solid $apop-print-border;
	}

// -------------------------------------
//   Statement Content
// -------------------------------------

	.apop-print-evidence {
		.apop-print-evidence-content {
			float: none;
			width: 100%;
			padding: 0;
			background: none;

			h3 {
				margin: $apop-print 0 $apop-print/2 0;
			}

			ul {
				color: $apop-print-color;
			}

			table {
				box-shadow: none;

				border-left: 1px solid $apop-print-border;
				border-right: 1px solid $apop-print-border;

				font-size: $fs-print-fixed !important;

				tr {
					th p { font-size: $fs-print-fixed !important; }

					th, td { padding: $apop-print/2 $apop-gutter; }

					td {
						background: lighten($apop-print-background, 3%);

						p {
							color: darken($apop-print-color, 5%);
							font-size: $fs-print-fixed !important;
						}

						ul {
							color: darken($apop-print-color, 5%);

							li {
								margin-bottom: 0.25em;
							}
						}
					}

					&:first-of-type {
						th {
							p { font-size: $fs-print-fixed !important; }
						}
					}
				}
			}

			.image-wrapper {
				padding: $apop-print;

				border: 1pt solid lighten($apop-print-border, 4%);
				border-radius: $apop-print/2;

				background: lighten($apop-print-background, 2%);
				box-shadow: none;
			}

			.footnote {
				margin: 0.75em 0 1.25em 0;

				color: $apop-gray;
				@include font($ff-sans, $fs-tiny, 500, normal, italic);
			}
		}
	}

// -------------------------------------
//   References
// -------------------------------------

	.apop-print-references {
		page-break-inside: avoid;

		margin: $apop-print/2 0;
		padding: $apop-print/5 0;

		border: 1pt solid lighten($apop-print-border, 4%);
		border-radius: $apop-print/2;
		background: lighten($apop-print-background, 2%);

		h4 {
			padding: $apop-print/2 $apop-print 0 $apop-print;

			@include font($ff-sans, $fs-tiny, bold);
			text-transform: uppercase;
		}
	}

	.apop-print-references-list {
		padding: $apop-print/2 $apop-print;
	}

	.apop-print-references-list-item {
		p {
			display: inline;

			color: $apop-gray;
			@include font($ff-sans, $fs-tiny, 500);
		}
	}