// *************************************
//
//   base/_buttons.scss
//   -> Global button styles across app
//
// *************************************

// -------------------------------------
//   Standard Button
// -------------------------------------

	.apop-button {
		border-radius: 0;
		border: none;

		color: $apop-primary;
		background-color: $apop-button-color;
		box-shadow: $apop-button-shadow;

		&:link {color: $apop-primary;}
		&:visited {color: $apop-primary;}
		&:hover {color: $apop-secondary;}
		&:active {color: $apop-primary;}
	}

	.apop-button.activated {
		box-shadow: $apop-button-active-shadow;
	}

// -------------------------------------
//   Dark Button
// -------------------------------------

	.apop-dark-button {
		@extend .apop-button;

		color: $global-white;
		background-color: $apop-primary;

		@include font($ff-sans, $fs-regular, 700);

		&:link {color: $global-white; }
		&:visited {color: $global-white; }
		&:hover { color: $global-white; }
		&:active {color: $global-white; }
	}

	.apop-dark-button.activated {
		background-color: darken($apop-primary, 5%);
	}

// -------------------------------------
//   Clear Button
// -------------------------------------

	.apop-clear-button {
		@extend .apop-button;

		background: none;
		box-shadow: none;
	}

	.apop-clear-button.activated {
		background: none;
		box-shadow: none;
	}

// -------------------------------------
//   Large Button (PDF Download, etc.)
// -------------------------------------

	.apop-button-large {
		@extend .apop-button;
		@include font($ff-serif, $fs-medium, normal, 59px);

		i { margin-right: $apop-gutter; }
	}

// -------------------------------------
//   Export Button
// -------------------------------------

	.apop-export-button-container {
		float: right;
	}

	.apop-export-button {
		@extend .apop-button;

		margin: $apop-gutter*2.5 0 0 0 !important;

		background-color: $apop-primary;
		color: $apop-button-color;

		font-weight: 500;

		.icon { margin-right: $apop-gutter; }

		&:link {color: $apop-button-color; }
		&:visited {color: $apop-button-color; }

		&:hover {
			background-color: $apop-secondary;
			color: $apop-button-color;
		}

		&:active {
			background-color: darken($apop-primary, 10%);
		}
	}

	.apop-alert-pdf-button {
	  @extend .apop-button;
	  margin: $apop-gutter*1.5 0 $apop-gutter*1.5 0 !important;
	  background-color: $apop-primary;
	  color: $apop-button-color;
	  font-weight: 500;
	  .icon {
	    margin-right: $apop-gutter;
	  }
	  &:link {
	    color: $apop-button-color;
	  }
	  &:visited {
	    color: $apop-button-color;
	  }
	  &:hover {
	    background-color: $apop-secondary;
	    color: $apop-button-color;
	  }
	  &:active {
	    background-color: darken($apop-primary, 10%);
	  }
	}
