// *************************************
//
//   base/_colors.scss
//   -> Color variables throughout the app
//
// *************************************

// -------------------------------------
//   Global Base Colors
// -------------------------------------

	$global-bg-color: #fcfcfc;
	$global-text-color: #3c3c3c;
	$global-white: #ffffff;

	$global-purple: #673ab7;
	$global-blue: #3f51b5;
	$global-red: #f44336;
	$global-green: #33cd5f;

// -------------------------------------
//   Brand Colors
// -------------------------------------

	$apop-primary: #3c3c3c !default;
	$apop-secondary: #777777 !default;
	$apop-tertiary: #777777 !default;

	$apop-black: #3c3c3c;
	$apop-gray: #77787b;
	$apop-gray-disabled: #b1b3b2;

// -------------------------------------
//   Typography Colors
// -------------------------------------

	$header-text-color: #464646;
	$alt-text-color: #424242;
	$light-text-color: #9d9d9d;
	$references-text-color: #505050;
	$medium-text-color: #595959;
	$superlight-text-color: #646464;
	$search-query-text-color: #292929;
	$search-sectionheader-text-color: #818181;

// -------------------------------------
//   Layout Colors
// -------------------------------------

	$apop-primary-disabled: grayscale($apop-primary);

	$apop-box-bg: rgba(255,255,255,0.9);
	$apop-box-shadow: #{0 0 $apop-gutter/2 rgba(0,0,0,0.25)};

	$apop-bc-bg: #f5f5f5;
	$apop-bc-shadow: #{inset 0 0 12px rgba(0,0,0,0.075)};

	$apop-dashboard-button-bg: #f9f9f9;
	$apop-dashboard-button-hover: #fdfdfd;

	$apop-statement-bg: #f3f3f3;
	$apop-statement-shadow: #{inset 0 0 6px rgba(0,0,0,0.0675)};
	$apop-statement-bar: $apop-primary;
	$apop-statement-bar-hover: $apop-secondary;

	$apop-modal-bg: #f7f7f7;
	$apop-modal-shadow: 0 5px 10px 5px rgba(0,0,0,0.1);
	$apop-modal-header: $apop-primary;

	$apop-modal-sidebar-bg: #f3f3f3;
	$apop-modal-sidebar-header-bg: #ececec;
	$apop-modal-footer-bg: #323639;

	$apop-message-modal-bg: #3c3c3c;
	$apop-message-modal-shadow: 0 1px 8px 4px rgba(0,0,0,0.075);
	$apop-message-modal-header-bg: #353535;

	$apop-search-results-shadow: #{0 0 0 1px rgba(0,0,0,0.05), 0 6px 12px rgba(0,0,0,0.15)};
	$apop-search-results-break: #dedede;

	$apop-table-row: #FBFBFB;
	$apop-table-border: #E6E6E6;
	$apop-table-shadow: 0 1px 6px rgba(0,0,0,0.0875);

	$apop-platform-alert-bg: #f9f9f9;

	$apop-help-modal-bg: lighten($apop-primary, 30%);

// -------------------------------------
//   Button Colors
// -------------------------------------

	$apop-button-color: #fafafa;
	$apop-button-shadow: #{0 0 6px rgba(0,0,0,0.05)};
	$apop-button-active-shadow: #{inset 0 0 12px rgba(0,0,0,0.075)};

	$apop-bcbg-1: darken($apop-primary, 10%);
	$apop-bcbg-2: darken($apop-primary, 5%);
	$apop-bcbg-3: darken($apop-primary, 0%);
	$apop-bcbg-4: lighten($apop-primary, 5%);
	$apop-bcbg-5: lighten($apop-primary, 10%);

	$apop-accordion-toggle-closed: $apop-primary;
	$apop-accordion-toggle-open: $apop-gray;

	$apop-alpha-button-color: #575757;
	$apop-alpha-button-shadow: #{inset 0 0 12px rgba(0,0,0,0.25)};

// -------------------------------------
//   Input Colors
// -------------------------------------

	$apop-input-background: #f6f6f6;

// -------------------------------------
//   Component Colors
// -------------------------------------

	$apop-lexicon-dark-underline: linear-gradient(to right, rgba(0,0,0,0.666) 50%, transparent 50%);
	$apop-lexicon-light-underline: linear-gradient(to right, rgba(255,255,255,0.666) 50%, transparent 50%);