// *************************************
//
//   base/_forms.scss
//   -> All form specifc style
//
// *************************************

// -------------------------------------
//   Global Inputs
// -------------------------------------

	#{$all-text-inputs} {
		@include font($ff-sans, 18px);
		user-select: auto;
	}

// -------------------------------------
//   URL Text Field
// -------------------------------------

	.apop-url-field {
		-moz-appearance: none;
		-webkit-appearance: none;

		width: 100%;
		padding: $apop-gutter !important;

		background: linear-gradient(0deg, #4d4d4d, #585858);

		border: none !important;
		border-top: 1px solid #363636 !important;
		border-bottom: 1px solid #636363 !important;

		color: $global-white !important;
		font-family: monospace !important;
		font-size: $fs-regular !important;
	}