// *************************************
//
//   base/_general.scss
//   -> Top level element style (html, body, etc.)
//
// *************************************

// -------------------------------------
//   HTML, Body
// -------------------------------------

	html, body {
		width: 100%;
		height: 100%;

		color: $global-text-color;
		font-size: $font-size-base;
		line-height: $line-height-base;

		position: fixed;
		overflow: hidden;

		min-width: $global-min-width;
		min-height: $global-min-height;

		background: $global-bg-color url(../images/apop-main-bg.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

// -------------------------------------
//   Links
// -------------------------------------

	a, a[href] {
		text-decoration: none;
	}

// -------------------------------------
//   Superscripts
// -------------------------------------

	