// *************************************
//
//   base/_lists.scss
//   -> All list specific style
//
// *************************************

// -------------------------------------
//   All Lists
// -------------------------------------

	.apop-bullets,
	.apop-bullets-dashes,
	.apop-numbers,
	.apop-letters {
		list-style: disc outside;
		padding-left: 2em;
		margin-bottom: 1em;

		li {
			padding-left: 1em;

			p { margin-bottom: 0.5em !important; }
		}
	}

// -------------------------------------
//   Numbered Lists
// -------------------------------------

	.apop-numbers {
		list-style: decimal outside;
	}

// -------------------------------------
//   Lettered Lists
// -------------------------------------

	.apop-letters {
		list-style: upper-alpha outside;
	}

// -------------------------------------
//   Bullets then Dashes
// -------------------------------------

	.apop-bullets-dashes {
		li {
			ul {
				list-style: none;
				margin: 0 0 0 2em !important;

				li {
					padding-left: $apop-gutter*2 !important;
					text-indent: -33px;

					&:before {
						content: '\2014';
						margin-right: $apop-gutter*2;
					}
				}
			}
		}
	}