// *************************************
//
//   base/_mixins.scss
//   -> Global mixins & helpers
//
// *************************************

// -------------------------------------
//   Cross-platform Scroll
// -------------------------------------

	@mixin disableTouchScrollContent() {
		overflow-y: scroll;

		.scroll-view {
			overflow: visible;
			position: static;
			margin: 0;
			height: auto;

			.scroll {
				transform: none !important;
				transform-origin: 50% 50% 0;
				user-select: auto;
				text-size-adjust: auto;
			}

			.scroll-bar { display: none; }
		}

		.scroll-y {
			overflow-y: visible;
		}
	}

	// Disables ionic-scroll scrolling on desktop platforms (pairs with normal overflow-y)
	@mixin disableTouchScroll() {
		.platform-linux & { @include disableTouchScrollContent(); }
		.platform-macintel & { @include disableTouchScrollContent(); } 
		.platform-edge & { @include disableTouchScrollContent(); }
		.platform-win32 & { @include disableTouchScrollContent(); }
		.platform-win64 & { @include disableTouchScrollContent(); }
	}

// -------------------------------------
//   Gradient Icon & Dashboard Circle
// -------------------------------------

	@mixin gradientIcon($primary: #f00, $secondary: #00f) {
		/* old browsers */
		background: $primary;
		/* IE10+ */
		background: -ms-linear-gradient(top right, $primary 0%, $secondary 100%);
		/* Mozilla Firefox */
		background: -moz-linear-gradient(top right, $primary 0%, $secondary 100%);
		/* Webkit (Chrome 11+) */
		background: -webkit-linear-gradient(top right, $primary 0%, $secondary 100%);
		/* W3C Markup */
		background: linear-gradient(top right, $primary 0%, $secondary 100%);

		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	@mixin gradientCircle($primary: #f00, $secondary: #00f) {
		/* old browsers */
		background: $primary;
		/* IE10+ */
		background: -ms-radial-gradient(center, ellipse cover, $primary 0%, $primary 60%, $secondary 61%, $secondary 100%);
		/* Mozilla Firefox */
		background: -moz-radial-gradient(center, ellipse cover, $primary 0%, $primary 60%, $secondary 61%, $secondary 100%);
		/* Webkit (Chrome 11+) */
		background: -webkit-radial-gradient(center, ellipse cover, $primary 0%, $primary 60%, $secondary 61%, $secondary 100%);
		/* W3C Markup */
		background: radial-gradient(ellipse at center, $primary 0%, $primary 60%, $secondary 61%, $secondary 100%);

		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

// -------------------------------------
//   Tile Color Mix
// -------------------------------------

	@mixin tileBlockLoop($count) {
		@for $i from 1 through $count {
			$delta: 100 / ($count - 1);
			$amount: $delta * $i;
			$total: $delta + (100 - $amount);
			$percent: $total * 1%;

			&:nth-of-type(#{$i}) {
				.apop-tiles-block {
					background: mix($apop-primary, $apop-secondary, $percent);

					.apop-sidebar-button {
						color: mix($apop-primary, $apop-secondary, $percent);

						&:hover {
							background: lighten(mix($apop-primary, $apop-secondary, $percent), 35%);
							color: darken(mix($apop-primary, $apop-secondary, $percent), 10%);
						}
					}
				}

				.apop-tiles-block-muted {
					background: $apop-gray;

					.apop-sidebar-button {
						color: $apop-gray;

						&:hover {
							background: lighten($apop-gray, 35%);
							color: darken($apop-gray, 10%);
						}
					}
				}

				.apop-gradient-th {
					background: mix($apop-primary, $apop-secondary, $percent);
				}
			}
		}
	}