// *************************************
//
//   base/_settings.scss
//   -> Variable declarations to define set values
//
// *************************************

// -------------------------------------
//   Constants
// -------------------------------------

	$apop-gutter: 10px;
	$apop-page-gutter: 24px;
	$apop-small-icon-size: 32px;

	$apop-ionic-button-height: 47px;
	$apop-inline-ref-button-height: 14px;
	$apop-inline-ref-citation-height: 36px;

// -------------------------------------
//   Layout
// -------------------------------------

	$global-min-width: 700px;
	$global-min-height: 638px;

	$apop-header-height: 100px;
	$apop-search-height: 60px;
	$apop-search-gutter: 19px;
	$apop-bc-height: 50px;

	$apop-search-results-height: 538px;
	$apop-search-header-height: $apop-search-height + $apop-gutter*2;
	$apop-search-close-button-width: 200px;

	$apop-page-max-width: 900px;
	$apop-large-page-max-width: 1908px;
	$apop-sidebar-width: 246px;

	$apop-tiles-min-height: 182px;
	$apop-tiles-max-height: 218px;

	$apop-dashboard-header-height: 70px;
	$apop-dashboard-footer-height: 70px;
	$apop-dashboard-header-iconsize: 40px;
	$apop-platform-alert-indicator-size: 16px;

	$apop-modal-header-height: 52px;
	$apop-modal-sidebar-width: 316px;
	$apop-modal-medium-width: 716px;

	$apop-message-modal-width: 520px;
	$apop-message-modal-height: 161px;
	$apop-message-modal-header-height: 50px;

	$apop-platform-survey-message-modal-height: 184px;
	
	$apop-askplatform-help-height: 233px;
	$apop-askplatform-survey-height: 391px;

// -------------------------------------
//   Page Content
// -------------------------------------

	$apop-congress-item-height: 250px;
	$apop-congress-item-content-height: 90px;
	$apop-congress-detail-min-height: 180px;

	$apop-thumbnail-item-height: 200px;
	$apop-thumbnail-item-content-height: 50px;

// -------------------------------------
//   Breakpoints (uses http://include-media.com/)
// -------------------------------------

	$breakpoints: (
		// DEVICES
		'phone': 320px,
		'tablet': 768px,
		'desktop': 1024px,
		'large-desktop': 1600px,

		// WIDTHS
		'global-min-width': $global-min-width,
		'header-main-breakpoint': 760px,
		'header-hide-breakpoint': 810px,
		'header-logo-breakpoint': 840px,
		'header-wide-breakpoint': 950px,
		'medium-modal-breakpoint': 880px,
		'message-modal-min-width': $apop-message-modal-width*2,
		'dashboard-quad-width': 1220px,

		// HEIGHTS
		'global-min-height': $global-min-height,
		'dashboard-cutoff-height': 690px,
		'dashboard-congress-expand-height': 900px,
		'dashboard-quad-height': 800px,
		'dashboard-quad-text-height': 860px,
		'dashboard-quad-wide-height': 950px,
		'askplatform-modal-height': 740px
	);