// *************************************
//
//   base/_tables.scss
//   -> All table specific style
//
// *************************************

// -------------------------------------
//   apop Table Style
// -------------------------------------

	@mixin apopTable() {
		table {
			width: 100%;
			margin: $apop-gutter 0;
			box-shadow: $apop-table-shadow;

			// ALL ROWS
			tr {
				td { border-bottom: 1px solid $apop-table-border; }

				&:first-of-type {
					th {
						background: $apop-bcbg-4;

						p { font-size: $fs-regular !important; }
					}
				}

				&:last-of-type { border-bottom: 0px solid $apop-table-row; }
			}

			// ALL CELLS
			th, td {
				text-align: left;
				padding: $apop-gutter;

				ol, ul {
					list-style: disc outside;
					color: $medium-text-color;
					margin-left: 1.25em;
					padding: 0;

					li {
						padding-left: 0.5em;
						margin-bottom: 0.75em;
					}

					&:last-child {
						li:last-child {
							margin-bottom: 0;
						}
					}
				}

				ol { list-style: decimal outside; }

				p {
					margin-bottom: 0.75em;

					&:last-child { margin-bottom: 0; }
				}
			}

			// ALL HEADERS
			th {
				background: $apop-bcbg-2;
				border-right: 1px solid rgba(255,255,255,0.05);

				&:last-of-type { border-right: 0px solid rgba(255,255,255,0); }

				p {
					font-size: $fs-small !important;
					color: $global-white !important;
				}
			}

			// ALL NON-HEADERS
			td {
				background: $apop-table-row;
				border-right: 1px solid $apop-table-border;

				&:last-of-type { border-right: 0px solid $apop-table-row; }
			}
		}
	}