// *************************************
//
//   base/_typography.scss
//   -> Global typography settings & style
//
// *************************************

// -------------------------------------
//   Base Settings
// -------------------------------------

	$font-size-base: 1em;
	$line-height-base: 1;

	  $fs-micro: $font-size-base * 0.625;	// 10px
	   $fs-tiny: $font-size-base * 0.75;	// 12px
	  $fs-small: $font-size-base * 0.875;	// 14px
	$fs-reduced: $font-size-base * 0.9375;	// 15px
	$fs-regular: $font-size-base * 1;		// 16px
	 $fs-medium: $font-size-base * 1.25;	// 20px
   $fs-enlarged: $font-size-base * 1.5;		// 24px
	  $fs-large: $font-size-base * 1.75;	// 28px
	 $fs-xlarge: $font-size-base * 2;		// 32px
	   $fs-huge: $font-size-base * 2.5;		// 40px

	  $fs-fixed: 14px;

// -------------------------------------
//   Font Family Varaibles
// -------------------------------------

	// Sans
	$ff-sans: 'ApopPraxis', 'Roboto', sans-serif;

	// Serif
	$ff-serif: 'ApopPraxis', 'Roboto', sans-serif;

// -------------------------------------
//   Global Font Mix-In
// -------------------------------------

	@mixin font($family: $ff-sans,
				$size: $fs-regular,
				$weight: normal,
				$lh: $line-height-base,
				$style: normal) {

		font: $style normal $weight #{$size}/#{$lh} $family;

		.msie & {
			@if $family == $ff-serif {
				font: $style normal $weight #{$size}/#{$lh} 'Roboto', 'Segoe UI', sans-serif;
			} @else {
				font: $style normal $weight #{$size}/#{$lh} 'Roboto', 'Segoe UI', sans-serif;
			}
		}
	}

// -------------------------------------
//   Global Style Declarations
// -------------------------------------

	em { font-style: italic; }

	strong { font-weight: 700; }

	p, h1, h2, h3, h4, h5, h6 {
		margin: 0;

		-webkit-user-select: text !important;
		   -moz-user-select: text !important;
		    -ms-user-select: text !important;
				user-select: text !important;
	}

	p {
		@include font($lh: 1.25);
	}

	h1 {
		@include font($ff-sans, $fs-huge);
	}

	h2 {
		@include font($ff-sans, $fs-large);
	}

	h3 {
		@include font($ff-serif, $fs-medium);
	}

	h4 {
		@include font($ff-sans, $fs-regular, 500);
	}

	h5 {
		@include font($ff-sans, $fs-small, 500);
	}

	h6 {
		@include font($ff-sans, $fs-tiny, bold);
	}