// *************************************
//
//   base/_zindexes.scss
//   -> All key z-indexes defined in once place
//
// *************************************

// -------------------------------------
//   Z-Indexes (Keep In Order - Top To Bottom)
// -------------------------------------

	.apop-inline-ref-citation,
	.apop-confirm-dashboard-modal-backdrop {
		z-index: 110;
	}

	.apop-message-modal-backdrop, 
	.apop-platform-survey-modal-backdrop {
		z-index: 100;
	}

	.apop-manifest-update-modal-backdrop {
	  z-index: 120;
	}

	.apop-manifest-forced-modal-backdrop {
	  z-index: 120;
	}

	.apop-content-cache-update-modal-backdrop {
		z-index: 120;
  }

  .apop-session-expired-modal-backdrop {
    z-index: 120;
  }

	.apop-modal-sidebar {
		z-index: 96;
	}

	.apop-reference-viewer-modal-backdrop {
		z-index: 93;

		.apop-modal-content { z-index: 95; }
		.apop-modal-loader { z-index: 94; }
	}

	.apop-document-viewer-modal-backdrop {
		z-index: 90;

		.apop-modal-content { z-index: 92; }
		.apop-modal-loader { z-index: 91; }
	}

	.apop-sp-figure-viewer-modal-backdrop,
	.apop-sp-table-viewer-modal-backdrop {
		z-index: 85;
	}

	.apop-favorites-modal-backdrop {
		z-index: 80;
	}

	.apop-ask-platform-modal-backdrop {
		z-index: 70;
	}

	.apop-search-input {
		z-index: 20;
	}

	.apop-search-results {
		z-index: 15;
	}

	.apop-glossary-menu {
		z-index: 10;
	}
