<div class="apop-page apop-landing-page">

	<div class="apop-page-content">

		<h2 class="apop-page-title" bind-html-compile="buckets['medical-plan'].Title"></h2>
		<div>
			<p bind-html-compile="buckets['medical-plan'].Description"></p>
		</div>

		<div ng-if="document.id === 3" ng-repeat="document in documents" class="apop-page-references">
			<button ng-click="promptDisclaimer(document.id);" class="button button-block apop-button apop-pageref-button apop-evidence-button">{{document.Title}}</button>
		</div>


	</div>

</div>