<div class="apop-page apop-content-page">

	<div class="apop-page-content">

		<h2 class="apop-page-title" bind-html-compile="buckets['abbreviations'].Title"></h2>
		<div class="apop-page-description" bind-html-compile="buckets['abbreviations'].Description"></div>

		<div class="apop-lexicon-terms">

			<div class="apop-table-terms">
				<div class="apop-table-container">
					<table>
						<tr>
							<th>
								<p><strong>Abbreviation</strong></p>
							</th>
							<th>
								<p><strong>Definition</strong></p>
							</th>
						</tr>
						<tr ng-repeat="term in abbreviations | orderBy: 'Abbreviation' track by term.id">
							<td><p bind-html-compile="term.Abbreviation"></p></td>
							<td><p bind-html-compile="term.Definition"></p></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
