<div class="apop-page apop-content-page apop-lexicon-page">

	<div class="apop-page-content">

		<h2 class="apop-page-title" bind-html-compile="globallocal.scientific_lexicon.glossary.title"></h2>
		<div class="apop-page-description" bind-html-compile="globallocal.scientific_lexicon.glossary.description"></div>

		<div>

			<!-- - - - - - - - - - - - - - - - GLOSSARY - - - - - - - - - - - - - - - -->
			<div id="lexicon-glossary-container" class="apop-lexicon-glossary">
				<div class="apop-term-repeat-container">
					<div class="apop-term-repeat" ng-repeat="term in scientificlexicon.glossary.terms | sortByFirstCharacter:alphabet.character">
						<h3 class="apop-term-title" bind-html-compile="term.Term"></h3>
						<div class="apop-term-content" bind-html-compile="term.Definition"></div>
					</div>
				</div>
			</div>


		</div>




	</div>
</div>

<!-- - - - - - - - - - - - - - - - GLOSSARY MENU - - - - - - - - - - - - - - - -->
<div class="apop-glossary-menu apop-lexicon-glossary">
	<div id="alpha-menu" class="apop-alpha-menu-container">
		<div class="apop-alpha-menu" ng-click="scrollPageReset(); scrollMainToTop()">
			<label ng-repeat="letter in alpha = (['ALL', '#', 'A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'])">
				<input type="radio" name="radio_alpha" class="apop-alpha-menu-radio" ng-model="alphabet.character" value="{{letter}}" ng-checked="letter === alphabet.character"
				 ng-disabled="(scientificlexicon.glossary.terms | sortByFirstCharacter:letter).length < 1" />
				<button class="button apop-alpha-menu-button" ng-disabled="(scientificlexicon.glossary.terms | sortByFirstCharacter:letter).length < 1">{{letter}}</button>
			</label>
		</div>
	</div>
</div>
<!-- .apop-lexicon-glossary -->