<div class="apop-page apop-content-page">

	<div class="apop-page-content">

		<h2 class="apop-page-title" bind-html-compile="globallocal.scientific_lexicon.lexicon.title"></h2>
		<div class="apop-page-description" bind-html-compile="globallocal.scientific_lexicon.lexicon.description"></div>

		<div class="apop-lexicon-terms">

			<div class="apop-table-terms">
				<div class="apop-table-container">
					<table>
						<tr>
							<th>
								<p><strong>Preferred term</strong></p>
							</th>
							<th>
								<p><strong>Example</strong></p>
							</th>
							<th>
								<p>Rationale/rules for usage</p>
							</th>
						</tr>
						<tr ng-repeat="term in scientificlexicon.lexicon.terms">
							<td><p bind-html-compile="term.Term"></p></td>
							<td><p bind-html-compile="term.Example"></p></td>
							<td><p bind-html-compile="term.Rationale"></p></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>