<div class="apop-page apop-landing-page">

	<div class="apop-sidebar">
		<div ng-repeat="item in buckets['scientific-lexicon'].Sidebar track by item.id" class="apop-sidebar-block apop-sidebar-{{item.href}}">
			<h3 class="block-title" bind-html-compile="item.title"></h3>

			<p class="block-text" bind-html-compile="item.tagline"></p>

			<a class="button button-block apop-button apop-sidebar-button" ng-href="{{buckets['scientific-lexicon'].Route}}/{{item.href}}" ng-disabled="item.disabled" bind-html-compile="item.button"></a>
		</div>
	</div>

	<div class="apop-page-content">

		<h2 class="apop-page-title" bind-html-compile="buckets['scientific-lexicon'].Title"></h2>
		<div>
			<p bind-html-compile="buckets['scientific-lexicon'].Description"></p>
		</div>

		<div ng-if="document.id === 1" ng-repeat="document in documents" class="apop-page-references">
			<button ng-click="promptDisclaimer(document.id);" class="button button-block apop-button apop-pageref-button apop-evidence-button">{{document.Title}}</button>
		</div>


	</div>

</div>