// *************************************
//
//   layout/_breadcrumbing.scss
//   -> All breadcrumb-specific layout and style
//
// *************************************

// -------------------------------------
//   Global Breadcrumbing
// -------------------------------------

	.apop-global-bc {
		width: auto;
		height: $apop-bc-height;
		overflow: hidden;

		background: $apop-bc-bg;
		box-shadow: inset 0 -1px 0 0 #ebebeb;

		padding: $apop-gutter/2;
	}

// -------------------------------------
//   Breadcrumbing Content
// -------------------------------------

	$bc-button-height: $apop-bc-height - $apop-gutter;

	// UL ELEMENT
	.bc-content {
		@include clearfix;

		// LIST ITEM
		.bc-item {
			display: inline-block;
			float: left;

			min-height: $bc-button-height;
			max-height: $bc-button-height;

			margin-bottom: $apop-gutter/2;

			// ANCHOR ELEMENT
			.bc-button {
				min-height: $bc-button-height;
				max-height: $bc-button-height;

				@include font($ff-sans, $fs-fixed, 500, $bc-button-height);

				box-shadow: $apop-button-shadow,
							inset -1px 0 0 0 rgba(255,255,255,0.05);

				p {
					margin: 0;
					@include font($ff-sans, $fs-fixed, 500, $bc-button-height);
				}
			}

			.bc-button.activated {
				box-shadow: $apop-button-active-shadow,
							inset -1px 0 0 0 rgba(255,255,255,0.05);
			}

			// --- FIRST ITEM: Home Button --- //
			&:first-of-type {
				.bc-button {
					padding-left: 36px;

					&:before {
						content: $ionicon-var-home;
						@extend .ion;

						position: absolute;
						top: 8px; left: $apop-gutter;
						font-size: 22px;
					}
				}
			}

			&:nth-child(1) { .bc-button { background: $apop-bcbg-1; &:active{ background: darken($apop-bcbg-1, 10%); }}}
			&:nth-child(2) { .bc-button { background: $apop-bcbg-2; &:active{ background: darken($apop-bcbg-2, 10%); }}}
			&:nth-child(3) { .bc-button { background: $apop-bcbg-3; &:active{ background: darken($apop-bcbg-3, 10%); }}}
			&:nth-child(4) { .bc-button { background: $apop-bcbg-4; &:active{ background: darken($apop-bcbg-4, 10%); }}}
			&:nth-child(5) { .bc-button { background: $apop-bcbg-5; &:active{ background: darken($apop-bcbg-5, 10%); }}}

			// --- LAST ITEM: Current Page --- //
			&:last-of-type {
				.bc-button {
					cursor: default;
					background: none; box-shadow: none;

					color: $apop-primary;
					padding-left: 40px;

					&:before {
						content: $ionicon-var-chevron-right;
						@extend .ion;

						position: absolute;
						top: 8px; left: 16px;
						font-size: 24px;

						color: #d2d2d2;
					}

					&:link    { color: $apop-primary; background: none; box-shadow: none; }
					&:visited { color: $apop-primary; background: none; box-shadow: none; }
					&:hover   { color: $apop-primary; background: none; box-shadow: none; }
					&:active  { color: $apop-primary; background: none; box-shadow: none; }
				}

				.bc-button.activated {
					background: none; box-shadow: none;

					&:link    { color: $apop-primary; background: none; box-shadow: none; }
					&:visited { color: $apop-primary; background: none; box-shadow: none; }
					&:hover   { color: $apop-primary; background: none; box-shadow: none; }
					&:active  { color: $apop-primary; background: none; box-shadow: none; }
				}
			}
		} // .bc-item
	} // .bc-content
