// *************************************
//
//   layout/_dashboard.scss
//   -> Global dashboard layout & style
//
// *************************************

// -------------------------------------
//   Dashboard Global
// -------------------------------------

	.apop-dashboard-view {
		width: 100%;
		height: 100%;
	}

	.apop-dashboard {
		position: absolute;
		top: $apop-header-height + $apop-search-height + ($apop-gutter * 3);
		right: 0;
		bottom: 0;
		left: $apop-gutter;
	}
	
// -------------------------------------
//   Dashboard Layout
// -------------------------------------

	.apop-dashboard-grid {
		position: absolute;
		top: 0; left: 0; right: 0;
		bottom: $apop-dashboard-footer-height;
	}

// -------------------------------------
//   Dashboard Items
// -------------------------------------

	.apop-dashboard-item {
		position: absolute;
		width: 33.333%;

		padding-bottom: $apop-gutter;
		padding-right: $apop-gutter;

		&:nth-child(1) { top: 0; bottom: 50%; left: 0; }
		&:nth-child(2) { top: 0; bottom: 50%; left: 33.333%; }
		&:nth-child(3) { top: 0; bottom: 50%; left: 66.666%; }

		&:nth-child(4) { top: 50%; bottom: 0; left: 0 }
		&:nth-child(5) { top: 50%; bottom: 0; left: 33.333% }
		&:nth-child(6) { top: 50%; bottom: 0; left: 66.666% }
	}
// -------------------------------------
//   Dashboard Box
// -------------------------------------

	.apop-dashboard-box {
		text-decoration: none;
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;

		background: rgba(255,255,255,0.8);
		box-shadow: $apop-box-shadow;

		.apop-dashboard-item-header {
			cursor: pointer;
			min-height: $apop-dashboard-header-height;
			max-height: $apop-dashboard-header-height;

			background: $global-bg-color;
			box-shadow: 0 3px 4px -3px rgba(0,0,0,0.1);

			display: table;
			width: 100%;

			.item-icon {
				float: left;

				width: $apop-dashboard-header-iconsize;
				margin-top: $apop-gutter * 1.5;
				margin-left: $apop-gutter * 2;
				margin-right: $apop-gutter * 2;
			}

			.apop-dashboard-icon {
				display: table-cell;
				vertical-align: middle;

				font-size: $apop-dashboard-header-iconsize;

				padding-left: $apop-gutter + 3px;
				padding-right: $apop-gutter + 3px;

				&:before {
					@include gradientIcon($apop-primary, $apop-secondary);
				}

				.msie & {
					color: $apop-primary;

					&:before {
						background: none;
						-webkit-text-fill-color: $apop-primary;
					}
				}
			}

			.item-title {
				cursor: pointer;
				display: table-cell;
				vertical-align: middle;
				width: 100%;
				text-align: left;
				padding-right: $apop-gutter*2;

				color: $apop-black;
				text-transform: uppercase;
				// @include font($ff-sans, 1.125em, 700);
				@include font($ff-sans, $fs-medium, 700);
			}
		}

		.apop-dashboard-item-content {
			position: relative;
			height: 100%;	

			.count-container {
				width: 100%;
				position: absolute;
				top: 0;
				bottom: $apop-dashboard-header-height + $apop-gutter*5;
				overflow-y: hidden;

				.count-row {
					position: absolute;

					&:nth-child(1) { top: 0; }
					&:nth-child(2) { top: 50%; }

					display: table;
					width: 100%;
					height: 100%;
					padding: $apop-gutter/2 $apop-gutter;

					&:first-of-type { padding-top: $apop-gutter; }
					&:last-of-type { padding-bottom: $apop-gutter; }
				}

				.count-button {
					cursor: pointer !important;
					display: table;
					width: 100%;
					height: 100%;

					background-color: $apop-dashboard-button-bg;
					box-shadow: $apop-button-shadow;

					&:hover {
						background-color: $apop-dashboard-button-hover;

						.count-label { color: $apop-primary; }
					}

					.msie & { display: table-row; }

					.count-num {
						#apop-dashboard-box-a & {
							// background: transparent url(../images/dashboard-chapter-bg.png) no-repeat center right;
							// background-size: 40px 40px;

							@include media("<1010px") {
								display: none;
							}

							@include media("height<header-main-breakpoint") {
								// background: transparent url(../images/dashboard-chapter-bg.png) no-repeat center center;
								// background-size: 40px 40px;
							}
						}
						#apop-dashboard-box-c & {
							@include media("height<dashboard-quad-height") {
								// background: transparent url(../images/dashboard-count-bg.png) no-repeat center right;
								// background-size: 30px 30px;
							}
						}
					}
				} // .count-button

				.count-button.disabled {
					cursor: default !important;

					.count-num {
						// background: transparent url(../images/dashboard-count-disabled.png) no-repeat center right !important;
						// background-size: 40px 40px !important;

						#apop-dashboard-box-a & {
							@include media("<1180px") {
								// background: transparent url(../images/dashboard-reduced-disabled-bg.png) no-repeat center right !important;
								// background-size: 30px 30px !important;
							}

							@include media("height<830px") {
								// background: transparent url(../images/dashboard-reduced-disabled-bg.png) no-repeat center right !important;
								// background-size: 30px 30px !important;
							}
						}

						@include media("height<dashboard-quad-height") {
							background: transparent !important;
							background-image: none !important;
						}
					}

					.count-num,
					.count-label {
						color: rgba($light-text-color, 0.75);
					}

					&:hover {
						background-color: $apop-dashboard-button-bg;

						.count-num,
						.count-label {
							color: rgba($light-text-color, 0.75);
						}
					}
				} // count-button.disabled

				.count-num,
				.count-label {
					display: table-cell;
					vertical-align: middle;
				}

				.count-num {
					width: 25%;

					padding-right: 6px;
					text-align: right;
					color: $header-text-color;
					@include font($ff-sans, $fs-small, 700);
					letter-spacing: -1px;

					span {
						display: inline-block;
						width: 30px;
						text-align: center;

						&:before {
							content: '\e80f';
							font-family: "apop-fontello";
							font-size: 48px;

							font-style: normal;
							font-weight: normal;
							speak: none;
							font-variant: normal;
							text-transform: none;
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;

							@include gradientCircle($apop-primary, $apop-secondary);

							display: table-cell;
							vertical-align: middle;

							position: absolute;
							margin-top: -17px;
							margin-left: -8px;
							padding-right: 2px;

							.msie & {
								color: $apop-secondary;
								background: none;
								-webkit-text-fill-color: $apop-secondary;
							}
						}
					}

					.apop-icon-appendix {
						margin-right: -20px;
						width: 48px;
						font-size: 48px;

						&:before {
							width: 50px;
							@include gradientCircle($apop-primary, $apop-secondary);

							.msie & {
								color: $apop-secondary;
								background: none;
								-webkit-text-fill-color: $apop-secondary;
							}
						}
					}

					@include media("height<dashboard-quad-height") {
						background: transparent;
						background-image: none;
						@include font($ff-sans, $fs-regular, 700);
						letter-spacing: 0;
					}
				}

				.count-label {
					width: 75%;
					padding-left: $apop-gutter*2;
					padding-right: $apop-gutter;

					text-align: left;
					color: $global-text-color;
					@include font($ff-sans, $fs-regular, 700);
					text-transform: uppercase;
					letter-spacing: -0.5px;
				}

				.disabled-row {
					.count-num {
						color: $light-text-color;

						span {
							&:before {
								@include gradientCircle(rgba(0,0,0,0.25), rgba(0,0,0,0.2));
							}
						}

						@include media("height<dashboard-quad-height") {
							background: transparent;
							background-image: none;

							@include font($ff-sans, $fs-regular, 500);
							letter-spacing: 0;
						}
					}

					.count-label {
						color: $light-text-color;
					}
				}

				// ICONS IN COUNT NUM
				.count-icon-row {
					display: table;
					width: auto;
					margin: 0 auto;

					.apop-dashboard-icon {
						display: table-cell;
						vertical-align: middle;

						padding-right: $apop-gutter/2;
						font-size: $apop-dashboard-header-iconsize - 4px;

						&:before {
							@include gradientIcon($apop-secondary, $apop-primary);
						}

						.msie & {
							color: $apop-primary;

							&:before {
								background: none;
								-webkit-text-fill-color: $apop-primary;
							}
						}
					}

					.count-label {
						display: table-cell;
						vertical-align: middle;

						padding-left: $apop-gutter/2;
					}
				}
			} // .count-container

			.count-single {
				.count-row,
				.count-icon-row { height: 100%; }
			}

			.count-double {
				.count-row,
				.count-icon-row { height: 50%; }
			}

			.count-triple {
				.count-row,
				.count-icon-row { 
					height: 33.333%;

					&:nth-child(2) { top: 33.333%; }
					&:nth-child(3) { top: 66.666%; }

					.count-button .count-num {
						@include media("height<800px") {
							background: transparent url(../images/dashboard-reduced-count-bg.png) no-repeat center right;
							background-size: 30px 30px;

							span { width: 30px; }
						}

						@include media("height<dashboard-quad-height") {
							background: transparent;
							background-image: none;
						}
					}
				}
			}

			.count-quadruple {
				.count-row,
				.count-icon-row {
					display: list-item;
					height: 50%;

					.quad-container {
						display: table;
						float: left;

						overflow: visible;

						width: 50%;
						height: 100%;

						&:first-of-type { padding-right: $apop-gutter/2; }
						&:last-of-type { padding-left: $apop-gutter/2; }

						.count-button {
							box-shadow: $apop-button-shadow;
						}
					}

					@include clearfix();
				}

				// Switch to mini-blocks when to small (Width)
				@include media("<dashboard-quad-width") {
					.count-row {
						.quad-container {
							width: 100%;
							height: 50%;

							padding: 0 !important;

							&:first-of-type { padding-bottom: $apop-gutter/2 !important; }
							&:last-of-type { padding-top: $apop-gutter/2 !important; }

							@include media("height<dashboard-quad-text-height") {
								.count-button {
									.count-num,
									.count-label {
										font-size: $fs-small !important;
									}
								}
							}

							@include media("height<dashboard-quad-wide-height") {
								.count-button .count-num {
									background: transparent;
									background-image: none;
								}
							}
						}
					}
				}

				// Switch to mini-blocks when to small (Height)
				@include media("height<dashboard-quad-height") {
					.count-row {
						top: 0 !important;
						width: 50% !important;
						height: 100% !important;

						&:first-of-type { padding: $apop-gutter 0 $apop-gutter $apop-gutter !important; }
						&:last-of-type { padding: $apop-gutter $apop-gutter $apop-gutter 0 !important; left: 50% !important; }

						.quad-container {
							width: 50% !important;
							height: 100% !important;
							margin: 0 !important;
							padding: 0 !important;

							&:first-of-type { padding: 0 !important; }
							&:last-of-type { padding: 0 !important; }

							display: block !important;
							float: left !important;

							.count-button {
								.count-num { display: none; }
								.count-label {
									text-overflow: ellipsis;
									padding: 0 $apop-gutter/2 !important;
									text-align: center;
									font-size: $fs-tiny !important;
									letter-spacing: -1px;
								}
							}
						}
					}
				}

			} // .count-quadruple

			.count-list {
				// bottom: $apop-dashboard-header-height;
				padding: $apop-gutter/2;

				overflow: hidden;

				column-count: 2;
				column-gap: 0;

				bottom: 70px;

				.count-item {
					height: 33.333%;
					padding: $apop-gutter/2;

					.count-item-child {
						display: block;
						float: left;

						height: 100%;
						width: 100%;

						.count-button .count-label span {
							letter-spacing: -1.5px;
						}

						.icon {
							position: relative;
							color: $apop-primary;


							&::before {     
								position: absolute;
								top: 60px;
								font-size: 20px; 
							}
						}

					}				

					// SECTION OVERVIEW OVERRIDE
					.link-button-container {
						display: block;
						position: relative;
						width: 100%;
						height: 100%;

						.apop-dashboard-link-button {
							top: 0; right: 0; bottom: 0; left: 0;

							display: table;
							width: 100%;
							height: 100%;

							.apop-dashboard-link-button-content {
								display: table-cell;
								vertical-align: middle;

								.icon {
									position: relative;

									&::before { top: -14px; }
								}
							}
						}
					}

					// Layout Fix for IE 10+
					.msie & {
						.count-button {
							display: table;
						}
					}

					// WIDTH MEDIA QUERIES
					@include media("<1330px") {
						.count-button {
							.count-num, .count-label {
								font-size: $fs-regular;
							}
						}
					}

					@include media("<1300px") {
						.count-button {
							.count-label {
								padding-left: $apop-gutter;
							}
						}
					}

					@include media("<1150px") {
						.count-item-child {
							.count-button {
								.count-num, .count-label {
									font-size: $fs-regular;
								}
							}
						}
					}

					@include media("<1060px") {
						.count-item-child {
							.count-button {
								.count-num { width: 23%; }
								.count-label {
									width: 77%;
									padding-left: $apop-gutter/2;
								}
							}
						}

						.count-button {
							.count-num { width: 20%; }
							.count-label { width: 80%; }
						}
					}

					@include media("<980px") {
						.count-button {
							.count-label {
								padding-left: $apop-gutter !important;
							}
						}
					}

				} // .count-item

			} // .count-list

		} // .apop-dashboard-item-content

		.apop-dashboard-link-button {
			@extend .apop-button;

			position: absolute;
			left: $apop-gutter;
			right: $apop-gutter;
			bottom: $apop-dashboard-header-height + $apop-gutter;

			text-align: center;
			text-transform: uppercase;
			padding: $apop-gutter $apop-gutter/2;

			.apop-dashboard-link-button-content {
				display: block;
				margin: 0 auto;
				width: auto;

				p, i { display: inline-block; }

				p {
					color: $apop-black;
					padding: 0 $apop-gutter/2;
					font-weight: 700;
					font-size: $fs-small;
				}

				i:before {
					position: absolute;
					top: $apop-gutter;
					font-size: $apop-gutter*2;
				}
			}

			&:hover {
				background: $apop-primary;
				box-shadow: $apop-table-shadow;

				p, i { color: $global-white; }
			}
		}

		.apop-dashboard-link-button.disabled {
			cursor: default !important;
			opacity: 0.333;
			&:hover {
				background: none;
			}
		}

		.apop-dashboard-link-button.activated {
			background: darken($apop-secondary, 10%);
			box-shadow: $apop-button-active-shadow;
		}

	} // .apop-dashboard-box


	.apop-dashboard-background {
		.apop-dashboard-item-content {
			display: table;
			width: 100%;

		}


		.apop-dashboard-section-content {
			display: table-cell;
			vertical-align: middle;
	
			background-position: center;
			background-repeat: no-repeat;

			width: auto;
			height: auto;
			overflow: hidden;
			padding: 0 6% 115px 6%;

			.count-num, .apop-dashboard-section-details {
				visibility: hidden;
			}

			.coming-soon {
				visibility: visible;
				color: $light-text-color;
				text-align: center;
				@include font($ff-sans, $fs-regular, 700);
				text-transform: uppercase;
				letter-spacing: -0.5px;
			}
		}
	
	}
// -------------------------------------
//   Dashboard Congress
// -------------------------------------

.apop-dashboard-congress {

	.apop-dashboard-item-content {
		display: table;
		width: 100%;
	}

	.apop-dashboard-congress-content {
		display: table-cell;
		vertical-align: middle;

		background-position: center;
		background-repeat: no-repeat;

		width: auto;
		height: auto;
		overflow: hidden;
		padding: 0 6% 115px 6%;

		.apop-dashboard-congress-caption {
			margin-bottom: $apop-gutter/2 !important;

			color: lighten($global-text-color, 10%);
			@include font($ff-sans, $fs-tiny, bold);
			text-transform: uppercase;
		}

		.apop-dashboard-congress-logo-container {
			float: left;
			width: 20%;

			.apop-dashboard-congress-logo {
				width: 100%;
				height: auto;
			}
		}

		.apop-dashboard-congress-details {
			width: 100%;
			overflow: hidden;
			padding-left: 0;
			padding-top: $apop-gutter/2;

			p { text-shadow: 0 0 3px $global-white; }

			.apop-dashboard-congress-header {
				margin-bottom: $apop-gutter/2;

				color: $global-text-color;
				@include font($ff-sans, $fs-reduced);
			}

			.apop-dashboard-congress-title {
				margin-bottom: $apop-gutter/2;

				color: $global-text-color;
				@include font($ff-sans, $fs-regular, 500);
			}

			.apop-dashboard-congress-date,
			.apop-dashboard-congress-location {
				display: inline-block;

				@include font($ff-sans, $fs-small, 500);
			}

			.apop-dashboard-congress-date { color: $apop-tertiary; }
			.apop-dashboard-congress-location { color: $apop-primary; padding-left: 0.5em; }
		}

		.apop-dashboard-congress-logo-container + .apop-dashboard-congress-details {
			width: 80%;
			padding-left: $apop-gutter;
		}
	}

	.apop-dashboard-link-button {
		right: $apop-gutter*2;
		bottom: $apop-gutter*2;
	}

	@include media("height>dashboard-congress-expand-height") {
		.apop-dashboard-congress-content {
			padding-bottom: $apop-dashboard-header-height + $apop-gutter*5;

			.apop-dashboard-congress-details {
				.apop-dashboard-congress-header,
				.apop-dashboard-congress-title {
					margin-bottom: $apop-gutter;
					font-size: $fs-medium;
				}

				.apop-dashboard-congress-date,
				.apop-dashboard-congress-location {
					font-size: $fs-regular;
					display: block;
				}

				.apop-dashboard-congress-location { padding: 0.5em 0 0 0; }
			}
		}
	}

	@include media("height<dashboard-cutoff-height") {
		.apop-dashboard-congress-content {
			position: relative;
			height: 100%;
			padding: 0 6% $apop-gutter*8 6%;
		}
	}
}

// -------------------------------------
//   Dashboard Footer
// -------------------------------------

.apop-dashboard-footer,
.apop-dashboard-footer-background {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	min-height: $apop-dashboard-footer-height;
	max-height: $apop-dashboard-footer-height;
}

.apop-dashboard-footer-background {
	right: $apop-gutter;
	background: rgba(255,255,255,0.8);
	box-shadow: $apop-box-shadow;
}

// -------------------------------------
//   Dashboard Footer Item
// -------------------------------------

.apop-dashboard-footer-item {
	position: absolute;
	// float: left;
	width: 50%;

	// padding: $apop-gutter/2;
	// padding-right: $apop-gutter;

	// &:nth-child(2) { padding-left: 0; }
	// &:nth-child(3) { padding-left: 0; padding-right: $apop-gutter*1.5; }
	padding-bottom: $apop-gutter;
	padding-right: $apop-gutter;

	&:nth-child(1) { top: 0; left: 0; }
	&:nth-child(2) { top: 0; left: 50%; }

	.apop-dashboard-footer-item-box {
		text-decoration: none;
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background: $apop-button-color;
		box-shadow: $apop-button-shadow;	
	}


}

// -------------------------------------
//   Dashboard Footer Box
// -------------------------------------

.apop-dashboard-footer-box {
	text-align: center;
	display: table;
	width: 100%;
	min-height: $apop-dashboard-footer-height - $apop-gutter;
	max-height: $apop-dashboard-footer-height - $apop-gutter;


	.apop-dashboard-footer-box-content-wrapper {
		display: table-cell;
		vertical-align: middle;

		.apop-dashboard-footer-box-content {
			position: relative;
			display: table;
			margin: 0 auto;

			.item-icon {
				display: table-cell;
				vertical-align: middle;

				width: $apop-dashboard-header-iconsize;
				margin-left: $apop-gutter;
				margin-right: $apop-gutter;
			}

			.item-title {
				display: table-cell;
				vertical-align: middle;
				text-align: left;

				color: $apop-primary;
				@include font($ff-sans, $fs-regular, 500);
			}

			// --- PRIME ALERTS INDICATOR --- //
			.apop-platform-alert-indicator {
				position: absolute;
				top: -5px;
				left: 40px;

				width: $apop-platform-alert-indicator-size;
				height: $apop-platform-alert-indicator-size;

				background: $apop-primary;
				border-radius: $apop-platform-alert-indicator-size;

				.apop-platform-alert-count {
					width: $apop-platform-alert-indicator-size;
					height: $apop-platform-alert-indicator-size;

					color: $global-white;
					@include font($ff-sans, $fs-tiny, bold);

					text-align: center;
					line-height: $apop-platform-alert-indicator-size;

					.msie & { padding-top: 1px; }
				}
			}
		}
	}

	&:hover {
		box-shadow: $apop-table-shadow;

		.apop-dashboard-footer-box-content {
			.item-title {
				color: $apop-secondary;
			}
		}
	}
}

.apop-dashboard-footer-box.disabled {
	cursor: default !important;

	.apop-dashboard-footer-box-content-wrapper {
		opacity: 0.333;
	}

	&:hover {
		box-shadow: $apop-button-shadow;

		.apop-dashboard-footer-box-content {
			.item-title {
				color: $apop-primary;
			}
		}
	}
}

.apop-dashboard-footer-box.activated {
	box-shadow: $apop-button-active-shadow;
}