// *************************************
//
//   layout/_global.scss
//   -> Global app interface layout
//
// *************************************

// -------------------------------------
//   Apop Globals
// -------------------------------------

	.apop-global-wrapper {
		position: absolute;
		width: 100%;

		top: 0;
		right: 0;
		bottom: $apop-gutter;
		left: 0;
	}

	.apop-global-view {
		position: absolute;
		top: $apop-header-height + $apop-search-height + ($apop-gutter * 3);
		right: $apop-gutter;
		bottom: 0;
		left: $apop-gutter;

		padding-bottom: $apop-bc-height;

		background: $apop-box-bg;
		box-shadow: $apop-box-shadow;

		// MIXIN FOR WHEN ON DESKTOP - TURN OFF IONIC SCROLL
		@mixin globalViewDisableTouchScroll() {
			.scroll-view {
				overflow: visible;
				position: static;
				margin: 0;

				.scroll {
					transform: none !important;
					transform-origin: 50% 50% 0;
					user-select: auto;
					text-size-adjust: auto;
				}

				.scroll-bar { display: none; }
			}

			.scroll-y {
				overflow-y: scroll;
			}
		}

		// WHEN ON DESKTOP - TURN OFF IONIC SCROLL
		.platform-linux & { @include globalViewDisableTouchScroll(); }
		.platform-macintel & { @include globalViewDisableTouchScroll(); }
		.platform-edge & { @include globalViewDisableTouchScroll(); }
		.platform-win32 & { @include globalViewDisableTouchScroll(); }
		.platform-win64 & { @include globalViewDisableTouchScroll(); }

		.apop-scroll-content {
			width: auto;
			height: 100%;
		}
	}