// *************************************
//
//   layout/_header.scss
//   -> All header-specific layout and style
//
// *************************************

// -------------------------------------
//   Header Global
// -------------------------------------

	.apop-global-header {
		margin: $apop-gutter;
		margin-bottom: $apop-gutter + 1;
		height: $apop-header-height;

		background: $apop-box-bg;
		box-shadow: $apop-box-shadow;

		.apop-global-header-content {
			float: left;
			width: auto;
			
			.company-logo {
				$company-logo-width: 68px;
				$company-logo-height: 66px;

				width: $company-logo-width;
				height: $company-logo-height;

				margin-left: $apop-gutter * 2;
				margin-top: ($apop-header-height - $company-logo-height) / 2;

				background: transparent url(../images/company-header-logo.png) no-repeat top left;
				background-size: $company-logo-width $company-logo-height;

				@include media("<header-wide-breakpoint") {
					width: $company-logo-width/2;
					margin-top: ($apop-header-height - ($company-logo-height/2)) / 2;
					background-size: ($company-logo-width / 2) ($company-logo-height / 2);
				}

				@include media("<header-hide-breakpoint") {
					display: none;
				}
			}
		}

		.apop-global-header-buttons,
		.apop-global-header-toggle {
			float: right;
			width: 232px;
			// width: 306px;
			height: 100%;
			padding: $apop-gutter/2;
			
			background: rgba(0,0,0,0.04);
			border-left: 1px solid rgba(0,0,0,0.05);
		}

		.apop-global-header-toggle {
			float: left;
			width: 81px;

			border-left: none;
			border-right: 1px solid rgba(0,0,0,0.05);
		}

		.apop-global-header-logo {
			$header-logo-width: 633px;
			$header-logo-height: 80px;

			position: absolute;
			top: $apop-gutter + ($apop-header-height - $header-logo-height) / 2;
			left: 50%;

			width: $header-logo-width;
			height: $header-logo-height;

			margin-left: -($header-logo-width / 2);

			background: transparent url(../images/platform-header-logo.png) no-repeat top left;
			background-size: $header-logo-width $header-logo-height;

			@include media("width<header-main-breakpoint") {
				background: transparent url(../images/platform-header-logo.png) no-repeat center left;
				background-size: ($header-logo-width * 0.85) ($header-logo-height * 0.85);
			}

			@include media("width<header-logo-breakpoint") {
				left: initial;
				right: 238px;
			}
		}


		.apop-platform-title {
			display: table;
			min-width: 250px;
			height: 100%;
			margin: 0 auto;

			.apop-platform-title-content {
				padding: 0 $apop-gutter*2;
				display: table-cell;
				vertical-align: middle;

				@include font();
				text-align: center;
				text-transform: uppercase;

				.compound,
				.indication {
					@include font($ff-sans, $fs-enlarged, bold);
					white-space: nowrap;
				}

				.indication {
					color: $apop-primary;
				}

				.title {
					display: block;
					margin-top: $apop-gutter/2;

					@include font($ff-sans, $fs-medium);
					letter-spacing: 1px;
					white-space: nowrap;
				}

				@include media("width<header-main-breakpoint") {
					.compound,
					.indication {
						@include font($ff-sans, $fs-medium, bold);
					}

					.title {
						@include font($ff-sans, $fs-regular);
					}
				}
			}
		}

		@include clearfix;
	}

// -------------------------------------
//   Header Buttons
// -------------------------------------

	.apop-header-button {
		float: left;
		padding: 0;
		text-align: center;

		min-height: $apop-header-height - $apop-gutter;
		max-height: $apop-header-height - $apop-gutter;
		min-width: 70px;
		max-width: 70px;

		margin-right: $apop-gutter / 2;
		&:last-of-type { margin-right: 0; }

		.icon {
			display: inline-block;
			margin: $apop-small-icon-size/2 0;

			width: $apop-small-icon-size;
			height: $apop-small-icon-size;
			border-radius: $apop-small-icon-size;

			&:before {
				color: $apop-button-color;
				font-size: $apop-small-icon-size * 0.6875;
				line-height: $apop-small-icon-size * 0.875;
			}
		}

		h6 {
			padding: 0 $apop-gutter/2;

			font-weight: 700;
			font-size: $font-size-base * 0.75;
			color: $global-text-color;
		}

		&:hover {
			box-shadow: $apop-table-shadow;

			h6 { color: $apop-secondary; }
		}
	}

	.apop-alert-btn {

		.item-icon {
			margin: 16px 0 0 0;
		}
	}

	// --- PRIME ALERTS INDICATOR --- //
	.apop-platform-alert-indicator {
		position: absolute;
		top: 8px;
		left: 40px;

		width: $apop-platform-alert-indicator-size;
		height: $apop-platform-alert-indicator-size;

		background: $apop-primary;
		border-radius: $apop-platform-alert-indicator-size;

		.apop-platform-alert-count {
			width: $apop-platform-alert-indicator-size;
			height: $apop-platform-alert-indicator-size;

			color: $global-white;
			@include font($ff-sans, $fs-tiny, bold);

			text-align: center;
			line-height: $apop-platform-alert-indicator-size;

			.msie & { padding-top: 1px; }
		}
	}


	.apop-toggle-btn {
		.icon {
			background-color: $apop-gray;

			&:before { transform: scaleX(-1) rotate(-90deg) translateX(1px) translateY(1px); }
		}

		&:hover {
			h6 { color: $apop-gray; }
		}
	}

	.apop-askplatform-download-btn {
		.icon {
			background-color: $apop-primary;
		}

		&:hover {
			h6 { color: $apop-primary; }
		}		
	}

	.apop-ask-platform-btn {
		.icon {
			background-color: mix($apop-primary, $apop-secondary, 66.666%);
		}

		&:hover {
			h6 { color: mix($apop-primary, $apop-secondary, 66.666%); }
		}
	}

	.apop-favorites-btn {
		.icon {
			background-color: mix($apop-primary, $apop-secondary, 33.333%);
		}

		&:hover {
			h6 { color: mix($apop-primary, $apop-secondary, 33.333%); }
		}
	}

	.apop-log-out-btn {
		.icon {
			background-color: $apop-secondary;
		}

		&:hover {
			h6 { color: $apop-secondary; }
		}
	}
