// *************************************
//
//   layout/_loader.scss
//   -> All loader page-specific layout and style
//
// *************************************

// -------------------------------------
//   Loader Container
// -------------------------------------

	.apop-loader-container {
		width: 100%;
		height: 100%;
	}

// -------------------------------------
//   Loader Box
// -------------------------------------

	.apop-loader-box {
		margin: 100px auto;

		width: 320px;
		height: 400px;

		background: $apop-box-bg;
		box-shadow: $apop-box-shadow;

		border-top: 4px solid $apop-primary;
		border-bottom: 4px solid $apop-secondary;
	}

// -------------------------------------
//   Loader Content
// -------------------------------------

	.apop-loader-content {
		position: relative;
		height: 100%;

		text-align: center;
		padding: $apop-gutter * 2;

		.loader-header-logo {
			margin: $apop-gutter 0;
		}

		.loader-welcome {
			margin: $apop-gutter*5 0 0 0;
		}

		.apop-loader-progressbar {
			display: block;
			width: 100%;
			margin: $apop-gutter*4 0 0 0;

			background: darken($apop-statement-bg, 2.5%);
			box-shadow: $apop-statement-shadow;

			.apop-loader-bar-container,
			.apop-loader-filebar-container {
				display: block;
				width: 100%;
			}

			.apop-loader-indeterminate {
				width: 100%;
				position: relative;
				overflow: hidden;
				background-color: #ddd;

				&:before {
					display: block;
					position: absolute;
					content: "";
					left: -200px;
					width: 200px;
					height: 4px;
					background-color: $apop-primary;
					animation: loading 2s linear infinite;
				}

				@keyframes loading {
					from { left: -200px; width: 30%;}
					 50% { width: 30%;}
					 70% { width: 70%;}
					 80% { left: 50%; }
					 95% { left: 120%;}
					  to { left: 100%;}
				}
			}

			.apop-loader-bar-container {
				p {
					position: absolute;
					left: 0; right: 0;
					width: 100%;
					text-align: center;

					@include font($ff-sans, $fs-small, bold, $apop-gutter*2);
					color: $global-white;
					text-shadow: 1px 1px 2px $apop-secondary,
								-1px 1px 2px $apop-secondary,
								 1px -1px 2px $apop-secondary,
								-1px -1px 2px $apop-secondary;
				}
			}

			.apop-loader-bar,
			.apop-loader-filebar {
				display: block;
				width: 0%;
			}

			.apop-loader-bar {
				background-color: $apop-secondary;
				height: $apop-gutter*2;
			}

			.apop-loader-filebar {
				height: 4px;
				background-color: $apop-primary;
			}
		}

		.login-company-logo {
			position: absolute;
			bottom: $apop-gutter * 2;

			left: 82%;
			margin-left: -135px;
		}

		.apop-platform-title {
			margin-top: $apop-gutter;

			@include font();
			text-align: center;
			text-transform: uppercase;

			.compound,
			.indication {
				@include font($ff-sans, $fs-medium, bold);
				white-space: nowrap;
			}

			.indication {
				color: $apop-primary;
			}

			.title {
				display: block;
				margin-top: $apop-gutter/2;

				@include font($ff-sans, $fs-regular);
				letter-spacing: 1px;
				white-space: nowrap;
			}
		}
	}