// *************************************
//
//   layout/_login.scss
//   -> All login page-specific layout and style
//
// *************************************

// -------------------------------------
//   Phone Message
// -------------------------------------

	.apop-phone-message-container {
		display: none;

		.apop-phone-message {
			width: 280px;
			margin: $apop-gutter*2;

			background: $apop-box-bg;
			box-shadow: $apop-box-shadow;
			border-radius: $apop-gutter;

			p {
				padding: $apop-gutter*2;
				text-align: center;
				@include font($ff-sans, $fs-regular, 500, 1.25, italic);
			}
		}

		@include media("<global-min-width") {
			display: table;
		}
	}


// -------------------------------------
//   Login Container
// -------------------------------------

	.apop-login-container {
		width: 100%;
		height: 100%;

		@include media("<global-min-width") {
			display: none;
		}
	}

// -------------------------------------
//   Login Box
// -------------------------------------

	.apop-login-box {
		margin: 100px auto;

		width: 320px;
		height: 470px;

		background: $apop-box-bg;
		box-shadow: $apop-box-shadow;

		border-top: 4px solid $apop-primary;
		border-bottom: 4px solid $apop-secondary;
	}

// -------------------------------------
//   Login Content
// -------------------------------------

	.apop-login-content {
		position: relative;
		height: 100%;

		text-align: center;
		padding: $apop-gutter * 2;

		.login-header-logo {
			margin: $apop-gutter 0;
		}

		.login-welcome {
			margin: $apop-gutter*4 0 $apop-gutter*2 0;
		}

		.login-message {
			margin-bottom: 4em;
		}

		.login-alt-link {
			font-size: $fs-small;

			&:link { color: $apop-primary; }
			&:visited { color: $apop-primary; }
			&:hover { color: $apop-secondary; }
			&:active { color: $apop-primary; }
		}

		.alt-login-container {
			padding: 0 $apop-gutter;

			.list-inset {
				margin-left: 0;
				margin-right: 0;
			}

			.apop-dark-button {
				text-transform: uppercase;

				&:hover {
					background: $apop-secondary;
				}
			}
		}

		p {
			position: absolute;
			bottom: $apop-gutter * 12;
			left: 0; right: 0;

			width: 100%;
			text-align: center;
			font-size: $fs-tiny;
		}

		.login-company-logo {
			position: absolute;
			bottom: $apop-gutter * 2;

			left: 82%;
			margin-left: -135px;
		}

		.apop-platform-title {
			margin-top: $apop-gutter;

			@include font();
			text-align: center;
			text-transform: uppercase;

			.compound,
			.indication {
				@include font($ff-sans, $fs-medium, bold);
				white-space: nowrap;
			}

			.indication {
				color: $apop-primary;
			}

			.title {
				display: block;
				margin-top: $apop-gutter/2;

				@include font($ff-sans, $fs-regular);
				letter-spacing: 1px;
				white-space: nowrap;
			}
		}
	}