// *************************************
//
//   layout/_page.scss
//   -> Global page style, content-agnostic
//
// *************************************

// -------------------------------------
//   Page Global
// -------------------------------------

	.apop-page {
		max-width: $apop-page-max-width;
		margin: 0 auto;
		padding: 0 $apop-page-gutter;
	}

// -------------------------------------
//   Page Types
// -------------------------------------

	.apop-landing-page,
	.apop-submessages-page,
	.apop-content-page {
		.apop-page-content {
			overflow: hidden;

			.apop-page-title {
				margin: 1em 0;

				color: $header-text-color;
				@include font($ff-serif, 2em);
			}

			h3 { margin-bottom: 1em; }

			.apop-page-description p,
			p {
				margin-bottom: 1em;

				color: $header-text-color;
				@include font($ff-serif, $fs-regular, normal, 1.5);
			}

			.apop-page-description { margin-bottom: 2em; }
		}
	}

// -------------------------------------
//   References Page
// -------------------------------------

	.apop-references-page {
		padding-top: 3em;
	}

// -------------------------------------
//   Submessages Page
// -------------------------------------

	.apop-submessages-page {
		.apop-page-content {
			.apop-page-title {
				@include font($ff-serif, 1.5em, normal, 1.333);
			}
		}
	}

// -------------------------------------
//   Content Page
// -------------------------------------

	.apop-content-page {
		.apop-page-content {
			p {
				margin: 0;
				color: $global-text-color;
				@include font($ff-sans, $fs-reduced, normal, 1.25);
			}
		}
	}