// *************************************
//
//   layout/_searchbar.scss
//   -> All search input specific layout and style
//
// *************************************

// -------------------------------------
//   Search Global
// -------------------------------------

	.apop-global-search {
		margin: $apop-gutter;
		height: $apop-search-height;

		background: $apop-box-bg;
		box-shadow: $apop-box-shadow;
	}

// -------------------------------------
//   Search Bar Content
// -------------------------------------

	// --- Ionic Overrides --- //
	.apop-global-search-content {
		.list {
			padding: 0;

			.item-input-inset { padding: $apop-gutter; }

			.item {
				border: none;
				background: none;

				.item-input-wrapper {
					padding-left: $apop-gutter;
					border-radius: 0;
					font-size: 28px;

					height: 40px;
					min-height: 40px;
					max-height: 40px;

					background-color: $apop-input-background;
					box-shadow: inset 0 0 $apop-gutter rgba(0,0,0,0.05),
								inset 0 0 0 1px rgba(0,0,0,0.05);

					.icon {
						line-height: $apop-gutter;

						&:before { font-size: $fs-tiny; }
					}

					input { width: 100%; }

					.msie & {
						.icon:before { margin-top: 8px; }
						input { margin-top: 4px; }
					}
				}

				.item-input-wrapper ~ .button {
					margin-left: 0;
				}
			}
		}
	}

	// --- Search Button --- //
	.apop-search-button {
		cursor: pointer;
		padding: 0 $apop-gutter*2;

		min-height: $apop-search-height - $apop-gutter - $apop-gutter;
		max-height: $apop-search-height - $apop-gutter - $apop-gutter;

		background: $apop-primary;
		&:hover { background: $apop-secondary; }
	}

	.apop-search-button.activated {
		box-shadow: $apop-button-active-shadow;
	}

	.apop-search-button[disabled] {
		opacity: 1;
		color: $apop-gray-disabled;
		background: $apop-gray;
		&:hover { background: $apop-gray; }
	}

// -------------------------------------
//   Search Results Container
// -------------------------------------

	.apop-search-results {
		position: fixed;
		min-width: $global-min-width - $apop-gutter*2;

		top: $apop-header-height + $apop-gutter*3;
		height: 0;
		left: $apop-gutter;
		right: $apop-gutter;
		overflow: hidden;

		transition: height 0.5s ease-out;
	}

	.apop-search-results-tray {
		position: absolute;
		left: $apop-gutter;
		right: $apop-gutter;

		transition: transform 0.5s ease-out;
		transform: translate3d(0px, -420px, 0px);

		height: $apop-search-results-height;
		overflow: hidden;

		background: $apop-modal-bg;
		box-shadow: $apop-search-results-shadow;

		.apop-search-results-header {
			display: table;
			margin-top: $apop-gutter * 4;

			width: 100%;
			height: $apop-search-header-height;

			// DISPLAYING RESULTS STATE
			.apop-search-header-title {
				display: table-cell;
				vertical-align: top;
				height: $apop-search-header-height;
				overflow: hidden;

				.apop-search-header-caption {
					padding: 15px $apop-page-gutter 0 $apop-page-gutter;

					color: $superlight-text-color;
					@include font($ff-sans, $fs-tiny, bold);
					text-transform: uppercase;

					span { color: $apop-secondary; }
				}

				.apop-search-header-query {
					padding: $apop-page-gutter/2 $apop-page-gutter;

					color: $search-query-text-color;
					@include font($ff-sans, $fs-medium);
				}
			}

			// NOT YET SEARCHED STATE
			.apop-search-header-title.apop-empty-state,
			.apop-search-header-title.apop-entered-state,
			.apop-search-header-title.apop-searching-state {
				.apop-search-header-caption {
					padding: 1px 0 0 $apop-page-gutter;

					@include font($ff-sans, $fs-small, normal, $apop-search-header-height);
					color: $superlight-text-color;
					text-transform: uppercase;

					.state-action {
						color: $superlight-text-color;

						&:before {
							content: 'CLICK';
						}

						.platform-ipad &:before {
							content: 'TAP';
						}
					}

					.state-object {
						color: $superlight-text-color;
						font-weight: 500;
					}
				}
			}

			// CURRENTLY SEARCHING STATE
			.apop-search-header-title.apop-searching-state {
				.icon {
					float: left;

					@keyframes spin {
						0% { transform: rotate(0deg); }
						100% { transform: rotate(359deg); }
					}
					animation: spin 1s infinite linear;

					&:before {
						padding-left: $apop-page-gutter;
						padding-right: $apop-page-gutter;

						font-size: $fs-xlarge;
						line-height: $apop-search-header-height;
					}
				}

				.apop-search-header-caption { padding-left: 0; }
			}

			.apop-search-close-button-wrapper {
				display: table-cell;
				vertical-align: top;
				width: $apop-search-close-button-width;
				height: $apop-search-header-height;
				text-align: right;
			}
		}

		.apop-search-header-break {
			clear: both;
			padding: 0 $apop-page-gutter;
			height: 1px;
			width: 100%;

			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 1px;
				background: $apop-search-results-break;
			}
		}

		.apop-search-results-scroll {
			position: absolute;
			top: $apop-search-height*2 + 1px;
			bottom: 0;

			width: 100%;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			overflow-x: hidden;

			// WHEN ON DESKTOP - TURN OFF IONIC SCROLL
			@include disableTouchScroll();

			.platform-linux,
			.platform-macintel, 
			.platform-win32 & {
				.scroll-view { height: auto !important; }
			}

			.apop-search-results-content {
				padding: 0 $apop-page-gutter/2 $apop-page-gutter/2 $apop-page-gutter;

				// --- BEGIN: SEARCH RESULTS CONTENT --- //

				.apop-search-results-content-sectionheader {
					margin: $apop-gutter*2 0 $apop-gutter*1.5 0;

					color: $search-sectionheader-text-color;
					@include font($ff-sans, $fs-small, 500);
					text-transform: uppercase;

					span { color: $apop-primary; }
				}
				.apop-search-results-content-sectionheader.no-bottom-margin {
					margin-bottom: 0;
				}

				.apop-search-results-content-lexicon-container {
					margin-top: $apop-gutter;
					display: table;
					table-layout: fixed;
					width: 100%;

					.apop-search-results-content-lexicon-column {
						display: table-cell;
						vertical-align: top;

						.lexicon-column-header {
							margin: 4px 0 6px 12px;

							@include font($ff-sans, $fs-small);
							text-transform: uppercase;
						}

						.apop-search-results-item-button {
							margin: 0;
							min-height: 0;

							.display-name,
							.title { padding-right: $apop-gutter; }
						}

						.lexicon-additional-results {
							.heading {
								display: inline;
								margin-right: $apop-gutter/2;
								padding-left: 12px;

								color: $medium-text-color;
								@include font($ff-sans, $fs-tiny, 500, 1, italic);
							}

							.apop-search-results-item-button {
								display: inline-block;
								min-width: 0;
								min-height: 0;
								line-height: 1;

								.display-name {
									display: block;
									text-overflow: ellipsis;
								}
							}
						}
					}
				}

				.apop-tag-repeat {
					display: inline-block;
					margin-right: 4px;
				}

				.apop-subtag-repeat {
					display: inline-block;
					margin-right: 4px;

					&:last-of-type {
						margin-right: 0;
					}
				}

				.apop-search-results-displaymore {
					display: block;
					width: 100%;
					text-align: center;
					color: $apop-primary;

					a { color: $apop-primary; }

					.apop-search-results-displaymore-label {
						padding: $apop-gutter/2;
						display: inline-block;
						background-color: $apop-modal-bg;

						color: $apop-primary;
						@include font($ff-sans, $fs-tiny, bold, 1, italic);

						.count { color: $apop-secondary; }

						&:hover {
							color: $apop-secondary;
							.count { color: $apop-primary; }
						}
					}

					&:before {
						content: '';
						
						position: absolute;
						top: 11px;
						left: 0;
						right: 0;
						height: 1px;
						z-index: -1;

						background: linear-gradient(90deg, rgba(0,0,0,0) 10%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0) 90%);
					}
				}

				.apop-search-no-results {
					width: 100%;
					margin-top: $apop-gutter * 10;

					.apop-search-no-results-content {
						display: table;
						width: auto;
						margin: 0 auto;

						.icon,
						.apop-search-no-results-message {
							display: table-cell;
							vertical-align: middle;
							color: lighten($superlight-text-color, 35%);
						}

						.icon {
							padding-right: $apop-gutter;
							font-size: 4em;
						}

						.apop-search-no-results-message {
							padding-left: $apop-gutter;
							letter-spacing: 1px;
						}
					}
				}

				// --- END: SEARCH RESULTS CONTENT --- //
			}
		}
	}

	.apop-search-results.apop-display-results {
		height: $apop-search-results-height + $apop-gutter*2;

		.apop-search-results-tray {
			transform: translate3d(0px, 0px, 0px);
		}
	}

// -------------------------------------
//   Close Search Button
// -------------------------------------

	.apop-search-close-button {
		@extend .apop-clear-button;

		padding: 0;
		height: $apop-search-header-height;
		line-height: $apop-search-header-height !important;
		color: $superlight-text-color;
		text-transform: uppercase;
		text-align: right;

		i {
			float: right;
			display: block;
			height: $apop-search-header-height;

			&:before {
				padding-left: $apop-page-gutter !important;
				padding-right: $apop-page-gutter !important;

				font-size: $apop-search-header-height !important;
				line-height: $apop-search-header-height !important;
			}
		}

		&:hover {
			color: $apop-primary;
		}
	}

// -------------------------------------
//   Search Results Item Button
// -------------------------------------

	.apop-search-results-item-button {
		@extend .apop-clear-button;

		width: 100%;
		padding: 0;
		margin: $apop-gutter 0;
		text-align: left;

		.icon {
			margin: 0;
			width: 52px;

			float: left;
			color: $apop-secondary;
			text-align: center;

			&:before {
				font-size: 36px;
				line-height: 36px;
			}
		}

		.display-name, .title {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			sup, sub {
				display: none;
			}
		}

		.display-name {
			margin: 4px 0 2px 0;

			color: $superlight-text-color;
			@include font($ff-sans, $fs-tiny, bold);
			text-transform: uppercase;

			.bc-1 { color: $apop-bcbg-1; }
			.bc-2 { color: $apop-bcbg-2; }
			.bc-3 { color: $apop-bcbg-3; }
			.bc-4 { color: $apop-bcbg-4; }
			.bc-5 { color: $apop-bcbg-5; }
		}

		.title {
			color: $search-query-text-color;
			@include font($ff-sans, $fs-regular, 500);

			.search-term { font-weight: bold; }
		}

		&:hover {
			.icon, .display-name, .title,
			.bc-1, .bc-2, .bc-3, .bc-4, .bc-5 {
				color: $apop-primary;
			}
		}
	}