// http://meyerweb.com/eric/tools/css/reset/
// v2.0 | 20110126
// License: none (public domain)

@mixin meyer-reset {
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	// HTML5 display-role reset for older browsers
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote {
		&:before, &:after {
			content: "";
			content: none;
		}
	}

	q {
		&:before, &:after {
			content: "";
			content: none;
		}
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	sub,
	sup,
	small {
		font-size: 75%;
	}

	sup, sub { height: 0; line-height: 1; vertical-align: baseline; _vertical-align: bottom; position: relative; }
	sup { bottom: 1ex; }
	sub { top: .5ex; }

	sub {
		bottom: -0.25em;
	}

	sup {
		top: -0.5em;
	}
}

@mixin clearfix {
	&::after {
		clear: both;
		content: "";
		display: table;
	}
}

@include meyer-reset;